Documentation/Archive/Daily Email - Final - CORRECTED.json
{
  "name": "Daily Email - Final",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 4
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1120,
        96
      ],
      "id": "0db14fc3-bdf5-475f-afff-4b1adf904342",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "jsCode": "// Get data from the trigger\nconst triggerData = $input.item.json;\n\n// Extract the date components we need\nconst dayOfWeek = triggerData['Day of week'];\nconst year = triggerData.Year;\nconst month = triggerData.Month;\nconst dayOfMonth = triggerData['Day of month'];\n\n// Create readable today format\nconst today = `${dayOfWeek}, ${month} ${parseInt(dayOfMonth)}, ${year}`;\n\n// Create month/day format for database lookups\nconst monthDay = `${new Date(`${month} 1, ${year}`).getMonth() + 1}/${parseInt(dayOfMonth)}`;\n\n// Create API date format (MM-DD) for Catholic Readings API\nconst monthNum = (new Date(`${month} 1, ${year}`).getMonth() + 1).toString().padStart(2, '0');\nconst dayNum = dayOfMonth.padStart(2, '0');\nconst apiDateFormat = `${monthNum}-${dayNum}`;\n\n// Benedictine themes by day of week\nconst themes = {\n  'Sunday': 'Worship & Community',\n  'Monday': 'Humility & Simplicity',\n  'Tuesday': 'Stability',\n  'Wednesday': 'Listening',\n  'Thursday': 'Hospitality & Kindness',\n  'Friday': 'Sacrifice & Repentance',\n  'Saturday': 'Rest & Beauty'\n};\n\n// Create USCCB date format (MMDDYY)\nconst yearShort = year.slice(-2);\nconst usccbDate = `${monthNum}${dayNum}${yearShort}`;\n\nconsole.log(`Processing date: ${today}`);\nconsole.log(`Month/Day format: ${monthDay}`);\nconsole.log(`API format: ${apiDateFormat}`);\nconsole.log(`USCCB format: ${usccbDate}`);\n\nreturn [{\n  today: today,\n  dayOfWeek: dayOfWeek,\n  monthDay: monthDay,\n  apiDateFormat: apiDateFormat,\n  theme: themes[dayOfWeek] || 'Prayer',\n  usccbLink: `https://bible.usccb.org/bible/readings/${usccbDate}.cfm`,\n  year: year,\n  month: month,\n  dayOfMonth: dayOfMonth\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -896,
        96
      ],
      "id": "494513c6-04c1-4265-8e19-0a34e209c334",
      "name": "Format Date"
    },
    {
      "parameters": {
        "url": "=https://cpbjr.github.io/catholic-readings-api/readings/2025/{{ $json.apiDateFormat }}.json",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -672,
        96
      ],
      "id": "00a32594-fc34-49d6-ab90-9de09adced74",
      "name": "Get Readings"
    },
    {
      "parameters": {
        "url": "=https://cpbjr.github.io/catholic-readings-api/saints/2025/{{ $('Format Date').item.json.apiDateFormat }}.json",
        "options": {
          "response": {}
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -448,
        96
      ],
      "id": "c47228b0-b34c-40b9-8fd6-c9be62a6bda3",
      "name": "Get Saint",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.saint.name }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "notEmpty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Saint Found"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.data }}",
                    "rightValue": "Page not found",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "No Saint"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -224,
        96
      ],
      "id": "14d3de93-8cb8-4343-8b71-b3e9eaf44f81",
      "name": "Switch"
    },
    {
      "parameters": {
        "jsCode": "// Merge readings with saint data - get data from the correct sources\nconst readings = $('Get Readings').first().json;\nconst saints = $input.first().json;\nconst dateInfo = $('Format Date').first().json;\n\nconsole.log('Readings data:', readings);\nconsole.log('Saints data:', saints);\nconsole.log('Date info:', dateInfo);\n\nreturn [{\n  ...dateInfo,\n  readings: readings.readings,\n  season: readings.season,\n  usccbLink: readings.usccbLink,\n  saint: saints.saint,\n  hasSaint: true\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "cf44f77f-d410-4651-a67b-1f3ac22acc9e",
      "name": "Merge with Saint"
    },
    {
      "parameters": {
        "jsCode": "// Continue with readings only (no saint for today)\nconst readings = $('Get Readings').item.json;\nconst dateInfo = $('Format Date').item.json;\n\nreturn [{\n  ...dateInfo,\n  readings: readings.readings,\n  season: readings.season,\n  usccbLink: readings.usccbLink,\n  saint: null,\n  hasSaint: false\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        192
      ],
      "id": "d81ac0ec-8c46-4703-acc5-6bcf99a103df",
      "name": "Continue without Saint"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Provide the Catholic Mass readings for the day, a brief contextual summary of the readings, a brief summary of the saint of the day (if present), a daily prayer, a reflection on a Benedictine theme with a practical spiritual challenge inspired by the Rule of St. Benedict, and three historical events that occurred on this date.\n\n**Date & Theme:**\n- Today: {{ $json.today }}\n- Day: {{ $json.dayOfWeek }}\n- Benedictine Theme: {{ $json.theme }}\n\n**Liturgical Information:**\n- Season: {{ $json.season }}\n- First Reading: {{ $json.readings.firstReading }}\n- Psalm: {{ $json.readings.psalm }}\n{{ $json.readings.secondReading ? '- Second Reading: ' + $json.readings.secondReading : '' }}\n- Gospel: {{ $json.readings.gospel }}\n- USCCB Link: {{ $json.usccbLink }}\n\n**Celebration Information:**\n- Has Celebration Today: {{ $json.hasSaint }}\n{{ $json.saint ? '- Celebration: ' + $json.saint.name + ' (' + $json.saint.type + ')' : '' }}\n{{ $json.saint ? '- Quote: \"' + $json.saint.quote + '\"' : '' }}\n{{ $json.saint ? '- Description: ' + $json.saint.description : '' }}\n{{ $json.saint ? '- Celebration Type: ' + $json.saint.type : '' }}\n\nDeliver only the verse citations for readings (no full text). Provide a brief contextual insight about how today's readings connect thematically (2-3 sentences). Provide an historical summary for each of the 3 historical events.\n\nUse the Benedictine theme for {{ $json.dayOfWeek }} ({{ $json.theme }}) - ensure the reflection and challenge align with the day's readings and theme.\n\nFor historical events, select significant moments (preferably with spiritual, cultural, or moral relevance) from this date in history. Cite reliable sources.",
        "options": {
          "systemMessage": "You are a Catholic spiritual director creating daily reflections. You MUST return valid JSON (not JavaScript object syntax). Your response must be a properly formatted JSON string with double quotes around all keys and string values.\n\nReturn exactly this JSON structure:\n{\n  \"spiritualFocus\": \"brief focus for spiritual growth\",\n  \"readingsContext\": \"2-3 sentence contextual insight connecting today's readings thematically\",\n  \"celebrationName\": \"celebration name or null\",\n  \"celebrationType\": \"Saint|Feast|Memorial|Solemnity|Optional Memorial|null\",\n  \"celebrationContent\": \"content appropriate to celebration type or null\",\n  \"celebrationLink\": \"Wikipedia or relevant URL or null\",\n  \"sectionTitle\": \"appropriate section title or null\",\n  \"reflection\": \"spiritual reflection on today's theme and readings\",\n  \"practicalChallenge\": \"practical action for today\",\n  \"prayer\": \"short prayer for the day\",\n  \"historicalEvents\": [\n    {\"year\": \"YYYY\", \"event\": \"brief description\", \"summary\": \"2-3 sentence historical summary\", \"source\": \"source citation\"},\n    {\"year\": \"YYYY\", \"event\": \"brief description\", \"summary\": \"2-3 sentence historical summary\", \"source\": \"source citation\"},\n    {\"year\": \"YYYY\", \"event\": \"brief description\", \"summary\": \"2-3 sentence historical summary\", \"source\": \"source citation\"}\n  ]\n}\n\nFor celebration handling:\n\nIF CELEBRATION TYPE IS SAINT (personal feast days):\n- celebrationName: Saint's name and title (e.g., \"St. Peter Claver, Jesuit missionary\")\n- celebrationType: \"Saint\"\n- celebrationContent: 2-3 sentence biography of their life and significance\n- celebrationLink: Wikipedia URL for the saint (e.g., \"https://en.wikipedia.org/wiki/Peter_Claver\")\n- sectionTitle: \"Saint of the Day\"\n\nIF CELEBRATION TYPE IS FEAST/SOLEMNITY (liturgical celebrations):\n- celebrationName: Exact celebration name (e.g., \"Exaltation of the Holy Cross\")\n- celebrationType: The type from input (\"Feast\", \"Solemnity\", etc.)\n- celebrationContent: 2-3 sentence theological explanation of the celebration's significance\n- celebrationLink: Relevant Wikipedia or Catholic resource URL\n- sectionTitle: \"Liturgical Celebration\"\n\nIF NO CELEBRATION (ordinary days):\n- celebrationName: null\n- celebrationType: null\n- celebrationContent: null\n- celebrationLink: null\n- sectionTitle: null\n\nFor readingsContext field:\n- Provide 2-3 sentences explaining the thematic connection between today's readings\n- Focus on how the readings work together to convey a unified spiritual message\n- Be insightful but concise\n\nFor historical events:\n- CRITICAL: At least one event MUST be from either 1972 or 1992 (prioritize finding historically significant events from these years)\n- Select 3 total significant events from this date in history\n- Prefer events with spiritual, cultural, or moral relevance\n- Provide year, brief event title, 2-3 sentence summary, and source citation\n- Use reliable historical sources\n\nIMPORTANT: Use only double quotes, no single quotes. No unquoted keys. No trailing commas. Valid JSON only."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        224,
        96
      ],
      "id": "12674ef2-053f-477d-8e3f-3d9afdfcfc87",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "jsCode": "// Parse AI Agent JSON output\nconst rawOutput = $input.first().json.output;\n\n// Clean and parse the JSON\nlet cleanedOutput = rawOutput.replace(/\\\\n/g, ' ');\nlet parsedOutput;\n\ntry {\n  parsedOutput = JSON.parse(cleanedOutput);\n} catch (error) {\n  return [{\n    error: 'JSON parsing failed',\n    rawOutput: rawOutput,\n    errorMessage: error.message\n  }];\n}\n\n// Return clean fields with new celebration structure and readingsContext\nreturn [{\n  spiritualFocus: parsedOutput.spiritualFocus || 'No spiritual focus available',\n  readingsContext: parsedOutput.readingsContext || 'No readings context available',\n  celebrationName: parsedOutput.celebrationName || null,\n  celebrationType: parsedOutput.celebrationType || null,\n  celebrationContent: parsedOutput.celebrationContent || null,\n  celebrationLink: parsedOutput.celebrationLink || null,\n  sectionTitle: parsedOutput.sectionTitle || null,\n  reflection: parsedOutput.reflection || 'No reflection available',\n  practicalChallenge: parsedOutput.practicalChallenge || 'No practical challenge available',\n  prayer: parsedOutput.prayer || 'No prayer available',\n  historicalEvents: parsedOutput.historicalEvents || []\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        576,
        96
      ],
      "id": "8c253b1e-9b72-4614-8b25-5d53752919d9",
      "name": "Parse AI Output"
    },
    {
      "parameters": {
        "jsCode": "// Get parsed AI data and other node data\nconst spiritualFocus = $input.first().json.spiritualFocus;\nconst readingsContext = $input.first().json.readingsContext;\nconst celebrationName = $input.first().json.celebrationName;\nconst celebrationType = $input.first().json.celebrationType;\nconst celebrationContent = $input.first().json.celebrationContent;\nconst celebrationLink = $input.first().json.celebrationLink;\nconst sectionTitle = $input.first().json.sectionTitle;\nconst reflection = $input.first().json.reflection;\nconst practicalChallenge = $input.first().json.practicalChallenge;\nconst prayer = $input.first().json.prayer;\nconst historicalEvents = $input.first().json.historicalEvents || [];\n\nconst dateInfo = $('Format Date').first().json;\nconst readingsData = $('Get Readings').first().json;\n\n// Calculate liturgical calendar day\nconst today = new Date();\nconst dayOfWeek = today.getDay();\nconst weekNames = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'];\nconst dayName = weekNames[dayOfWeek];\n\n// Helper function for ordinal numbers\nfunction getOrdinalNumber(n) {\n  const ordinals = ['', 'First', 'Second', 'Third', 'Fourth', 'Fifth', 'Sixth', 'Seventh', 'Eighth', 'Ninth', 'Tenth',\n    'Eleventh', 'Twelfth', 'Thirteenth', 'Fourteenth', 'Fifteenth', 'Sixteenth', 'Seventeenth', 'Eighteenth',\n    'Nineteenth', 'Twentieth', 'Twenty-first', 'Twenty-second', 'Twenty-third', 'Twenty-fourth', 'Twenty-fifth',\n    'Twenty-sixth', 'Twenty-seventh', 'Twenty-eighth', 'Twenty-ninth', 'Thirtieth', 'Thirty-first', 'Thirty-second', 'Thirty-third', 'Thirty-fourth'];\n  return ordinals[n] || (n + 'th');\n}\n\n// Simple liturgical week calculation\nconst startOfYear = new Date(today.getFullYear(), 0, 1);\nconst dayOfYear = Math.floor((today - startOfYear) / (24 * 60 * 60 * 1000));\nconst weekOfYear = Math.floor(dayOfYear / 7) + 1;\n\n// During Ordinary Time (rough approximation)\nlet liturgicalDay = '';\nif (weekOfYear >= 6 && weekOfYear <= 32) {\n  const ordinaryWeekNum = Math.floor((weekOfYear - 5));\n  liturgicalDay = `${dayName} of the ${getOrdinalNumber(ordinaryWeekNum)} Week in Ordinary Time`;\n} else {\n  liturgicalDay = `${dayName} in ${readingsData.season}`;\n}\n\n// Build second reading line\nconst secondReadingLine = readingsData.readings.secondReading ?\n  '<strong>Second Reading:</strong> ' + readingsData.readings.secondReading + '<br>' : '';\n\n// Handle celebration section with dynamic title and content based on type\nconst celebrationSection = celebrationName ?\n  '<div style=\"margin-bottom: 35px;\"><h3 style=\"color: #2980b9; font-size: 1.3em; margin-bottom: 15px; text-transform: uppercase; letter-spacing: 1px; font-weight: normal;\">' + sectionTitle + '</h3><h4 style=\"color: #34495e; font-size: 1.1em; margin-bottom: 10px; font-weight: bold;\">' + celebrationName + '</h4><p style=\"line-height: 1.8; font-size: 16px; color: #34495e; margin-bottom: 15px;\">' + celebrationContent + '</p>' + (celebrationLink ? '<p><a href=\"' + celebrationLink + '\" style=\"color: #3498db; text-decoration: none;\">Learn more →</a></p>' : '') + '</div>' : '';\n\n// Build historical events section\nlet historicalSection = '';\nif (historicalEvents && historicalEvents.length > 0) {\n  historicalSection = '<div style=\"margin-bottom: 35px;\"><h3 style=\"color: #2980b9; font-size: 1.3em; margin-bottom: 15px; text-transform: uppercase; letter-spacing: 1px; font-weight: normal;\">On This Day in History</h3>';\n\n  historicalEvents.forEach((event, index) => {\n    historicalSection += '<div style=\"margin-bottom: 20px;\">';\n    historicalSection += '<h4 style=\"color: #34495e; font-size: 1.05em; margin-bottom: 8px; font-weight: bold;\">' + event.year + ' - ' + event.event + '</h4>';\n    historicalSection += '<p style=\"line-height: 1.8; font-size: 16px; color: #34495e; margin-bottom: 5px;\">' + event.summary + '</p>';\n    historicalSection += '<p style=\"font-size: 14px; color: #7f8c8d; font-style: italic;\">Source: ' + event.source + '</p>';\n    historicalSection += '</div>';\n  });\n\n  historicalSection += '</div>';\n}\n\n// Build HTML content with REORDERED sections: Historical Events moved to END before footer\n// New order: Readings → Focus → Saint → Reflection → Prayer → HISTORICAL EVENTS → Footer\nconst htmlContent = '<!DOCTYPE html><html><head><meta charset=\"utf-8\"><meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\"><title>Daily Benedictine Reflection</title></head><body style=\"margin: 0; padding: 0; font-family: Georgia, Times New Roman, serif; background-color: #f8f9fa; color: #2c3e50;\"><div style=\"max-width: 800px; margin: 0 auto; background-color: #ffffff; box-shadow: 0 2px 10px rgba(0,0,0,0.1);\"><div style=\"background: linear-gradient(135deg, #34495e 0%, #2c3e50 100%); color: white; padding: 40px 20px; text-align: center;\"><h1 style=\"margin: 0; font-size: 2.5em; font-weight: normal; letter-spacing: 2px;\">Daily Benedictine Reflection</h1></div><div style=\"background-color: #ecf0f1; padding: 20px; text-align: center; border-bottom: 1px solid #bdc3c7;\"><div style=\"display: inline-flex; align-items: center; gap: 30px;\"><span style=\"color: #34495e; font-size: 14px; text-transform: uppercase; letter-spacing: 1px; font-weight: bold;\">' + liturgicalDay + '</span></div></div><div style=\"padding: 40px;\"><div style=\"text-align: center; margin-bottom: 40px;\"><div style=\"width: 60px; height: 3px; background-color: #3498db; margin: 20px auto;\"></div></div><div style=\"margin-bottom: 35px;\"><h3 style=\"color: #2980b9; font-size: 1.3em; margin-bottom: 15px; text-transform: uppercase; letter-spacing: 1px; font-weight: normal;\">Today\\'s Readings</h3><div style=\"margin-bottom: 15px;\"><strong>First Reading:</strong> ' + readingsData.readings.firstReading + '<br><strong>Psalm:</strong> ' + readingsData.readings.psalm + '<br>' + secondReadingLine + '<strong>Gospel:</strong> ' + readingsData.readings.gospel + '</div><p style=\"line-height: 1.8; font-size: 16px; color: #34495e; margin-top: 20px;\">' + readingsContext + '</p></div><div style=\"margin-bottom: 35px;\"><h3 style=\"color: #2980b9; font-size: 1.3em; margin-bottom: 15px; text-transform: uppercase; letter-spacing: 1px; font-weight: normal;\">Today\\'s Focus: ' + dateInfo.theme + '</h3><p style=\"line-height: 1.8; font-size: 16px; color: #34495e;\">' + spiritualFocus + '</p></div>' + celebrationSection + '<div style=\"margin-bottom: 35px;\"><h3 style=\"color: #2980b9; font-size: 1.3em; margin-bottom: 15px; text-transform: uppercase; letter-spacing: 1px; font-weight: normal;\">Reflection & Challenge</h3><p style=\"line-height: 1.8; font-size: 16px; color: #34495e;\">' + reflection + '</p><p style=\"line-height: 1.8; font-size: 16px; color: #34495e; margin-top: 20px;\"><strong style=\"font-weight: bold; color: #2980b9;\">Practical Spiritual Challenge:</strong> ' + practicalChallenge + '</p></div><div style=\"background: linear-gradient(135deg, #f8f9fa 0%, #ecf0f1 100%); padding: 30px; border-radius: 8px; text-align: center; border: 1px solid #bdc3c7;\"><h3 style=\"color: #2980b9; font-size: 1.3em; margin-bottom: 15px; text-transform: uppercase; letter-spacing: 1px; font-weight: normal;\">Daily Prayer</h3><p style=\"line-height: 1.8; font-size: 16px; color: #34495e; font-style: italic;\">' + prayer + '</p></div>' + historicalSection + '</div><div style=\"background-color: #34495e; color: #ecf0f1; padding: 30px; text-align: center;\"><p style=\"margin: 0; font-size: 14px;\">Ora et Labora<br><a href=\"' + readingsData.usccbLink + '\" style=\"color: #3498db; text-decoration: none;\">View Today\\'s Official Readings</a></p></div></div></body></html>';\n\nreturn [{\n  htmlContent: htmlContent,\n  subject: 'Daily Benedictine Reflection - ' + dateInfo.today\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        96
      ],
      "id": "f36e3d4a-3e35-4801-93ca-72357758503d",
      "name": "Build HTML"
    },
    {
      "parameters": {
        "fromEmail": "christopher.bisgaard@gmail.com",
        "toEmail": "cpbjr@mac.com",
        "subject": "=Daily Spiritual Email for  {{ $('Format Date').item.json.today }}",
        "html": "={{ $json.htmlContent }}",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        1008,
        96
      ],
      "id": "56910194-802c-483f-84a8-512100ab5f0a",
      "name": "Send email",
      "credentials": {
        "smtp": {
          "id": "t5muBt48UrDocNe8",
          "name": "Google SMTP account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "claude-sonnet-4-20250514",
          "mode": "list",
          "cachedResultName": "Claude Sonnet 4"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        224,
        272
      ],
      "id": "35d75ff6-0581-41c3-b07c-96ec81a4c8ca",
      "name": "Anthropic Chat Model",
      "credentials": {
        "anthropicApi": {
          "id": "2aF0cyQGQbQLkSby",
          "name": "Anthropic account"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Format Date",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Date": {
      "main": [
        [
          {
            "node": "Get Readings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Readings": {
      "main": [
        [
          {
            "node": "Get Saint",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Saint": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Merge with Saint",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Continue without Saint",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge with Saint": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Continue without Saint": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Parse AI Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse AI Output": {
      "main": [
        [
          {
            "node": "Build HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build HTML": {
      "main": [
        [
          {
            "node": "Send email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {}
}
