Prior attemps/Daily_Summary_FIXED.json
{
  "name": "Daily Summary - FIXED",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 4
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1168,
        192
      ],
      "id": "68dfc29b-4bab-4089-a412-e3624590fd97",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "jsCode": "// Get data from the trigger\nconst triggerData = $input.item.json;\n\n// Extract the date components we need\nconst dayOfWeek = triggerData['Day of week'];\nconst year = triggerData.Year;\nconst month = triggerData.Month;\nconst dayOfMonth = triggerData['Day of month'];\n\n// Create readable today format\nconst today = `${dayOfWeek}, ${month} ${parseInt(dayOfMonth)}, ${year}`;\n\n// Create month/day format for database lookups\nconst monthDay = `${new Date(`${month} 1, ${year}`).getMonth() + 1}/${parseInt(dayOfMonth)}`;\n\n// Create API date format (MM-DD) for Catholic Readings API\nconst monthNum = (new Date(`${month} 1, ${year}`).getMonth() + 1).toString().padStart(2, '0');\nconst dayNum = dayOfMonth.padStart(2, '0');\nconst apiDateFormat = `${monthNum}-${dayNum}`;\n\n// Benedictine themes by day of week\nconst themes = {\n  'Sunday': 'Worship & Community',\n  'Monday': 'Humility & Simplicity',\n  'Tuesday': 'Stability',\n  'Wednesday': 'Listening',\n  'Thursday': 'Hospitality & Kindness',\n  'Friday': 'Sacrifice & Repentance',\n  'Saturday': 'Rest & Beauty'\n};\n\n// Create USCCB date format (MMDDYY)\nconst yearShort = year.slice(-2);\nconst usccbDate = `${monthNum}${dayNum}${yearShort}`;\n\nreturn {\n  today: today,\n  dayOfWeek: dayOfWeek,\n  monthDay: monthDay,\n  apiDateFormat: apiDateFormat,\n  theme: themes[dayOfWeek] || 'Prayer',\n  usccbLink: `https://bible.usccb.org/bible/readings/${usccbDate}.cfm`,\n  year: year,\n  month: month,\n  dayOfMonth: dayOfMonth\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1008,
        192
      ],
      "id": "c2b9b6a1-17b1-459c-9cd1-1fa6b936aa74",
      "name": "Format Date"
    },
    {
      "parameters": {
        "url": "=https://cpbjr.github.io/catholic-readings-api/readings/2025/{{ $json.apiDateFormat }}.json",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -816,
        192
      ],
      "id": "3c1d0fcb-0b6f-499c-a1d3-8819639514d8",
      "name": "Get Readings"
    },
    {
      "parameters": {
        "url": "=https://cpbjr.github.io/catholic-readings-api/saints/2025/{{ $('Format Date').item.json.apiDateFormat }}.json",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -608,
        192
      ],
      "id": "cd75ee6e-8d6f-4995-b805-47e63de2ebd1",
      "name": "Get Saint",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// Merge readings with saint data\nconst readings = $('Get Readings').first().json;\nconst saints = $input.first().json;\nconst dateInfo = $('Format Date').first().json;\n\nreturn {\n  ...dateInfo,\n  readings: readings.readings,\n  season: readings.season,\n  usccbLink: readings.usccbLink,\n  saint: saints.saint,\n  hasSaint: true\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -192,
        272
      ],
      "id": "c59c11a3-bbec-4968-ba4a-c3d64639f0a3",
      "name": "Merge with Saint"
    },
    {
      "parameters": {
        "jsCode": "// Continue with readings only (no saint for today)\nconst readings = $('Get Readings').item.json;\nconst dateInfo = $('Format Date').item.json;\n\nreturn {\n  ...dateInfo,\n  readings: readings.readings,\n  season: readings.season,\n  usccbLink: readings.usccbLink,\n  saint: null,\n  hasSaint: false\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -192,
        128
      ],
      "id": "9e623132-b4c3-4f33-9f63-09c837ed199c",
      "name": "Continue without Saint"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.data }}",
                    "rightValue": "Page not found",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "33282f06-d9c9-4ca1-ab81-aca62c5a8d6a"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "No Saint"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "0c6d3d38-b30e-4bc5-9e7c-e3b3804b1010",
                    "leftValue": "={{ $json.saint.name }}",
                    "rightValue": "saint",
                    "operator": {
                      "type": "string",
                      "operation": "notEmpty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Saint Found"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -416,
        192
      ],
      "id": "7c8e86f6-8176-44e8-bdfa-128bea93fa44",
      "name": "Switch"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Create today's Benedictine daily summary using this data:\n\n**Date & Theme:**\n- Today: {{ $json.today }}\n- Day: {{ $json.dayOfWeek }}\n- Benedictine Theme: {{ $json.theme }}\n\n**Liturgical Information:**\n- Season: {{ $json.season }}\n- First Reading: {{ $json.readings.firstReading }}\n- Psalm: {{ $json.readings.psalm }}\n{{ $json.readings.secondReading ? '- Second Reading: ' + $json.readings.secondReading : '' }}\n- Gospel: {{ $json.readings.gospel }}\n- USCCB Link: {{ $json.usccbLink }}\n\n**Saint Information:**\n- Has Saint Today: {{ $json.hasSaint }}\n{{ $json.saint ? '- Saint: ' + $json.saint.name + ' (' + $json.saint.type + ')' : '' }}\n{{ $json.saint ? '- Quote: \"' + $json.saint.quote + '\"' : '' }}\n{{ $json.saint ? '- Description: ' + $json.saint.description : '' }}\n\nGenerate the spiritual reflection following the structured format, integrating the Benedictine theme with today's readings and saint (if present). Include a practical spiritual challenge related to {{ $json.theme }}.",
        "options": {
          "systemMessage": "You are a Catholic spiritual director and follower of Saint Benedict, deeply familiar with the Rule of Saint Benedict and its wisdom for daily Christian living. Create daily reflections that integrate Benedictine spirituality with the liturgical calendar.\n\nSTRUCTURE:\n1. SPIRITUAL FOCUS: Based on the Benedictine theme, drawing from the Rule's wisdom\n2. LITURGICAL READINGS: Brief spiritual insight connecting the readings to Benedictine principles\n3. SAINT OF THE DAY: Skip entirely if hasSaint=false. Only include if hasSaint=true.\n4. REFLECTION: Connect today's Benedictine theme with the readings, incorporating insights from the Rule. DO NOT include the practical challenge here - it goes in a separate field.\n5. PRACTICAL CHALLENGE: A separate, specific daily challenge based on today's theme\n6. PRAYER: Short, personal prayer in the Benedictine spirit of \"Ora et Labora\" (pray and work)\n\nBENEDICTINE APPROACH:\n- Emphasize balance, moderation, and mindful presence\n- Reference concepts like stability, conversion, obedience, humility\n- Connect daily work and prayer as unified spiritual practice\n- Draw from the Rule's practical wisdom for Christian living\n\nSPIRITUAL CHALLENGES should be:\n- Practical and achievable within a single day\n- Connected to the daily Benedictine theme\n- Actionable (e.g., \"practice listening without interrupting,\" \"offer silent service to someone\")\n\nTONE: Warm, spiritual, encouraging, grounded in monastic wisdom\nLENGTH: 200-300 words total\n\nCRITICAL: Respond with a JSON object (not a JSON string). Your response should be structured data, not text containing JSON."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        16,
        192
      ],
      "id": "516fef97-2e3f-4c68-9e71-7a2f98706bfc",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "grok-4-0709",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatXAiGrok",
      "typeVersion": 1,
      "position": [
        0,
        368
      ],
      "id": "d479de71-7ed6-4c86-8bc6-668bd4b705bf",
      "name": "xAI Grok Chat Model",
      "credentials": {
        "xAiApi": {
          "id": "7oPPlHxdf6c1gi7K",
          "name": "xAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Format the AI output into beautiful HTML email\nconst aiOutput = JSON.parse($input.first().json.output);\nconst dateInfo = $('Format Date').first().json;\nconst readingsData = $('Get Readings').first().json;\n\n// Build second reading line\nconst secondReadingLine = readingsData.readings.secondReading ?\n  '<strong>Second Reading:</strong> ' + readingsData.readings.secondReading + '<br>' : '';\n\n// Handle saint section - adapt to current AI output format\nconst saintSection = aiOutput.saintOfTheDay ?\n  '<div style=\"margin-bottom: 35px; background-color: #fff3cd; padding: 25px; border-left: 4px solid #f39c12;\"><h3 style=\"color: #d68910; font-size: 1.3em; margin-bottom: 15px; text-transform: uppercase; letter-spacing: 1px; font-weight: normal;\">Saint of the Day</h3><p style=\"line-height: 1.8; font-size: 16px; color: #34495e;\">' + aiOutput.saintOfTheDay + '</p></div>' : '';\n\n// Build HTML content using string concatenation to avoid template literal issues\nconst htmlContent = '<!DOCTYPE html><html><head><meta charset=\"utf-8\"><meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\"><title>Daily Benedictine Reflection</title></head><body style=\"margin: 0; padding: 0; font-family: Georgia, Times New Roman, serif; background-color: #f8f9fa; color: #2c3e50;\"><div style=\"max-width: 800px; margin: 0 auto; background-color: #ffffff; box-shadow: 0 2px 10px rgba(0,0,0,0.1);\"><div style=\"background: linear-gradient(135deg, #34495e 0%, #2c3e50 100%); color: white; padding: 40px 20px; text-align: center;\"><h1 style=\"margin: 0; font-size: 2.5em; font-weight: normal; letter-spacing: 2px;\">Daily Benedictine Reflection</h1></div><div style=\"background-color: #ecf0f1; padding: 20px; text-align: center; border-bottom: 1px solid #bdc3c7;\"><div style=\"display: inline-flex; align-items: center; gap: 30px;\"><span style=\"color: #7f8c8d; font-size: 14px; text-transform: uppercase; letter-spacing: 1px;\">' + dateInfo.today + '</span></div></div><div style=\"padding: 40px;\"><div style=\"text-align: center; margin-bottom: 40px;\"><h2 style=\"font-size: 1.8em; color: #2c3e50; margin: 0; font-weight: normal;\">' + readingsData.season + ' • ' + dateInfo.theme + '</h2><div style=\"width: 60px; height: 3px; background-color: #3498db; margin: 20px auto;\"></div></div><div style=\"margin-bottom: 35px;\"><h3 style=\"color: #2980b9; font-size: 1.3em; margin-bottom: 15px; text-transform: uppercase; letter-spacing: 1px; font-weight: normal;\">Today\\'s Spiritual Focus</h3><p style=\"line-height: 1.8; font-size: 16px; color: #34495e;\">' + aiOutput.spiritualFocus + '</p></div><div style=\"margin-bottom: 35px; background-color: #f8f9fa; padding: 25px; border-left: 4px solid #3498db;\"><h3 style=\"color: #2980b9; font-size: 1.3em; margin-bottom: 15px; text-transform: uppercase; letter-spacing: 1px; font-weight: normal;\">Today\\'s Readings</h3><div style=\"margin-bottom: 15px;\"><strong>First Reading:</strong> ' + readingsData.readings.firstReading + '<br><strong>Psalm:</strong> ' + readingsData.readings.psalm + '<br>' + secondReadingLine + '<strong>Gospel:</strong> ' + readingsData.readings.gospel + '</div><p style=\"line-height: 1.8; font-size: 16px; color: #34495e; margin-top: 20px;\">' + (aiOutput.liturgicalReadings || aiOutput.liturgicalInsight) + '</p></div>' + saintSection + '<div style=\"margin-bottom: 35px;\"><h3 style=\"color: #2980b9; font-size: 1.3em; margin-bottom: 15px; text-transform: uppercase; letter-spacing: 1px; font-weight: normal;\">Reflection & Challenge</h3><p style=\"line-height: 1.8; font-size: 16px; color: #34495e;\">' + aiOutput.reflection + '</p><p style=\"line-height: 1.8; font-size: 16px; color: #34495e; margin-top: 20px;\"><strong>Practical Spiritual Challenge:</strong> ' + aiOutput.practicalChallenge + '</p></div><div style=\"background: linear-gradient(135deg, #f8f9fa 0%, #ecf0f1 100%); padding: 30px; border-radius: 8px; text-align: center; border: 1px solid #bdc3c7;\"><h3 style=\"color: #2980b9; font-size: 1.3em; margin-bottom: 15px; text-transform: uppercase; letter-spacing: 1px; font-weight: normal;\">Daily Prayer</h3><p style=\"line-height: 1.8; font-size: 16px; color: #34495e; font-style: italic;\">' + aiOutput.prayer + '</p></div></div><div style=\"background-color: #34495e; color: #ecf0f1; padding: 30px; text-align: center;\"><p style=\"margin: 0; font-size: 14px;\">Ora et Labora<br><a href=\"' + readingsData.usccbLink + '\" style=\"color: #3498db; text-decoration: none;\">View Today\\'s Official Readings</a></p></div></div></body></html>';\n\nreturn {\n  htmlContent: htmlContent,\n  subject: 'Daily Benedictine Reflection - ' + dateInfo.today,\n  aiOutput: aiOutput,\n  dateInfo: dateInfo\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        368,
        192
      ],
      "id": "7c84fd8b-ab20-4c74-a844-3657425ba6d2",
      "name": "Code - FIXED"
    },
    {
      "parameters": {
        "sendTo": "cpbjr@mac.com",
        "subject": "=Daily Spiritual Email for {{ $('Format Date').item.json.today }}",
        "message": "={{ $json.htmlContent }}",
        "options": {
          "senderName": "Saint Benedict"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        576,
        192
      ],
      "id": "cad8b527-a143-4205-8206-b85cb9b7d8f6",
      "name": "Send a message",
      "webhookId": "d6913533-2c28-4854-93c6-b3d15a293c62",
      "credentials": {
        "gmailOAuth2": {
          "id": "P3gXB3MLpafPjc7x",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Format Date",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Date": {
      "main": [
        [
          {
            "node": "Get Readings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Readings": {
      "main": [
        [
          {
            "node": "Get Saint",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Saint": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge with Saint": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Continue without Saint": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Continue without Saint",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge with Saint",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "xAI Grok Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Code - FIXED",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - FIXED": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "timeSavedPerExecution": 30
  },
  "versionId": "4052643c-3654-4125-832f-88fec9a8bb3e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "98b4c83c8e4d45627da8cde541a1e8f02de67544faf97337b7e11c0f3b417f84"
  },
  "id": "G2L0dtZPueT5IkdI",
  "tags": []
}