Prior attemps/daily-summary-with-data-merger.json
{
  "name": "Daily Summary - With Data Merger",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 4
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [100, 300],
      "id": "schedule-trigger",
      "name": "Schedule Trigger",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Date Formatter\nconst now = new Date();\nconst mountainTime = new Date(now.toLocaleString(\"en-US\", {timeZone: \"America/Denver\"}));\nconst yesterday = new Date(mountainTime.getTime() - 24*60*60*1000);\n\ntry {\n  const output = {\n    today: mountainTime.toLocaleDateString('en-US', { \n      weekday: 'long', \n      year: 'numeric', \n      month: 'long', \n      day: 'numeric' \n    }),\n    dayOfWeek: mountainTime.toLocaleDateString('en-US', { weekday: 'long' }),\n    usccbDate: [\n      String(mountainTime.getMonth() + 1).padStart(2, '0'),\n      String(mountainTime.getDate()).padStart(2, '0'), \n      String(mountainTime.getFullYear()).slice(-2)\n    ].join(''),\n    monthDay: `${mountainTime.getMonth() + 1}/${mountainTime.getDate()}`,\n    theme: {\n      'Sunday': 'Worship & Community',\n      'Monday': 'Humility & Simplicity',\n      'Tuesday': 'Stability',\n      'Wednesday': 'Listening',\n      'Thursday': 'Hospitality & Kindness',\n      'Friday': 'Sacrifice & Repentance',\n      'Saturday': 'Rest & Beauty'\n    }[mountainTime.toLocaleDateString('en-US', { weekday: 'long' })]\n  };\n  \n  return output;\n  \n} catch (error) {\n  return {\n    today: 'Date unavailable',\n    dayOfWeek: 'Today',\n    theme: 'Prayer',\n    monthDay: '1/1'\n  };\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [300, 300],
      "id": "date-formatter",
      "name": "Date Formatter",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Saints Lookup\nconst dateInfo = $json;\n\ntry {\n  const saintsDatabase = {\n    '8/26': { name: 'Daily Weekday', type: 'Weekday', quote: 'Be it done unto me according to your word.', intro: 'Today we focus on living out our baptismal call in ordinary circumstances.' },\n    '8/27': { name: 'Monica', type: 'Memorial', quote: 'Nothing is far from God.', intro: 'Mother of St. Augustine, she prayed for her son\\'s conversion for many years before seeing it fulfilled.' }\n  };\n  \n  const currentDate = dateInfo.monthDay;\n  const todaySaint = saintsDatabase[currentDate];\n  \n  let saint = todaySaint || {\n    name: 'Weekday in Ordinary Time',\n    type: 'Weekday',\n    intro: 'A day to grow in holiness through ordinary work and prayer.'\n  };\n  \n  return {\n    ...dateInfo,\n    saint: saint\n  };\n  \n} catch (error) {\n  return {\n    ...dateInfo,\n    saint: {\n      name: 'Daily Saint',\n      intro: 'Saint information unavailable'\n    }\n  };\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [500, 300],
      "id": "saints-lookup",
      "name": "Saints Lookup",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Readings Lookup\nconst data = $json;\n\ntry {\n  const readingsDatabase = {\n    '8/26': { firstReading: '1 Thessalonians 2:1-8', psalm: 'Psalm 139:1-3, 4-6', gospel: 'Matthew 23:23-26', season: 'Ordinary Time' },\n    '8/27': { firstReading: '1 Thessalonians 2:9-13', psalm: 'Psalm 139:7-8, 9-10, 11-12ab', gospel: 'Matthew 23:27-32', season: 'Ordinary Time' }\n  };\n  \n  const currentDate = data.monthDay;\n  let todayReadings = readingsDatabase[currentDate] || {\n    firstReading: 'Check USCCB for readings',\n    psalm: 'Psalm 23:1-6',\n    gospel: 'John 3:16-21',\n    season: 'Ordinary Time'\n  };\n  \n  todayReadings.usccbLink = `https://bible.usccb.org/bible/readings/${data.usccbDate}.cfm`;\n  \n  return {\n    ...data,\n    readings: todayReadings\n  };\n  \n} catch (error) {\n  return {\n    ...data,\n    readings: {\n      firstReading: 'Scripture reading unavailable',\n      psalm: 'Psalm unavailable',\n      gospel: 'Gospel reading unavailable'\n    }\n  };\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [700, 300],
      "id": "readings-lookup",
      "name": "Readings Lookup",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a Catholic spiritual director deeply familiar with the Rule of St. Benedict and Benedictine spirituality. Create a warm, thoughtful daily reflection.\n\nToday is {{ $json.dayOfWeek }} with the Benedictine theme: {{ $json.theme }}\n\nToday's readings are:\nFirst Reading: {{ $json.readings.firstReading }}\nPsalm: {{ $json.readings.psalm }}\nGospel: {{ $json.readings.gospel }}\n\nSaint of the day: {{ $json.saint.name }}\nSaint info: {{ $json.saint.intro }}\n\nReturn ONLY a JSON object with these fields:\n{\n  \"reflection\": \"3-4 sentences connecting today's readings to the Benedictine theme of {{ $json.theme }}\",\n  \"challenge\": \"2 sentences with a practical spiritual challenge for today based on the Rule of St. Benedict\",\n  \"prayer\": \"A brief prayer incorporating the saint and readings (4-6 lines)\"\n}\n\nReturn ONLY the JSON object, no other text.",
        "messages": {
          "messageValues": [
            {
              "message": "Generate the spiritual reflection content as requested."
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [900, 300],
      "id": "ai-reflection",
      "name": "AI Spiritual Reflection",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "model": "grok-2-1212",
        "options": {
          "maxTokens": 1500,
          "temperature": 0.7
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatXAiGrok",
      "typeVersion": 1,
      "position": [900, 200],
      "id": "xai-model",
      "name": "xAI Grok Model",
      "credentials": {
        "xAiApi": {
          "id": "your-xai-credential-id",
          "name": "xAi account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Data Merger - Combine AI response with original workflow data\nconst aiResponse = $json; // AI output (only has 'text' field)\nconst allInputs = $input.all(); // Get all previous data\n\ntry {\n  console.log('=== DATA MERGER START ===');\n  console.log('AI response keys:', Object.keys(aiResponse));\n  console.log('Number of inputs:', allInputs.length);\n  \n  // Find the workflow data (should be input 0 - the readings data)\n  let workflowData = {};\n  if (allInputs.length > 0) {\n    workflowData = allInputs[0]?.json || {};\n    console.log('✅ Found workflow data with keys:', Object.keys(workflowData));\n    console.log('Has readings:', !!workflowData.readings);\n  } else {\n    console.log('❌ No workflow data found in inputs');\n  }\n  \n  // Parse AI response\n  let aiContent = {};\n  try {\n    const aiText = aiResponse?.text || aiResponse?.message || '';\n    if (aiText) {\n      const cleanText = aiText.replace(/```json\\n?/g, \"\").replace(/```\\n?/g, \"\").trim();\n      aiContent = JSON.parse(cleanText);\n      console.log('✅ Parsed AI content successfully');\n    }\n  } catch (parseError) {\n    console.log('AI parse error, using fallback:', parseError.message);\n    aiContent = {\n      reflection: `Today's theme is ${workflowData.theme || 'Prayer'}. Take time to reflect on this Benedictine virtue.`,\n      challenge: 'Spend 10 minutes in silent prayer today, listening for God\\'s voice.',\n      prayer: 'Lord, help us follow the example of the saints and grow in holiness. Amen.'\n    };\n  }\n  \n  // Combine everything\n  const combinedData = {\n    ...workflowData,  // All the original data (date, saint, readings)\n    ai: aiContent     // Add AI content under 'ai' key\n  };\n  \n  console.log('✅ Data merger complete. Final keys:', Object.keys(combinedData));\n  console.log('Final has readings:', !!combinedData.readings);\n  console.log('Final has AI:', !!combinedData.ai);\n  \n  return combinedData;\n  \n} catch (error) {\n  console.error('Data merger error:', error.message);\n  return {\n    error: 'Data merge failed',\n    aiResponse: aiResponse,\n    inputs: allInputs\n  };\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1100, 300],
      "id": "data-merger",
      "name": "Data Merger",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Final Email Compiler - Now has both workflow data AND AI content\nconst allData = $json;\n\ntry {\n  console.log('=== EMAIL COMPILER FINAL ===');\n  console.log('Data keys:', Object.keys(allData));\n  console.log('Has readings:', !!allData.readings);\n  console.log('Has AI:', !!allData.ai);\n  \n  // Extract all data\n  const dateInfo = {\n    today: allData.today || 'Today',\n    dayOfWeek: allData.dayOfWeek || 'Today',\n    theme: allData.theme || 'Prayer'\n  };\n  \n  const saintData = allData.saint || {\n    name: 'Daily Saint',\n    intro: 'Saint information unavailable'\n  };\n  \n  const readingsData = allData.readings || {\n    firstReading: 'Scripture reading unavailable',\n    gospel: 'Gospel reading unavailable',\n    psalm: 'Psalm unavailable',\n    usccbLink: 'https://bible.usccb.org'\n  };\n  \n  const aiData = allData.ai || {\n    reflection: 'Take time to reflect on today\\'s spiritual theme.',\n    challenge: 'Spend time in prayer today.',\n    prayer: 'Lord, bless this day. Amen.'\n  };\n  \n  console.log('✅ All data extracted successfully');\n  console.log('First Reading:', readingsData.firstReading);\n  console.log('AI Reflection:', aiData.reflection?.substring(0, 50) + '...');\n  \n  const subject = `Daily Reflection - ${dateInfo.today}`;\n  \n  const html = `\n<!DOCTYPE html>\n<html>\n<head><title>${subject}</title></head>\n<body style=\"font-family: Georgia, serif; max-width: 600px; margin: 0 auto; padding: 20px;\">\n  <div style=\"background: linear-gradient(135deg, #667eea 0%, #764ba2 100%); color: white; padding: 30px 20px; text-align: center; border-radius: 8px 8px 0 0;\">\n    <h1 style=\"margin: 0; font-size: 28px; font-weight: normal;\">${subject}</h1>\n    <p style=\"margin: 10px 0 0 0; font-size: 18px; opacity: 0.95;\">${dateInfo.today}</p>\n    <p style=\"margin: 5px 0 0 0; font-size: 14px; opacity: 0.9;\">Theme: ${dateInfo.theme}</p>\n  </div>\n  \n  <div style=\"padding: 30px 25px; background: white;\">\n    \n    <!-- Saint of the Day -->\n    ${saintData.name !== 'Weekday in Ordinary Time' ? `\n    <div style=\"margin-bottom: 35px;\">\n      <h2 style=\"color: #4a5568; font-size: 20px; border-bottom: 2px solid #e2e8f0; padding-bottom: 8px;\">✝️ Saint of the Day</h2>\n      <div style=\"background: #fef5e7; padding: 20px; border-radius: 8px;\">\n        <h3 style=\"margin: 0 0 10px 0; color: #764ba2; font-size: 18px;\">${saintData.name}</h3>\n        <p style=\"margin: 0; color: #4a5568; line-height: 1.7;\">${saintData.intro}</p>\n        ${saintData.quote ? `<p style=\"margin: 15px 0 0 0; color: #553c9a; font-style: italic;\">\"${saintData.quote}\"</p>` : ''}\n      </div>\n    </div>\n    ` : ''}\n    \n    <!-- Readings Section -->\n    <div style=\"margin-bottom: 35px;\">\n      <h2 style=\"color: #4a5568; font-size: 20px; border-bottom: 2px solid #e2e8f0; padding-bottom: 8px;\">📖 Today's Readings</h2>\n      <div style=\"background: #f7fafc; padding: 20px; border-radius: 8px;\">\n        <ul style=\"list-style: none; padding: 0; margin: 0;\">\n          <li style=\"margin: 12px 0;\"><strong style=\"color: #2d3748;\">First Reading:</strong> ${readingsData.firstReading}</li>\n          <li style=\"margin: 12px 0;\"><strong style=\"color: #2d3748;\">Psalm:</strong> ${readingsData.psalm}</li>\n          <li style=\"margin: 12px 0;\"><strong style=\"color: #2d3748;\">Gospel:</strong> ${readingsData.gospel}</li>\n        </ul>\n        <p style=\"text-align: center; margin-top: 20px;\">\n          <a href=\"${readingsData.usccbLink}\" style=\"background: #667eea; color: white; padding: 12px 25px; text-decoration: none; border-radius: 6px; font-weight: 600;\">Read Full Texts at USCCB.org →</a>\n        </p>\n      </div>\n    </div>\n    \n    <!-- AI Benedictine Reflection -->\n    <div style=\"margin-bottom: 35px;\">\n      <h2 style=\"color: #4a5568; font-size: 20px; border-bottom: 2px solid #e2e8f0; padding-bottom: 8px;\">🕊️ Benedictine Reflection: ${dateInfo.theme}</h2>\n      <div style=\"background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%); padding: 20px; border-radius: 8px;\">\n        <p style=\"margin: 0 0 15px 0; color: #4a5568; line-height: 1.7;\">${aiData.reflection}</p>\n        <div style=\"background: rgba(255,255,255,0.7); padding: 15px; border-radius: 6px;\">\n          <h4 style=\"margin: 0 0 8px 0; color: #764ba2; font-size: 14px; text-transform: uppercase; letter-spacing: 1px;\">Today's Challenge</h4>\n          <p style=\"margin: 0; color: #4a5568; line-height: 1.6; font-weight: 500;\">${aiData.challenge}</p>\n        </div>\n      </div>\n    </div>\n    \n    <!-- Prayer -->\n    <div style=\"margin-bottom: 35px;\">\n      <h2 style=\"color: #4a5568; font-size: 20px; border-bottom: 2px solid #e2e8f0; padding-bottom: 8px;\">🙏 Prayer for Today</h2>\n      <div style=\"text-align: center; padding: 20px; background: #faf5ff; border-radius: 8px;\">\n        <p style=\"margin: 0; color: #553c9a; line-height: 1.8; font-size: 15px; font-style: italic;\">${aiData.prayer.replace(/\\n/g, '<br/>')}</p>\n      </div>\n    </div>\n    \n  </div>\n  \n  <footer style=\"background: #f7fafc; padding: 25px; text-align: center; border-top: 1px solid #e2e8f0; color: #718096; border-radius: 0 0 8px 8px;\">\n    <p style=\"margin: 0; font-size: 16px; font-style: italic; line-height: 1.6;\">\"Always we begin again\"<br/><span style=\"font-size: 14px; font-style: normal;\">- St. Benedict</span></p>\n    <p style=\"margin: 15px 0 0 0; font-size: 12px; opacity: 0.7;\">Daily Reflection • Catholic Spirituality • AI Enhanced</p>\n  </footer>\n</body>\n</html>\n`;\n  \n  console.log('✅ Email compilation complete');\n  \n  return {\n    subject: subject,\n    html: html,\n    text: subject\n  };\n  \n} catch (error) {\n  console.error('Email compilation error:', error.message);\n  return {\n    subject: 'Daily Reflection - Error',\n    html: `<p>Error: ${error.message}</p>`,\n    text: 'Error'\n  };\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1300, 300],
      "id": "email-compiler",
      "name": "Email Compiler",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "sendTo": "cpbjr@mac.com",
        "subject": "={{ $json.subject }}",
        "message": "={{ $json.html }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [1500, 300],
      "id": "gmail-send",
      "name": "Send Gmail",
      "credentials": {
        "gmailOAuth2": {
          "id": "your-gmail-credential-id",
          "name": "Gmail account"
        }
      },
      "onError": "continueRegularOutput"
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Date Formatter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date Formatter": {
      "main": [
        [
          {
            "node": "Saints Lookup",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Saints Lookup": {
      "main": [
        [
          {
            "node": "Readings Lookup",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Readings Lookup": {
      "main": [
        [
          {
            "node": "AI Spiritual Reflection",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Spiritual Reflection": {
      "main": [
        [
          {
            "node": "Data Merger",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "xAI Grok Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Spiritual Reflection",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Data Merger": {
      "main": [
        [
          {
            "node": "Email Compiler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email Compiler": {
      "main": [
        [
          {
            "node": "Send Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "timezone": "America/Denver"
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "tags": ["daily-reflection", "data-merger-solution"]
}