Prior attemps/daily-summary-linear-final.json
{
  "name": "Daily Summary - Linear Final Fixed",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 4
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [100, 300],
      "id": "schedule-trigger",
      "name": "Schedule Trigger",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Date Formatter - Calculate all date formats needed for the workflow\nconst now = new Date();\nconst mountainTime = new Date(now.toLocaleString(\"en-US\", {timeZone: \"America/Denver\"}));\nconst yesterday = new Date(mountainTime.getTime() - 24*60*60*1000);\n\ntry {\n  const output = {\n    today: mountainTime.toLocaleDateString('en-US', { \n      weekday: 'long', \n      year: 'numeric', \n      month: 'long', \n      day: 'numeric' \n    }),\n    dayOfWeek: mountainTime.toLocaleDateString('en-US', { weekday: 'long' }),\n    usccbDate: [\n      String(mountainTime.getMonth() + 1).padStart(2, '0'),\n      String(mountainTime.getDate()).padStart(2, '0'), \n      String(mountainTime.getFullYear()).slice(-2)\n    ].join(''),\n    yesterdayMLB: yesterday.toISOString().split('T')[0],\n    todayMLB: mountainTime.toISOString().split('T')[0],\n    monthDay: `${mountainTime.getMonth() + 1}/${mountainTime.getDate()}`,\n    yesterdayMonthDay: `${yesterday.getMonth() + 1}/${yesterday.getDate()}`,\n    theme: {\n      'Sunday': 'Worship & Community',\n      'Monday': 'Humility & Simplicity',\n      'Tuesday': 'Stability',\n      'Wednesday': 'Listening',\n      'Thursday': 'Hospitality & Kindness',\n      'Friday': 'Sacrifice & Repentance',\n      'Saturday': 'Rest & Beauty'\n    }[mountainTime.toLocaleDateString('en-US', { weekday: 'long' })]\n  };\n  \n  console.log('Date formatting complete:', output.today);\n  console.log('Month/Day format:', output.monthDay);\n  \n  return output;\n  \n} catch (error) {\n  console.error('Date formatting error:', error.message);\n  return {\n    today: 'Date unavailable',\n    dayOfWeek: 'Today',\n    theme: 'Prayer',\n    monthDay: '1/1',\n    usccbDate: '010125'\n  };\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [300, 300],
      "id": "date-formatter",
      "name": "Date Formatter",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Saints Lookup - Use existing saints database\nconst dateInfo = $json;\n\ntry {\n  const saintsDatabase = {\n    '1/1': { name: 'Mary, Mother of God', type: 'Solemnity', quote: 'My soul proclaims the greatness of the Lord.', intro: 'The Solemnity of Mary, the Holy Mother of God, celebrates Mary\\'s divine motherhood and her role in salvation history.' },\n    '8/24': { name: 'Bartholomew', type: 'Feast', quote: 'Rabbi, you are the Son of God! You are the King of Israel!', intro: 'One of the twelve apostles, also called Nathanael, traditionally martyred in Armenia.' },\n    '8/26': { name: 'Daily Weekday', type: 'Weekday', quote: 'Be it done unto me according to your word.', intro: 'Today we focus on living out our baptismal call in ordinary circumstances.' },\n    '8/27': { name: 'Monica', type: 'Memorial', quote: 'Nothing is far from God.', intro: 'Mother of St. Augustine, she prayed for her son\\'s conversion for many years before seeing it fulfilled.' }\n  };\n  \n  const currentDate = dateInfo.monthDay;\n  const todaySaint = saintsDatabase[currentDate];\n  \n  let saint = {};\n  if (todaySaint) {\n    saint = todaySaint;\n  } else if (dateInfo.dayOfWeek === 'Sunday') {\n    saint = {\n      name: `${dateInfo.dayOfWeek} in Ordinary Time`,\n      type: 'Sunday',\n      intro: 'The Lord\\'s Day, when we gather as a community to celebrate the Eucharist and commemorate Christ\\'s resurrection.'\n    };\n  } else {\n    saint = {\n      name: 'Weekday in Ordinary Time',\n      type: 'Weekday',\n      intro: 'A day to grow in holiness through ordinary work and prayer.'\n    };\n  }\n  \n  return {\n    ...dateInfo,\n    saint: saint\n  };\n  \n} catch (error) {\n  console.error('Saints lookup error:', error.message);\n  return {\n    ...dateInfo,\n    saint: {\n      name: 'Daily Saint',\n      type: 'Weekday',\n      intro: 'Saint information unavailable'\n    }\n  };\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [500, 300],
      "id": "saints-lookup",
      "name": "Saints Lookup",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Readings Lookup - Complete USCCB database\nconst data = $json;\n\ntry {\n  const readingsDatabase = {\n    '8/25': { firstReading: '1 Thessalonians 1:1-5, 8b-10', psalm: 'Psalm 149:1b-2, 3-4, 5-6a and 9b', gospel: 'Matthew 23:13-22', season: 'Ordinary Time' },\n    '8/26': { firstReading: '1 Thessalonians 2:1-8', psalm: 'Psalm 139:1-3, 4-6', gospel: 'Matthew 23:23-26', season: 'Ordinary Time' },\n    '8/27': { firstReading: '1 Thessalonians 2:9-13', psalm: 'Psalm 139:7-8, 9-10, 11-12ab', gospel: 'Matthew 23:27-32', season: 'Ordinary Time' },\n    '8/28': { firstReading: '1 Thessalonians 3:7-13', psalm: 'Psalm 90:3-5a, 12-13, 14 and 17', gospel: 'Matthew 24:42-51', season: 'Ordinary Time' },\n    '8/29': { firstReading: '1 Thessalonians 4:1-8', psalm: 'Psalm 97:1 and 2b, 5-6, 10, 11-12', gospel: 'Mark 6:17-29', season: 'Ordinary Time' },\n    '8/30': { firstReading: '1 Thessalonians 4:9-11', psalm: 'Psalm 98:1, 7-8, 9', gospel: 'Matthew 25:14-30', season: 'Ordinary Time' },\n    '8/31': { firstReading: 'Sirach 3:17-18, 20, 28-29', psalm: 'Psalm 68:4-5, 6-7, 10-11', secondReading: 'Hebrews 12:18-19, 22-24a', gospel: 'Luke 14:1, 7-14', season: 'Ordinary Time' }\n  };\n  \n  const ordinaryTimeReadings = {\n    'Monday': { firstReading: 'Hebrews 11:32-40', psalm: 'Psalm 31:20, 21, 22, 24', gospel: 'Mark 5:1-20', season: 'Ordinary Time' },\n    'Tuesday': { firstReading: 'Hebrews 12:1-4', psalm: 'Psalm 22:26b-27, 28, 30, 31-32', gospel: 'Mark 5:21-43', season: 'Ordinary Time' },\n    'Wednesday': { firstReading: 'Hebrews 12:4-7, 11-15', psalm: 'Psalm 103:1-2, 13-14, 17-18a', gospel: 'Mark 6:1-6', season: 'Ordinary Time' },\n    'Thursday': { firstReading: 'Hebreus 12:18-19, 21-24', psalm: 'Psalm 48:2-3ab, 3cd-4, 9, 10-11', gospel: 'Mark 6:7-13', season: 'Ordinary Time' },\n    'Friday': { firstReading: 'Hebrews 13:1-8', psalm: 'Psalm 27:1, 3, 5, 8b-9abc', gospel: 'Mark 6:14-29', season: 'Ordinary Time' },\n    'Saturday': { firstReading: 'Hebrews 13:15-17, 20-21', psalm: 'Psalm 23:1-3a, 3b-4, 5, 6', gospel: 'Mark 6:30-34', season: 'Ordinary Time' },\n    'Sunday': { firstReading: 'Isaiah 55:10-11', psalm: 'Psalm 65:10, 11, 12-13, 14', secondReading: 'Romans 8:18-23', gospel: 'Matthew 13:1-23', season: 'Ordinary Time' }\n  };\n  \n  const currentDate = data.monthDay;\n  let todayReadings = readingsDatabase[currentDate];\n  \n  if (!todayReadings && data.dayOfWeek) {\n    todayReadings = ordinaryTimeReadings[data.dayOfWeek];\n  }\n  \n  if (!todayReadings) {\n    todayReadings = {\n      firstReading: 'Check USCCB for readings',\n      psalm: 'Psalm 23:1-6',\n      gospel: 'John 3:16-21',\n      season: 'Ordinary Time'\n    };\n  }\n  \n  todayReadings.usccbLink = `https://bible.usccb.org/bible/readings/${data.usccbDate}.cfm`;\n  \n  console.log(`Readings for ${currentDate}:`, todayReadings.firstReading);\n  \n  return {\n    ...data,\n    readings: todayReadings\n  };\n  \n} catch (error) {\n  console.error('Readings lookup error:', error.message);\n  return {\n    ...data,\n    readings: {\n      firstReading: 'Scripture reading unavailable',\n      gospel: 'Gospel reading unavailable',\n      psalm: 'Psalm unavailable',\n      usccbLink: 'https://bible.usccb.org'\n    }\n  };\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [700, 300],
      "id": "readings-lookup",
      "name": "Readings Lookup",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Final Email Compiler - Access data directly from previous node\nconst allData = $json; // This should have all the data from the chain\n\ntry {\n  console.log('=== EMAIL COMPILER START ===');\n  console.log('Received data keys:', Object.keys(allData));\n  console.log('Has readings:', !!allData.readings);\n  \n  if (allData.readings) {\n    console.log('✅ Readings found:', allData.readings.firstReading);\n  } else {\n    console.log('❌ No readings in data');\n  }\n  \n  // Extract all the data\n  const dateInfo = {\n    today: allData.today || 'Today',\n    dayOfWeek: allData.dayOfWeek || 'Today',\n    theme: allData.theme || 'Prayer'\n  };\n  \n  const saintData = allData.saint || {\n    name: 'Daily Saint',\n    intro: 'Saint information unavailable'\n  };\n  \n  const readingsData = allData.readings || {\n    firstReading: 'Scripture reading unavailable',\n    gospel: 'Gospel reading unavailable',\n    psalm: 'Psalm unavailable',\n    usccbLink: 'https://bible.usccb.org'\n  };\n  \n  // Create simple email with readings\n  const subject = `Daily Reflection - ${dateInfo.today}`;\n  \n  const html = `\n<!DOCTYPE html>\n<html>\n<head><title>${subject}</title></head>\n<body style=\"font-family: Georgia, serif; max-width: 600px; margin: 0 auto; padding: 20px;\">\n  <h1 style=\"color: #764ba2; text-align: center;\">${subject}</h1>\n  <p style=\"text-align: center; font-style: italic;\">Theme: ${dateInfo.theme}</p>\n  \n  <div style=\"background: #f7fafc; padding: 20px; border-radius: 8px; margin: 20px 0;\">\n    <h2 style=\"color: #4a5568; border-bottom: 2px solid #e2e8f0; padding-bottom: 8px;\">📖 Today's Readings</h2>\n    <ul style=\"list-style: none; padding: 0;\">\n      <li style=\"margin: 10px 0;\"><strong>First Reading:</strong> ${readingsData.firstReading}</li>\n      <li style=\"margin: 10px 0;\"><strong>Psalm:</strong> ${readingsData.psalm}</li>\n      <li style=\"margin: 10px 0;\"><strong>Gospel:</strong> ${readingsData.gospel}</li>\n    </ul>\n    <p style=\"text-align: center; margin-top: 20px;\">\n      <a href=\"${readingsData.usccbLink}\" style=\"background: #667eea; color: white; padding: 10px 20px; text-decoration: none; border-radius: 5px;\">Read Full Texts →</a>\n    </p>\n  </div>\n  \n  <div style=\"background: #fef5e7; padding: 20px; border-radius: 8px; margin: 20px 0;\">\n    <h2 style=\"color: #4a5568;\">✝️ ${saintData.name}</h2>\n    <p>${saintData.intro}</p>\n  </div>\n  \n  <div style=\"background: #f5f7fa; padding: 20px; border-radius: 8px; margin: 20px 0;\">\n    <h2 style=\"color: #4a5568;\">🕊️ Benedictine Theme: ${dateInfo.theme}</h2>\n    <p>Take time today to reflect on this Benedictine virtue and how it can guide your spiritual journey.</p>\n  </div>\n  \n  <footer style=\"text-align: center; margin-top: 40px; padding-top: 20px; border-top: 1px solid #e2e8f0; color: #718096;\">\n    <p><em>\"Always we begin again\" - St. Benedict</em></p>\n  </footer>\n</body>\n</html>\n`;\n  \n  console.log('Email compilation complete');\n  \n  return {\n    subject: subject,\n    html: html,\n    text: subject\n  };\n  \n} catch (error) {\n  console.error('Email compilation error:', error.message);\n  return {\n    subject: 'Daily Reflection - Error',\n    html: `<p>Error compiling email: ${error.message}</p>`,\n    text: 'Error compiling daily reflection'\n  };\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300],
      "id": "ai-reflection",
      "name": "AI Spiritual Reflection",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "model": "grok-2-1212",
        "options": {
          "maxTokens": 2000,
          "temperature": 0.7
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatXAiGrok",
      "typeVersion": 1,
      "position": [1000, 200],
      "id": "xai-model",
      "name": "xAI Grok Model",
      "credentials": {
        "xAiApi": {
          "id": "your-xai-credential-id",
          "name": "xAi account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a Catholic spiritual director deeply familiar with the Rule of St. Benedict and Benedictine spirituality. Create a warm, thoughtful daily reflection.\n\nToday is {{ $json.dayOfWeek }} with the Benedictine theme: {{ $json.theme }}\n\nToday's readings are:\nFirst Reading: {{ $json.readings.firstReading }}\nPsalm: {{ $json.readings.psalm }}\n{{ $json.readings.secondReading ? 'Second Reading: ' + $json.readings.secondReading + '\\n' : '' }}Gospel: {{ $json.readings.gospel }}\n\nSaint of the day: {{ $json.saint.name }}\nSaint info: {{ $json.saint.intro }}\n\nPlease provide ALL of the following in valid JSON format:\n\n{\n  \"readingsContext\": [\n    {\"reading\": \"First Reading\", \"reference\": \"{{ $json.readings.firstReading }}\", \"historicalContext\": \"2-3 sentences about historical context of this scripture\", \"catholicInterpretation\": \"2-3 sentences on Catholic doctrinal understanding and spiritual meaning of these verses\"},\n    {\"reading\": \"Gospel\", \"reference\": \"{{ $json.readings.gospel }}\", \"historicalContext\": \"2-3 sentences about historical context of this scripture\", \"catholicInterpretation\": \"2-3 sentences on Catholic doctrinal understanding and spiritual meaning of these verses\"}\n  ],\n  \"saintIntro\": \"3-5 sentences about {{ $json.saint.name }}: their life, significance, and why they're celebrated today\",\n  \"reflection\": \"3-4 sentences connecting today's readings to the Benedictine theme of {{ $json.theme }}\",\n  \"challenge\": \"2 sentences with a practical spiritual challenge for today based on the Rule of St. Benedict\",\n  \"prayer\": \"A brief prayer incorporating the saint and readings (4-6 lines)\",\n  \"historicalFacts\": [\n    {\"year\": \"1972 or 1992\", \"fact\": \"An interesting historical event from this date\"},\n    {\"year\": \"YYYY\", \"fact\": \"Another historical event from this date\"},\n    {\"year\": \"YYYY\", \"fact\": \"Third historical event from this date\"}\n  ]\n}\n\nReturn ONLY the JSON object, no other text.",
        "messages": {
          "messageValues": [
            {
              "message": "Generate the spiritual reflection content as requested."
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [1000, 300],
      "id": "ai-spiritual-reflection",
      "name": "AI Spiritual Reflection",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Final Email Compiler - Now gets data from AI node\nconst aiData = $json; // AI response\nconst allInputs = $input.all(); // All previous data\n\ntry {\n  console.log('=== EMAIL COMPILER WITH AI START ===');\n  console.log('AI data keys:', Object.keys(aiData));\n  console.log('Number of inputs:', allInputs.length);\n  \n  // Get the workflow data from the first input (should contain all our date/saint/readings data)\n  const workflowData = allInputs[0]?.json || {};\n  console.log('Workflow data keys:', Object.keys(workflowData));\n  console.log('Has readings:', !!workflowData.readings);\n  \n  // Extract all the data\n  const dateInfo = {\n    today: workflowData.today || 'Today',\n    dayOfWeek: workflowData.dayOfWeek || 'Today',\n    theme: workflowData.theme || 'Prayer'\n  };\n  \n  const saintData = workflowData.saint || {\n    name: 'Daily Saint',\n    intro: 'Saint information unavailable'\n  };\n  \n  const readingsData = workflowData.readings || {\n    firstReading: 'Scripture reading unavailable',\n    gospel: 'Gospel reading unavailable',\n    psalm: 'Psalm unavailable',\n    usccbLink: 'https://bible.usccb.org'\n  };\n  \n  // Parse AI spiritual content\n  let spiritual = {};\n  try {\n    const aiText = aiData?.text || aiData?.message || aiData?.output || '';\n    \n    if (aiText) {\n      const cleanText = aiText.replace(/```json\\n?/g, \"\").replace(/```\\n?/g, \"\").trim();\n      spiritual = JSON.parse(cleanText);\n      console.log('✅ Successfully parsed AI spiritual content');\n    } else {\n      throw new Error('No AI content available');\n    }\n  } catch (parseError) {\n    console.log('Using fallback spiritual content:', parseError.message);\n    spiritual = {\n      saintIntro: saintData.intro || 'Saint information available in database',\n      reflection: `Today's theme is ${dateInfo.theme}. Take time to reflect on this Benedictine virtue.`,\n      challenge: 'Spend 10 minutes in silent prayer today, listening for God\\'s voice.',\n      prayer: 'Lord, help us follow the example of the saints and grow in holiness. Amen.',\n      historicalFacts: [{year: \"2024\", fact: \"Historical facts unavailable\"}]\n    };\n  }\n  \n  // Ensure prayer exists and is a string\n  if (!spiritual.prayer || typeof spiritual.prayer !== 'string') {\n    spiritual.prayer = 'Lord, bless this day and help us grow closer to You. Amen.';\n  }\n  \n  // Create enhanced email with AI content\n  const subject = `Daily Reflection - ${dateInfo.today}`;\n  \n  const html = `\n<!DOCTYPE html>\n<html>\n<head><title>${subject}</title></head>\n<body style=\"font-family: Georgia, serif; max-width: 600px; margin: 0 auto; padding: 20px;\">\n  <div style=\"background: linear-gradient(135deg, #667eea 0%, #764ba2 100%); color: white; padding: 30px 20px; text-align: center; border-radius: 8px 8px 0 0;\">\n    <h1 style=\"margin: 0; font-size: 28px; font-weight: normal;\">${subject}</h1>\n    <p style=\"margin: 10px 0 0 0; font-size: 18px; opacity: 0.95;\">${dateInfo.today}</p>\n    <p style=\"margin: 5px 0 0 0; font-size: 14px; opacity: 0.9;\">Theme: ${dateInfo.theme}</p>\n  </div>\n  \n  <div style=\"padding: 30px 25px; background: white;\">\n    \n    <!-- Saint of the Day -->\n    ${saintData.name !== 'Weekday in Ordinary Time' ? `\n    <div style=\"margin-bottom: 35px;\">\n      <h2 style=\"color: #4a5568; font-size: 20px; border-bottom: 2px solid #e2e8f0; padding-bottom: 8px;\">✝️ Saint of the Day</h2>\n      <div style=\"background: #fef5e7; padding: 20px; border-radius: 8px;\">\n        <h3 style=\"margin: 0 0 10px 0; color: #764ba2; font-size: 18px;\">${saintData.name}</h3>\n        <p style=\"margin: 0; color: #4a5568; line-height: 1.7;\">${spiritual.saintIntro || saintData.intro}</p>\n        ${saintData.quote ? `<p style=\"margin: 15px 0 0 0; color: #553c9a; font-style: italic;\">\"${saintData.quote}\"</p>` : ''}\n      </div>\n    </div>\n    ` : ''}\n    \n    <!-- Readings Section -->\n    <div style=\"margin-bottom: 35px;\">\n      <h2 style=\"color: #4a5568; font-size: 20px; border-bottom: 2px solid #e2e8f0; padding-bottom: 8px;\">📖 Today's Readings</h2>\n      <div style=\"background: #f7fafc; padding: 20px; border-radius: 8px;\">\n        <ul style=\"list-style: none; padding: 0; margin: 0;\">\n          <li style=\"margin: 12px 0;\"><strong style=\"color: #2d3748;\">First Reading:</strong> ${readingsData.firstReading}</li>\n          <li style=\"margin: 12px 0;\"><strong style=\"color: #2d3748;\">Psalm:</strong> ${readingsData.psalm}</li>\n          ${readingsData.secondReading ? `<li style=\"margin: 12px 0;\"><strong style=\"color: #2d3748;\">Second Reading:</strong> ${readingsData.secondReading}</li>` : ''}\n          <li style=\"margin: 12px 0;\"><strong style=\"color: #2d3748;\">Gospel:</strong> ${readingsData.gospel}</li>\n        </ul>\n        <p style=\"text-align: center; margin-top: 20px;\">\n          <a href=\"${readingsData.usccbLink}\" style=\"background: #667eea; color: white; padding: 12px 25px; text-decoration: none; border-radius: 6px; font-weight: 600;\">Read Full Texts at USCCB.org →</a>\n        </p>\n      </div>\n    </div>\n    \n    <!-- Benedictine Reflection -->\n    <div style=\"margin-bottom: 35px;\">\n      <h2 style=\"color: #4a5568; font-size: 20px; border-bottom: 2px solid #e2e8f0; padding-bottom: 8px;\">🕊️ Benedictine Reflection: ${dateInfo.theme}</h2>\n      <div style=\"background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%); padding: 20px; border-radius: 8px;\">\n        <p style=\"margin: 0 0 15px 0; color: #4a5568; line-height: 1.7;\">${spiritual.reflection}</p>\n        <div style=\"background: rgba(255,255,255,0.7); padding: 15px; border-radius: 6px;\">\n          <h4 style=\"margin: 0 0 8px 0; color: #764ba2; font-size: 14px; text-transform: uppercase; letter-spacing: 1px;\">Today's Challenge</h4>\n          <p style=\"margin: 0; color: #4a5568; line-height: 1.6; font-weight: 500;\">${spiritual.challenge}</p>\n        </div>\n      </div>\n    </div>\n    \n    <!-- Prayer -->\n    <div style=\"margin-bottom: 35px;\">\n      <h2 style=\"color: #4a5568; font-size: 20px; border-bottom: 2px solid #e2e8f0; padding-bottom: 8px;\">🙏 Prayer for Today</h2>\n      <div style=\"text-align: center; padding: 20px; background: #faf5ff; border-radius: 8px;\">\n        <p style=\"margin: 0; color: #553c9a; line-height: 1.8; font-size: 15px; font-style: italic;\">${spiritual.prayer.replace(/\\n/g, '<br/>')}</p>\n      </div>\n    </div>\n    \n    <!-- Historical Facts -->\n    ${spiritual.historicalFacts && spiritual.historicalFacts.length > 0 ? `\n    <div style=\"margin-bottom: 35px;\">\n      <h2 style=\"color: #4a5568; font-size: 20px; border-bottom: 2px solid #e2e8f0; padding-bottom: 8px;\">📅 On This Day in History</h2>\n      <ul style=\"margin: 0; padding: 0; list-style: none;\">\n        ${spiritual.historicalFacts.map(h => `\n        <li style=\"margin-bottom: 10px; padding-left: 60px; position: relative; color: #4a5568; line-height: 1.6;\">\n          <span style=\"position: absolute; left: 0; color: #667eea; font-weight: bold; width: 50px;\">${h.year}:</span>\n          ${h.fact}\n        </li>`).join('')}\n      </ul>\n    </div>\n    ` : ''}\n    \n  </div>\n  \n  <footer style=\"background: #f7fafc; padding: 25px; text-align: center; border-top: 1px solid #e2e8f0; color: #718096; border-radius: 0 0 8px 8px;\">\n    <p style=\"margin: 0; font-size: 16px; font-style: italic; line-height: 1.6;\">\"Always we begin again\"<br/><span style=\"font-size: 14px; font-style: normal;\">- St. Benedict</span></p>\n    <p style=\"margin: 15px 0 0 0; font-size: 12px; opacity: 0.7;\">Daily Reflection • Catholic Spirituality • AI Enhanced</p>\n  </footer>\n</body>\n</html>\n`;\n  \n  console.log('Email compilation with AI complete');\n  \n  return {\n    subject: subject,\n    html: html,\n    text: subject\n  };\n  \n} catch (error) {\n  console.error('Email compilation error:', error.message);\n  return {\n    subject: 'Daily Reflection - Error',\n    html: `<p>Error compiling email: ${error.message}</p>`,\n    text: 'Error compiling daily reflection'\n  };\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1200, 300],
      "id": "email-compiler",
      "name": "Email Compiler",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "sendTo": "cpbjr@mac.com",
        "subject": "={{ $json.subject }}",
        "message": "={{ $json.html }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [1100, 300],
      "id": "gmail-send",
      "name": "Send Gmail",
      "credentials": {
        "gmailOAuth2": {
          "id": "your-gmail-credential-id",
          "name": "Gmail account"
        }
      },
      "onError": "continueRegularOutput"
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Date Formatter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date Formatter": {
      "main": [
        [
          {
            "node": "Saints Lookup",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Saints Lookup": {
      "main": [
        [
          {
            "node": "Readings Lookup",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Readings Lookup": {
      "main": [
        [
          {
            "node": "AI Spiritual Reflection",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Spiritual Reflection": {
      "main": [
        [
          {
            "node": "Email Compiler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "xAI Grok Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Spiritual Reflection",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Email Compiler": {
      "main": [
        [
          {
            "node": "Send Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "timezone": "America/Denver"
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "tags": ["daily-reflection", "linear-final", "readings-fixed"]
}