Prior attemps/daily-spiritual-enhanced.json
{
  "name": "Daily Spiritual Reflection - Enhanced",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 4
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [100, 300],
      "id": "schedule-trigger",
      "name": "Daily Schedule"
    },
    {
      "parameters": {
        "jsCode": "// Date and Theme Calculator\nconst now = new Date();\nconst mountainTime = new Date(now.toLocaleString(\"en-US\", {timeZone: \"America/Denver\"}));\n\n// Format date for display\nconst today = mountainTime.toLocaleDateString('en-US', { \n  weekday: 'long', \n  year: 'numeric', \n  month: 'long', \n  day: 'numeric' \n});\n\nconst dayOfWeek = mountainTime.toLocaleDateString('en-US', { weekday: 'long' });\nconst monthDay = `${mountainTime.getMonth() + 1}/${mountainTime.getDate()}`;\n\n// USCCB date format for readings link\nconst usccbDate = [\n  String(mountainTime.getMonth() + 1).padStart(2, '0'),\n  String(mountainTime.getDate()).padStart(2, '0'), \n  String(mountainTime.getFullYear()).slice(-2)\n].join('');\n\n// Benedictine theme for each day\nconst benedictineThemes = {\n  'Sunday': 'Worship & Community',\n  'Monday': 'Humility & Simplicity', \n  'Tuesday': 'Stability',\n  'Wednesday': 'Listening',\n  'Thursday': 'Hospitality & Kindness',\n  'Friday': 'Sacrifice & Repentance',\n  'Saturday': 'Rest & Beauty'\n};\n\nconsole.log('Date formatted:', today);\n\nreturn {\n  today: today,\n  dayOfWeek: dayOfWeek,\n  monthDay: monthDay,\n  usccbDate: usccbDate,\n  theme: benedictineThemes[dayOfWeek] || 'Prayer',\n  usccbLink: `https://bible.usccb.org/bible/readings/${usccbDate}.cfm`\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [300, 300],
      "id": "date-formatter",
      "name": "Date & Theme"
    },
    {
      "parameters": {
        "jsCode": "// Saints and Readings Database\nconst dateInfo = $input.item.json;\nconst currentDate = dateInfo.monthDay;\n\n// Saints Database (AI will generate descriptions)\nconst saintsDatabase = {\n  // January\n  '1/1': { \n    name: 'Mary, Mother of God', \n    type: 'Solemnity', \n    quote: 'My soul proclaims the greatness of the Lord.'\n  },\n  '1/2': { \n    name: 'Basil the Great and Gregory Nazianzen', \n    type: 'Memorial',\n    quote: 'We must prefer nothing whatever to Christ.'\n  },\n  '1/4': { \n    name: 'Elizabeth Ann Seton', \n    type: 'Memorial',\n    quote: 'The first end I propose in our daily work is to do the will of God.'\n  },\n  '1/17': { \n    name: 'Anthony, Abbot', \n    type: 'Memorial',\n    quote: 'Our life and our death is with our neighbor.'\n  },\n  '8/24': { \n    name: 'Bartholomew', \n    type: 'Feast',\n    quote: 'Rabbi, you are the Son of God! You are the King of Israel!'\n  },\n  '8/27': {\n    name: 'Monica',\n    type: 'Memorial', \n    quote: 'Nothing is far from God.'\n  },\n  '12/25': { \n    name: 'The Nativity of the Lord', \n    type: 'Solemnity',\n    quote: 'The Word became flesh and made his dwelling among us.'\n  }\n};\n\n// Complete liturgical readings database from USCCB\nconst readingsDatabase = {\n  '8/25': { firstReading: '1 Thessalonians 1:1-5, 8b-10', psalm: 'Psalm 149:1b-2, 3-4, 5-6a and 9b', gospel: 'Matthew 23:13-22', season: 'Ordinary Time' },\n  '8/26': { firstReading: '1 Thessalonians 2:1-8', psalm: 'Psalm 139:1-3, 4-6', gospel: 'Matthew 23:23-26', season: 'Ordinary Time' },\n  '8/27': { firstReading: '1 Thessalonians 2:9-13', psalm: 'Psalm 139:7-8, 9-10, 11-12ab', gospel: 'Matthew 23:27-32', season: 'Ordinary Time' },\n  '8/28': { firstReading: '1 Thessalonians 3:7-13', psalm: 'Psalm 90:3-5a, 12-13, 14 and 17', gospel: 'Matthew 24:42-51', season: 'Ordinary Time' },\n  '8/29': { firstReading: '1 Thessalonians 4:1-8', psalm: 'Psalm 97:1 and 2b, 5-6, 10, 11-12', gospel: 'Mark 6:17-29', season: 'Ordinary Time' },\n  '8/30': { firstReading: '1 Thessalonians 4:9-11', psalm: 'Psalm 98:1, 7-8, 9', gospel: 'Matthew 25:14-30', season: 'Ordinary Time' },\n  '8/31': { firstReading: 'Sirach 3:17-18, 20, 28-29', psalm: 'Psalm 68:4-5, 6-7, 10-11', secondReading: 'Hebrews 12:18-19, 22-24a', gospel: 'Luke 14:1, 7-14', season: 'Ordinary Time' },\n  '9/1': { firstReading: '1 Thessalonians 4:13-18', psalm: 'Psalm 96:1 and 3, 4-5, 11-12, 13', gospel: 'Luke 4:16-30', season: 'Ordinary Time' },\n  '9/2': { firstReading: '1 Thessalonians 5:1-6, 9-11', psalm: 'Psalm 27:1, 4, 13-14', gospel: 'Luke 4:31-37', season: 'Ordinary Time' },\n  '9/3': { firstReading: 'Colossians 1:1-8', psalm: 'Psalm 52:10, 11', gospel: 'Luke 4:38-44', season: 'Ordinary Time' },\n  '9/4': { firstReading: 'Colossians 1:9-14', psalm: 'Psalm 98:2-3ab, 3cd-4, 5-6', gospel: 'Luke 5:1-11', season: 'Ordinary Time' },\n  '9/5': { firstReading: 'Colossians 1:15-20', psalm: 'Psalm 100:1b-2, 3, 4, 5', gospel: 'Luke 5:33-39', season: 'Ordinary Time' },\n  '9/6': { firstReading: 'Colossians 1:21-23', psalm: 'Psalm 54:3-4, 6 and 8', gospel: 'Luke 6:1-5', season: 'Ordinary Time' },\n  '9/7': { firstReading: 'Wisdom 9:13-18b', psalm: 'Psalm 90:3-4, 5-6, 12-13, 14 and 17', secondReading: 'Philemon 9-10, 12-17', gospel: 'Luke 14:25-33', season: 'Ordinary Time' },\n  '9/8': { firstReading: ' Micah 5:1-4a', psalm: 'Psalm 13:6ab, 6c', gospel: 'Matthew 1:1-16, 18-23 ', season: 'Ordinary Time' },\n  '9/9': { firstReading: 'Colossians 2:6-15', psalm: 'Psalm 145:1b-2, 8-9, 10-11', gospel: ' Luke 6:12-19', season: 'Ordinary Time' },\n  '9/10': { firstReading: 'Colossians 3:1-11', psalm: 'Psalm 145:2-3, 10-11, 12-13ab', gospel: 'Luke 6:20-26', season: 'Ordinary Time' },\n  '9/11': { firstReading: 'Colossians 3:12-17', psalm: 'Psalm 150:1b-2, 3-4, 5-6', gospel: 'Luke 6:27-38', season: 'Ordinary Time' },\n  '9/12': { firstReading: '1 Timothy 1:1-2, 12-14', psalm: 'Psalm 16:1b-2a and 5, 7-8, 11', gospel: 'Luke 6:39-42', season: 'Ordinary Time' },\n  '9/13': { firstReading: '1 Timothy 1:15-17', psalm: 'Psalm 113:1b-2, 3-4, 5 and 6-7', gospel: 'Luke 6:43-49', season: 'Ordinary Time' },\n  '9/14': { firstReading: 'Numbers 21:4b-9', psalm: 'Psalm 78:1bc-2, 34-35, 36-37, 38', secondReading: 'Philippians 2:6-11', gospel: 'John 3:13-17', season: 'Ordinary Time' },\n  '9/15': { firstReading: '1 Timothy 2:1-8', psalm: 'Psalm 28:2, 7, 8-9', gospel: 'John 19:25-27', season: 'Ordinary Time' },\n  '9/16': { firstReading: '1 Timothy 3:1-13', psalm: 'Psalm 101:1b-2ab, 2cd-3ab, 5, 6', gospel: 'Luke 7:11-17', season: 'Ordinary Time' },\n  '9/17': { firstReading: '1 Timothy 3:14-16', psalm: 'Psalm 111:1-2, 3-4, 5-6', gospel: 'Luke 7:31-35', season: 'Ordinary Time' },\n  '9/19': { firstReading: '1 Timothy 6:2c-12', psalm: 'Psalm 49:6-7, 8-10, 17-18, 19-20', gospel: 'Luke 8:1-3', season: 'Ordinary Time' },\n  '9/20': { firstReading: '1 Timothy 6:13-16', psalm: 'Psalm 100:1b-2, 3, 4, 5', gospel: 'Luke 8:4-15', season: 'Ordinary Time' },\n  '9/21': { firstReading: 'Amos 8:4-7', psalm: 'Psalm 113:1-2, 4-6, 7-8', secondReading: '1 Timothy 2:1-8', gospel: 'Luke 16:1-13 ', season: 'Ordinary Time' },\n  '9/22': { firstReading: 'Ezra 1:1-6', psalm: 'Psalm 126:1b-2ab, 2cd-3, 4-5, 6', gospel: 'Luke 8:16-18', season: 'Ordinary Time' },\n  '9/23': { firstReading: 'Ezra 6:7-8, 12b, 14-20', psalm: 'Psalm 122:1-2, 3-4ab, 4cd-5', gospel: 'Luke 8:19-21', season: 'Ordinary Time' },\n  '9/24': { firstReading: 'Ezra 9:5-9', psalm: 'Tobit 13:2, 3-4a, 4befghn, 7-8', gospel: 'Luke 9:1-6', season: 'Ordinary Time' },\n  '9/25': { firstReading: 'Haggai 1:1-8', psalm: 'Psalm 149:1b-2, 3-4, 5-6a and 9b', gospel: 'Luke 9:7-9', season: 'Ordinary Time' },\n  '9/26': { firstReading: 'Haggai 2:1-9', psalm: 'Psalm 43:1, 2, 3, 4', gospel: 'Luke 9:18-22', season: 'Ordinary Time' },\n  '9/27': { firstReading: 'Zechariah 2:5-9, 14-15a', psalm: 'Jeremiah 31:10, 11-12ab, 13', gospel: 'Luke 9:43b-45', season: 'Ordinary Time' },\n  '9/28': { firstReading: 'Amos 6:1a, 4-7', psalm: 'Psalm 146:7, 8-9, 9-10', secondReading: '1 Timothy 6:11-16', gospel: 'Luke 16:19-31', season: 'Ordinary Time' },\n  '9/29': { firstReading: 'Daniel 7:9-10, 13-14', psalm: 'Psalm 138:1-2ab, 2cde-3, 4-5', gospel: 'John 1:47-51', season: 'Ordinary Time' },\n  '9/30': { firstReading: 'Zechariah 8:20-23', psalm: 'Psalm 87:1b-3, 4-5, 6-7', gospel: 'Luke 9:51-56', season: 'Ordinary Time' },\n  '10/1': { firstReading: 'Nehemiah 2:1-8', psalm: 'Psalm 137:1-2, 3, 4-5, 6', gospel: 'Luke 9:57-62', season: 'Ordinary Time' },\n  '11/1': { firstReading: 'Revelation 7:2-4, 9-14', psalm: 'Psalm 24:1bc-2, 3-4ab, 5-6', secondReading: '1 John 3:1-3', gospel: 'Matthew 5:1-12a', season: 'Ordinary Time' },\n  '11/2': { firstReading: 'Wisdom 3:1-9', psalm: 'Psalm 23:1-3a, 3b-4, 5, 6', secondReading: 'Romans 5:5-11', gospel: 'John 6:37-40', season: 'Ordinary Time' },\n  '12/1': { firstReading: 'Isaiah 4:2-6', psalm: 'Psalm 122:1-2, 3-4b, 4cd-5, 6-7, 8-9', gospel: 'Matthew 8:5-11', season: 'Advent' },\n  '12/8': { firstReading: 'Genesis 3:9-15, 20', psalm: 'Psalm 98:1, 2-3ab, 3cd-4', secondReading: 'Ephesians 1:3-6, 11-12', gospel: 'Luke 1:26-38', season: 'Advent' },\n  '12/25': { firstReading: 'Isaiah 52:7-10', psalm: 'Psalm 98:1, 2-3, 3-4, 5-6', secondReading: 'Hebrews 1:1-6', gospel: 'John 1:1-18', season: 'Christmas' },\n  '12/31': { firstReading: '1 John 2:18-21', psalm: 'Psalm 96:1-2, 11-12, 13', gospel: 'John 1:1-18', season: 'Christmas' }\n};\n\n// Default readings for ordinary weekdays\nconst ordinaryTimeReadings = {\n  'Monday': {\n    firstReading: 'Hebrews 11:32-40',\n    psalm: 'Psalm 31:20, 21, 22, 24',\n    gospel: 'Mark 5:1-20'\n  },\n  'Tuesday': {\n    firstReading: 'Hebrews 12:1-4',\n    psalm: 'Psalm 22:26b-27, 28, 30, 31-32',\n    gospel: 'Mark 5:21-43'\n  },\n  'Wednesday': {\n    firstReading: 'Hebrews 12:4-7, 11-15',\n    psalm: 'Psalm 103:1-2, 13-14, 17-18a',\n    gospel: 'Mark 6:1-6'\n  },\n  'Thursday': {\n    firstReading: 'Hebrews 12:18-19, 21-24',\n    psalm: 'Psalm 48:2-3ab, 3cd-4, 9, 10-11',\n    gospel: 'Mark 6:7-13'\n  },\n  'Friday': {\n    firstReading: 'Hebrews 13:1-8',\n    psalm: 'Psalm 27:1, 3, 5, 8b-9abc',\n    gospel: 'Mark 6:14-29'\n  },\n  'Saturday': {\n    firstReading: 'Hebrews 13:15-17, 20-21',\n    psalm: 'Psalm 23:1-3a, 3b-4, 5, 6',\n    gospel: 'Mark 6:30-34'\n  },\n  'Sunday': {\n    firstReading: 'Isaiah 55:10-11',\n    psalm: 'Psalm 65:10, 11, 12-13, 14',\n    secondReading: 'Romans 8:18-23',\n    gospel: 'Matthew 13:1-23'\n  }\n};\n\n// Get saint for today\nlet todayData = saintsDatabase[currentDate];\n\n// Get readings for today (always use liturgical readings, not saint-specific ones)\nlet todayReadings = readingsDatabase[currentDate];\n\n// If no specific readings found, use ordinary time defaults based on day of week\nif (!todayReadings && dateInfo.dayOfWeek) {\n  todayReadings = ordinaryTimeReadings[dateInfo.dayOfWeek];\n}\n\n// Final fallback for readings\nif (!todayReadings) {\n  todayReadings = {\n    firstReading: 'Check USCCB for readings',\n    psalm: 'Psalm 23:1-6',\n    gospel: 'John 3:16-21',\n    season: 'Ordinary Time'\n  };\n}\n\n// If no saint, create default day info\nif (!todayData) {\n  if (dateInfo.dayOfWeek === 'Sunday') {\n    todayData = {\n      name: 'Sunday in Ordinary Time',\n      type: 'Sunday',\n      intro: 'The Lord\\'s Day, when we gather to celebrate the Eucharist and commemorate Christ\\'s resurrection.'\n    };\n  } else {\n    todayData = {\n      name: 'Weekday in Ordinary Time',\n      type: 'Weekday', \n      intro: 'A day to grow in holiness through ordinary work and prayer.'\n    };\n  }\n}\n\n// Keep saint and readings separate\nconsole.log(`Saint for ${currentDate}:`, todayData.name);\nconsole.log(`Readings: ${todayReadings.firstReading}, ${todayReadings.gospel}`);\n\nreturn {\n  ...dateInfo,\n  saint: todayData,\n  readings: todayReadings\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [500, 300],
      "id": "spiritual-data",
      "name": "Spiritual Data"
    },
    {
      "parameters": {
        "jsCode": "// Build explicit prompt with actual data\nconst data = $input.item.json;\n\nconst prompt = `You are a Catholic spiritual director. Create a reflection using ONLY the provided data.\n\nTODAY'S DATA:\n- Day: ${data.dayOfWeek}\n- Benedictine Theme: ${data.theme}\n- Saint: ${data.saint.name}\n- Saint Info: ${data.saint.intro}\n- Saint Quote: ${data.saint.quote}\n- First Reading: ${data.readings.firstReading}\n- Psalm: ${data.readings.psalm}\n- Gospel: ${data.readings.gospel}\n\nWrite a spiritual reflection about ${data.saint.name} connecting the readings ${data.readings.firstReading} and ${data.readings.gospel} to the Benedictine theme of ${data.theme}.\n\nMUST use exactly these references:\n- Saint: ${data.saint.name}\n- First Reading: ${data.readings.firstReading}\n- Gospel: ${data.readings.gospel}\n- Theme: ${data.theme}\n\nDO NOT reference other saints, bible books, or verses.\n\nReturn only valid JSON in this exact format:\n\n{\n  \"reflection\": \"3-4 sentences about the saint and readings for the theme\",\n  \"challenge\": \"A practical spiritual challenge based on Benedictine spirituality\",\n  \"prayer\": \"A prayer incorporating the saint and theme\"\n}`;\n\nconsole.log('Generated prompt for AI:', prompt.substring(0, 200) + '...');\n\nreturn {\n  ...data,\n  prompt: prompt\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [600, 300],
      "id": "prompt-builder",
      "name": "Prompt Builder"
    },
    {
      "parameters": {
        "promptType": "define", 
        "text": "Write a Catholic spiritual reflection and saint description. Return only JSON format: {\"saintDescription\": \"3-5 sentences about the saint/festival\", \"reflection\": \"spiritual reflection connecting readings to theme\", \"challenge\": \"practical challenge\", \"prayer\": \"prayer for the day\"}",
        "messages": {
          "messageValues": [
            {
              "message": "{{ $json.saint.name }} - {{ $json.readings.firstReading }} - {{ $json.readings.gospel }} - {{ $json.theme }}"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [800, 300],
      "id": "ai-reflection",
      "name": "AI Reflection"
    },
    {
      "parameters": {
        "model": "grok-4-0709",
        "options": {
          "maxTokens": 2500,
          "temperature": 0.7
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatXAiGrok",
      "typeVersion": 1,
      "position": [700, 200],
      "id": "grok-model",
      "name": "xAI Grok Model",
      "credentials": {
        "xAiApi": {
          "id": "your-xai-credential-id",
          "name": "xAI account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Compile the final email\nconst spiritualData = $('Prompt Builder').item.json;\nconst aiResponse = $input.item.json;\n\n// Parse AI response\nlet aiContent = {};\ntry {\n  const responseText = aiResponse.text || aiResponse.output || aiResponse.message || '';\n  const cleanText = responseText.replace(/```json\\n?/g, \"\").replace(/```\\n?/g, \"\").trim();\n  aiContent = JSON.parse(cleanText);\n  console.log('Successfully parsed AI response');\n} catch (error) {\n  console.log('Using fallback spiritual content:', error.message);\n  aiContent = {\n    reflection: `Today's theme is ${spiritualData.theme}. In the spirit of St. Benedict, let us embrace this virtue through prayer and mindful living.`,\n    challenge: 'Take 10 minutes today for lectio divina (sacred reading). Choose a verse from today\\'s readings and meditate on it slowly.',\n    prayer: `Loving God, through the intercession of ${spiritualData.saint.name}, help us grow in ${spiritualData.theme.toLowerCase()}. May we follow the path of holiness outlined in your Word. Amen.`\n  };\n}\n\nconst subject = `Daily Reflection - ${spiritualData.today}`;\n\n// Create clean, readable HTML email\nconst html = `\n<!DOCTYPE html>\n<html>\n<head>\n  <meta charset=\"UTF-8\">\n  <title>${subject}</title>\n  <link href=\"https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap\" rel=\"stylesheet\">\n</head>\n<body style=\"font-family: 'Ubuntu', sans-serif; line-height: 1.6; color: #333; max-width: 600px; margin: 0 auto; padding: 20px;\">\n  \n  <!-- Header -->\n  <div style=\"background: linear-gradient(135deg, #667eea 0%, #764ba2 100%); color: white; padding: 25px; text-align: center; border-radius: 10px; margin-bottom: 30px;\">\n    <h1 style=\"margin: 0; font-size: 28px; font-family: 'Ubuntu', sans-serif;\">Daily Spiritual Reflection</h1>\n    <p style=\"margin: 10px 0 0 0; font-size: 18px; opacity: 0.9; font-family: 'Ubuntu', sans-serif;\">${spiritualData.today}</p>\n    <p style=\"margin: 5px 0 0 0; font-size: 16px; opacity: 0.8; font-family: 'Ubuntu', sans-serif;\">Benedictine Theme: ${spiritualData.theme}</p>\n  </div>\n  \n  <!-- Saint Section -->\n  ${spiritualData.saint.name !== 'Weekday in Ordinary Time' ? `\n  <div style=\"background-color: #fef5e7; padding: 20px; border-radius: 8px; margin-bottom: 25px;\">\n    <h2 style=\"color: #764ba2; margin: 0 0 15px 0; font-size: 20px; font-family: 'Ubuntu', sans-serif;\">Today we Celebrate</h2>\n    <h3 style=\"color: #553c9a; margin: 0 0 15px 0; font-size: 24px; font-family: 'Ubuntu', sans-serif;\">${spiritualData.saint.type === 'Memorial' || spiritualData.saint.type === 'Feast' || spiritualData.saint.type === 'Solemnity' ? 'Saint ' : ''}${spiritualData.saint.name}</h3>\n    <p style=\"margin: 0 0 10px 0; font-style: italic; color: #555; font-size: 16px; font-family: 'Ubuntu', sans-serif;\">${spiritualData.saint.type}</p>\n    <p style=\"margin: 0 0 15px 0; color: #444; font-size: 16px; font-family: 'Ubuntu', sans-serif;\">${aiContent.saintDescription || 'A blessed day in the liturgical calendar.'}</p>\n    ${spiritualData.saint.quote ? `<p style=\"margin: 0 0 15px 0; color: #553c9a; font-style: italic; font-size: 16px; font-family: 'Ubuntu', sans-serif;\">\"${spiritualData.saint.quote}\"</p>` : ''}\n    <div style=\"text-align: center;\">\n      <a href=\"https://en.wikipedia.org/wiki/${encodeURIComponent(spiritualData.saint.name.replace(/,.*/, ''))}\" target=\"_blank\" style=\"display: inline-block; background-color: #553c9a; color: white; padding: 10px 20px; text-decoration: none; border-radius: 5px; font-weight: bold; font-family: 'Ubuntu', sans-serif; font-size: 14px;\">Learn More on Wikipedia →</a>\n    </div>\n  </div>\n  ` : ''}\n  \n  <!-- Readings -->\n  <div style=\"background-color: #f8f9fa; padding: 20px; border-radius: 8px; margin-bottom: 25px;\">\n    <h2 style=\"color: #4a5568; margin: 0 0 15px 0; font-size: 18px;\">📖 Today's Readings</h2>\n    <ul style=\"margin: 0; padding-left: 20px; color: #555;\">\n      <li style=\"margin-bottom: 8px;\"><strong>First Reading:</strong> ${spiritualData.readings.firstReading}</li>\n      <li style=\"margin-bottom: 8px;\"><strong>Psalm:</strong> ${spiritualData.readings.psalm}</li>\n      ${spiritualData.readings.secondReading ? `<li style=\"margin-bottom: 8px;\"><strong>Second Reading:</strong> ${spiritualData.readings.secondReading}</li>` : ''}\n      <li style=\"margin-bottom: 0;\"><strong>Gospel:</strong> ${spiritualData.readings.gospel}</li>\n    </ul>\n    <div style=\"text-align: center; margin-top: 15px;\">\n      <a href=\"${spiritualData.usccbLink}\" style=\"display: inline-block; background-color: #667eea; color: white; padding: 10px 20px; text-decoration: none; border-radius: 5px; font-weight: bold;\">Read Full Texts →</a>\n    </div>\n  </div>\n  \n  <!-- Reflection -->\n  <div style=\"background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%); padding: 20px; border-radius: 8px; margin-bottom: 25px;\">\n    <h2 style=\"color: #4a5568; margin: 0 0 15px 0; font-size: 18px;\">🕊️ Benedictine Reflection: ${spiritualData.theme}</h2>\n    <p style=\"margin: 0 0 15px 0; color: #444; line-height: 1.7;\">${aiContent.reflection}</p>\n    <div style=\"background-color: rgba(255,255,255,0.8); padding: 15px; border-radius: 6px;\">\n      <h3 style=\"color: #764ba2; margin: 0 0 10px 0; font-size: 14px; text-transform: uppercase;\">Today's Challenge</h3>\n      <p style=\"margin: 0; color: #444; font-weight: 500;\">${aiContent.challenge}</p>\n    </div>\n  </div>\n  \n  <!-- Prayer -->\n  <div style=\"background-color: #faf5ff; padding: 20px; border-radius: 8px; text-align: center; margin-bottom: 25px;\">\n    <h2 style=\"color: #553c9a; margin: 0 0 15px 0; font-size: 18px;\">🙏 Prayer for Today</h2>\n    <p style=\"margin: 0; color: #553c9a; font-style: italic; line-height: 1.8;\">\n      ${aiContent.prayer.replace(/\\n/g, '<br>')}\n    </p>\n  </div>\n  \n  <!-- Footer -->\n  <div style=\"text-align: center; padding: 20px; color: #666; border-top: 1px solid #ddd;\">\n    <p style=\"margin: 0; font-style: italic;\">\"Always we begin again\" - St. Benedict</p>\n    <p style=\"margin: 10px 0 0 0; font-size: 12px;\">Daily Spiritual Reflection</p>\n  </div>\n  \n</body>\n</html>\n`;\n\nconsole.log('Email compiled successfully');\n\nreturn {\n  subject: subject,\n  html: html,\n  spiritualData: spiritualData,\n  aiContent: aiContent\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300],
      "id": "email-compiler",
      "name": "Email Compiler"
    },
    {
      "parameters": {
        "sendTo": "cpbjr@mac.com",
        "subject": "={{ $json.subject }}",
        "message": "={{ $json.html }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [1100, 300],
      "id": "send-email",
      "name": "Send Email",
      "credentials": {
        "gmailOAuth2": {
          "id": "your-gmail-credential-id",
          "name": "Gmail account"
        }
      }
    }
  ],
  "connections": {
    "Daily Schedule": {
      "main": [
        [
          {
            "node": "Date & Theme",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date & Theme": {
      "main": [
        [
          {
            "node": "Spiritual Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Spiritual Data": {
      "main": [
        [
          {
            "node": "Prompt Builder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prompt Builder": {
      "main": [
        [
          {
            "node": "AI Reflection",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Reflection": {
      "main": [
        [
          {
            "node": "Email Compiler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "xAI Grok Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Reflection",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Email Compiler": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "timezone": "America/Denver"
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "tags": ["daily-reflection", "simple", "spiritual", "catholic"]
}