Prior attemps/daily-summary-static-workflow-corrected.json
{
  "name": "Daily Summary - Static Data Version",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 4
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [100, 300],
      "id": "schedule-trigger",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "jsCode": "// Date Formatter - Calculate all date formats needed for the workflow\n// Force Mountain Time calculation\nconst now = new Date();\nconst mountainTime = new Date(now.toLocaleString(\"en-US\", {timeZone: \"America/Denver\"}));\nconst yesterday = new Date(mountainTime.getTime() - 24*60*60*1000);\n\n// Create all date formats we'll need using Mountain Time\nconst output = {\n  // Display formats\n  today: mountainTime.toLocaleDateString('en-US', { \n    weekday: 'long', \n    year: 'numeric', \n    month: 'long', \n    day: 'numeric' \n  }),\n  dayOfWeek: mountainTime.toLocaleDateString('en-US', { weekday: 'long' }),\n  \n  // USCCB format (MMDDYY) for verification links\n  usccbDate: [\n    String(mountainTime.getMonth() + 1).padStart(2, '0'),\n    String(mountainTime.getDate()).padStart(2, '0'), \n    String(mountainTime.getFullYear()).slice(-2)\n  ].join(''),\n  \n  // MLB API format (YYYY-MM-DD)\n  yesterdayMLB: yesterday.toISOString().split('T')[0],\n  todayMLB: mountainTime.toISOString().split('T')[0],\n  \n  // Lookup formats for our static databases\n  monthDay: `${mountainTime.getMonth() + 1}/${mountainTime.getDate()}`,\n  yesterdayMonthDay: `${yesterday.getMonth() + 1}/${yesterday.getDate()}`,\n  \n  // Benedictine theme for the day\n  theme: {\n    'Sunday': 'Worship & Community',\n    'Monday': 'Humility & Simplicity',\n    'Tuesday': 'Stability',\n    'Wednesday': 'Listening',\n    'Thursday': 'Hospitality & Kindness',\n    'Friday': 'Sacrifice & Repentance',\n    'Saturday': 'Rest & Beauty'\n  }[mountainTime.toLocaleDateString('en-US', { weekday: 'long' })]\n};\n\n// Debug output\nconsole.log('Date formatting complete:', output.today);\nconsole.log('Month/Day format:', output.monthDay);\nconsole.log('Benedictine theme:', output.theme);\n\nreturn output;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [300, 300],
      "id": "date-formatter",
      "name": "Date Formatter"
    },
    {
      "parameters": {
        "jsCode": "// Saints Lookup - Use existing saints database\nconst dateInfo = $('Date Formatter').item.json;\n\n// This code is your existing Saints and Feast Days.c file content\n// Saints and Feast Days Database for Catholic Liturgical Calendar\n// Returns saint/feast information for any given date\n\nconst saintsDatabase = {\n  // January\n  '1/1': { name: 'Mary, Mother of God', type: 'Solemnity', quote: 'My soul proclaims the greatness of the Lord.', intro: 'The Solemnity of Mary, the Holy Mother of God, celebrates Mary\\'s divine motherhood and her role in salvation history.' },\n  '1/2': { name: 'Basil the Great and Gregory Nazianzen', type: 'Memorial', quote: 'We must prefer nothing whatever to Christ.', intro: 'These two fourth-century bishops and theologians were close friends who defended the divinity of Christ against the Arian heresy.' },\n  '1/4': { name: 'Elizabeth Ann Seton', type: 'Memorial', quote: 'The first end I propose in our daily work is to do the will of God.', intro: 'First native-born American saint, she founded the first American religious community for women and Catholic schools in America.' },\n  '1/17': { name: 'Anthony, Abbot', type: 'Memorial', quote: 'Our life and our death is with our neighbor.', intro: 'Father of Christian monasticism who spent 20 years alone in the Egyptian desert.' },\n  '1/21': { name: 'Agnes', type: 'Memorial', quote: 'Christ is my spouse; he has chosen me.', intro: 'Virgin martyr who died at age 12 or 13 for refusing to marry, choosing consecration to Christ.' },\n  '1/25': { name: 'Conversion of Paul', type: 'Feast', quote: 'It is no longer I who live, but Christ who lives in me.', intro: 'Celebrates Paul\\'s dramatic conversion on the road to Damascus from persecutor to apostle.' },\n  '1/28': { name: 'Thomas Aquinas', type: 'Memorial', quote: 'To one who has faith, no explanation is necessary. To one without faith, no explanation is possible.', intro: 'Dominican priest, Doctor of the Church, greatest medieval theologian and philosopher.' },\n  '1/31': { name: 'John Bosco', type: 'Memorial', quote: 'Run, jump, shout, but do not sin.', intro: 'Founded the Salesians to educate poor youth, pioneering preventive system of education.' },\n  \n  // Add more saints (abbreviated for workflow - full database in your Saints and Feast Days.c file)\n  '8/24': { name: 'Bartholomew', type: 'Feast', quote: 'Rabbi, you are the Son of God! You are the King of Israel!', intro: 'One of the twelve apostles, also called Nathanael, traditionally martyred in Armenia.' }\n};\n\n// Get the saint/feast for the current date\nconst currentDate = dateInfo.monthDay;\nconst todaySaint = saintsDatabase[currentDate] || null;\n\n// If no specific saint, check if it's a Sunday\nlet result = {};\nif (todaySaint) {\n  result = todaySaint;\n} else if (dateInfo.dayOfWeek === 'Sunday') {\n  result = {\n    name: `${dateInfo.dayOfWeek} in Ordinary Time`,\n    type: 'Sunday',\n    intro: 'The Lord\\'s Day, when we gather as a community to celebrate the Eucharist and commemorate Christ\\'s resurrection.'\n  };\n} else {\n  result = {\n    name: 'Weekday in Ordinary Time',\n    type: 'Weekday',\n    intro: 'A day to grow in holiness through ordinary work and prayer.'\n  };\n}\n\n// Add date info for downstream nodes\nresult.dateInfo = dateInfo;\n\nconsole.log(`Saint for ${currentDate}:`, result.name);\n\nreturn result;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [500, 200],
      "id": "saints-lookup",
      "name": "Saints Lookup"
    },
    {
      "parameters": {
        "jsCode": "// Readings Lookup - Use static liturgical readings database\nconst dateInfo = $('Date Formatter').item.json;\n\n// This is our new liturgical readings database\nconst readingsDatabase = {\n  '1/1': { \n    firstReading: 'Numbers 6:22-27', \n    psalm: 'Psalm 67:2-3, 5, 6, 8', \n    secondReading: 'Galatians 4:4-7', \n    gospel: 'Luke 2:16-21',\n    season: 'Christmas'\n  },\n  '8/24': { \n    firstReading: 'Revelation 21:9b-14', \n    psalm: 'Psalm 145:10-11, 12-13, 17-18', \n    gospel: 'John 1:45-51',\n    season: 'Ordinary Time'\n  },\n  '12/25': { \n    firstReading: 'Isaiah 52:7-10', \n    psalm: 'Psalm 98:1, 2-3, 3-4, 5-6', \n    secondReading: 'Hebrews 1:1-6', \n    gospel: 'John 1:1-18',\n    season: 'Christmas'\n  }\n};\n\n// Fallback readings for days not specifically listed\nconst ordinaryTimeReadings = {\n  'Monday': {\n    firstReading: 'Hebrews 11:32-40',\n    psalm: 'Psalm 31:20, 21, 22, 24',\n    gospel: 'Mark 5:1-20',\n    season: 'Ordinary Time'\n  },\n  'Sunday': {\n    firstReading: 'Isaiah 55:10-11',\n    psalm: 'Psalm 65:10, 11, 12-13, 14',\n    secondReading: 'Romans 8:18-23',\n    gospel: 'Matthew 13:1-23',\n    season: 'Ordinary Time'\n  }\n};\n\n// Get readings for the current date\nconst currentDate = dateInfo.monthDay;\nlet todayReadings = readingsDatabase[currentDate];\n\n// If no specific readings found, use ordinary time defaults\nif (!todayReadings) {\n  todayReadings = ordinaryTimeReadings[dateInfo.dayOfWeek] || ordinaryTimeReadings['Sunday'];\n}\n\n// Add verification link\ntodayReadings.usccbLink = `https://bible.usccb.org/bible/readings/${dateInfo.usccbDate}.cfm`;\ntodayReadings.dateInfo = dateInfo;\n\nconsole.log(`Readings for ${currentDate}:`, todayReadings.firstReading, todayReadings.gospel);\n\nreturn todayReadings;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [500, 300],
      "id": "readings-lookup",
      "name": "Readings Lookup"
    },
    {
      "parameters": {
        "jsCode": "// Dodgers Schedule Check - Hybrid Static/Dynamic Logic\nconst dateInfo = $('Date Formatter').item.json;\n\n// Complete static schedule from August 25th forward (Mountain Time Zone)\nconst dodgersSchedule = {\n  '8/25': { opponent: 'Cincinnati Reds', venue: 'home', time: '7:10 PM', type: 'Regular Season' },\n  '8/26': { opponent: 'Cincinnati Reds', venue: 'home', time: '7:10 PM', type: 'Regular Season' },\n  '8/27': { opponent: 'Cincinnati Reds', venue: 'home', time: '5:40 PM', type: 'Regular Season' },\n  '8/29': { opponent: 'Arizona Diamondbacks', venue: 'home', time: '7:10 PM', type: 'Regular Season' },\n  '8/30': { opponent: 'Arizona Diamondbacks', venue: 'home', time: '6:10 PM', type: 'Regular Season' },\n  '8/31': { opponent: 'Arizona Diamondbacks', venue: 'home', time: '1:10 PM', type: 'Regular Season' },\n  '9/2': { opponent: 'Pittsburgh Pirates', venue: 'away', time: '3:40 PM', type: 'Regular Season' },\n  '9/3': { opponent: 'Pittsburgh Pirates', venue: 'away', time: '3:40 PM', type: 'Regular Season' },\n  '9/4': { opponent: 'Pittsburgh Pirates', venue: 'away', time: '3:40 PM', type: 'Regular Season' },\n  '9/5': { opponent: 'Baltimore Orioles', venue: 'away', time: '4:05 PM', type: 'Regular Season' },\n  '9/6': { opponent: 'Baltimore Orioles', venue: 'away', time: '4:05 PM', type: 'Regular Season' },\n  '9/7': { opponent: 'Baltimore Orioles', venue: 'away', time: '10:35 AM', type: 'Regular Season' },\n  '9/8': { opponent: 'Colorado Rockies', venue: 'home', time: '7:10 PM', type: 'Regular Season' },\n  '9/9': { opponent: 'Colorado Rockies', venue: 'home', time: '7:10 PM', type: 'Regular Season' },\n  '9/10': { opponent: 'Colorado Rockies', venue: 'home', time: '7:10 PM', type: 'Regular Season' },\n  '9/12': { opponent: 'San Francisco Giants', venue: 'away', time: '7:15 PM', type: 'Regular Season' },\n  '9/13': { opponent: 'San Francisco Giants', venue: 'away', time: '6:05 PM', type: 'Regular Season' },\n  '9/14': { opponent: 'San Francisco Giants', venue: 'away', time: '1:05 PM', type: 'Regular Season' },\n  '9/15': { opponent: 'Philadelphia Phillies', venue: 'home', time: '7:10 PM', type: 'Regular Season' },\n  '9/16': { opponent: 'Philadelphia Phillies', venue: 'home', time: '7:10 PM', type: 'Regular Season' },\n  '9/17': { opponent: 'Philadelphia Phillies', venue: 'home', time: '7:10 PM', type: 'Regular Season' },\n  '9/18': { opponent: 'San Francisco Giants', venue: 'home', time: '7:10 PM', type: 'Regular Season' },\n  '9/19': { opponent: 'San Francisco Giants', venue: 'home', time: '7:10 PM', type: 'Regular Season' },\n  '9/20': { opponent: 'San Francisco Giants', venue: 'home', time: '6:10 PM', type: 'Regular Season' },\n  '9/21': { opponent: 'San Francisco Giants', venue: 'home', time: '1:10 PM', type: 'Regular Season' },\n  '9/23': { opponent: 'Arizona Diamondbacks', venue: 'away', time: '6:40 PM', type: 'Regular Season' },\n  '9/24': { opponent: 'Arizona Diamondbacks', venue: 'away', time: '6:40 PM', type: 'Regular Season' },\n  '9/25': { opponent: 'Arizona Diamondbacks', venue: 'away', time: '12:40 PM', type: 'Regular Season' },\n  '9/26': { opponent: 'Seattle Mariners', venue: 'away', time: '6:40 PM', type: 'Regular Season' },\n  '9/27': { opponent: 'Seattle Mariners', venue: 'away', time: '6:40 PM', type: 'Regular Season' },\n  '9/28': { opponent: 'Seattle Mariners', venue: 'away', time: '12:10 PM', type: 'Regular Season' }\n};\n\nconst currentDate = dateInfo.monthDay;\nconst todayGame = dodgersSchedule[currentDate];\nconst yesterday = dateInfo.yesterdayMonthDay;\nconst yesterdayGame = dodgersSchedule[yesterday];\n\nfunction shouldCheckGameResults(gameInfo) {\n  if (!gameInfo) return false;\n  if (gameInfo.type === 'Off Day') return false;\n  return true;\n}\n\n// Check if we're in postseason period (October 1st or later)\nfunction isPostseason(dateString) {\n  const [month, day] = dateString.split('/').map(Number);\n  return month >= 10; // October, November, December\n}\n\n// HYBRID LOGIC: Static for Regular Season, Dynamic for Postseason\nlet result;\n\nif (isPostseason(currentDate) || isPostseason(yesterday)) {\n  // POSTSEASON MODE: Use dynamic MLB API for all playoff games\n  result = {\n    mode: 'dynamic',\n    season: 'postseason',\n    dateInfo: dateInfo,\n    today: {\n      date: currentDate,\n      useDynamicAPI: true,\n      isPostseason: isPostseason(currentDate)\n    },\n    yesterday: {\n      date: yesterday,\n      useDynamicAPI: true,\n      isPostseason: isPostseason(yesterday),\n      shouldCheckResults: true // Always check API for playoff results\n    },\n    // Always use MLB API during postseason\n    mlbApiNeeded: true,\n    message: 'Using dynamic MLB API for postseason games'\n  };\n  \n  console.log('POSTSEASON MODE: Using dynamic MLB API for playoff games');\n} else {\n  // REGULAR SEASON MODE: Use static schedule\n  result = {\n    mode: 'static',\n    season: 'regular',\n    dateInfo: dateInfo,\n    today: {\n      date: currentDate,\n      game: todayGame || null,\n      hasGame: !!todayGame,\n      isPostseason: false\n    },\n    yesterday: {\n      date: yesterday,\n      game: yesterdayGame || null,\n      hasGame: !!yesterdayGame,\n      shouldCheckResults: shouldCheckGameResults(yesterdayGame),\n      isPostseason: false\n    },\n    // MLB API query helpers for regular season\n    mlbApiNeeded: shouldCheckGameResults(yesterdayGame),\n    gameInfo: yesterdayGame ? {\n      opponent: yesterdayGame.opponent,\n      venue: yesterdayGame.venue,\n      homeAway: yesterdayGame.venue === 'home' ? 'vs' : '@'\n    } : null\n  };\n  \n  console.log(`REGULAR SEASON MODE: Yesterday (${yesterday}) had game:`, result.yesterday.hasGame);\n  if (result.yesterday.game) {\n    console.log(`Game was: ${result.gameInfo.homeAway} ${result.gameInfo.opponent}`);\n  }\n}\n\nreturn result;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [500, 400],
      "id": "schedule-check",
      "name": "Schedule Check"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "game-check",
              "leftValue": "={{ Boolean($json.mlbApiNeeded) }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [700, 400],
      "id": "game-conditional",
      "name": "Game Check"
    },
    {
      "parameters": {
        "url": "=https://statsapi.mlb.com/api/v1/schedule?sportId=1&teamId=119&date={{ $('Date Formatter').item.json.yesterdayMLB }}",
        "options": {
          "timeout": 5000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 350],
      "id": "mlb-games",
      "name": "MLB Games API"
    },
    {
      "parameters": {
        "url": "https://statsapi.mlb.com/api/v1/standings?leagueId=104&season=2025&standingsTypes=regularSeason",
        "options": {
          "timeout": 5000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 450],
      "id": "mlb-standings",
      "name": "MLB Standings API"
    },
    {
      "parameters": {
        "jsCode": "// Process MLB data - simple version without complex node references\nconst scheduleData = $('Schedule Check').item.json;\nconst dateInfo = scheduleData.dateInfo;\n\nlet gameResult = {\n  hadGame: false,\n  score: 'No game yesterday',\n  summary: '',\n  opponent: '',\n  homeAway: '',\n  gameUrl: 'https://www.mlb.com/dodgers'\n};\n\nlet standingsResult = {\n  wins: 0,\n  losses: 0,\n  winPct: '.000',\n  position: 'N/A',\n  gamesBack: '-',\n  summary: 'Standings unavailable'\n};\n\n// If there was a game yesterday, process the API results\nif (scheduleData.mlbApiNeeded && $('MLB Games API').item?.json) {\n  try {\n    const games = $('MLB Games API').item.json;\n    if (games?.dates && games.dates.length > 0 && games.dates[0].games?.length > 0) {\n      const game = games.dates[0].games[0];\n      const homeTeam = game.teams.home;\n      const awayTeam = game.teams.away;\n      \n      const dodgersHome = homeTeam.team.id === 119;\n      const dodgers = dodgersHome ? homeTeam : awayTeam;\n      const opponent = dodgersHome ? awayTeam : homeTeam;\n      \n      const dodgersWon = dodgers.score > opponent.score;\n      \n      gameResult = {\n        hadGame: true,\n        score: `LAD ${dodgers.score}, ${opponent.team.name} ${opponent.score}`,\n        summary: dodgersWon ? 'W' : 'L',\n        opponent: opponent.team.name,\n        homeAway: dodgersHome ? 'vs' : '@',\n        gameUrl: `https://www.mlb.com/gameday/${game.gamePk}`,\n        finalScore: `${dodgersWon ? 'W' : 'L'} ${dodgers.score}-${opponent.score}`\n      };\n    }\n    \n    // Get standings data\n    const standings = $('MLB Standings API').item?.json;\n    if (standings?.records && standings.records.length > 0) {\n      for (let division of standings.records) {\n        if (division.teamRecords) {\n          const dodgers = division.teamRecords.find(team => team.team.id === 119);\n          if (dodgers) {\n            const position = dodgers.divisionRank || '?';\n            standingsResult = {\n              wins: dodgers.wins || 0,\n              losses: dodgers.losses || 0,\n              winPct: dodgers.winningPercentage || '.000',\n              position: position,\n              gamesBack: dodgers.gamesBack === '-' ? '0' : (dodgers.gamesBack || '-'),\n              summary: position === '1' ? `1st in NL West` : `${position} in NL West (${dodgers.gamesBack || '?'} GB)`\n            };\n            break;\n          }\n        }\n      }\n    }\n  } catch (error) {\n    console.log('Error processing MLB data:', error.message);\n  }\n} else {\n  // No game yesterday, use schedule info for display\n  gameResult.score = 'No game scheduled yesterday';\n  if (scheduleData.gameInfo) {\n    gameResult.score = `No game (next: ${scheduleData.gameInfo.homeAway} ${scheduleData.gameInfo.opponent})`;\n  }\n}\n\nreturn {\n  dataType: 'mlb',\n  dateInfo: dateInfo,\n  game: gameResult,\n  standings: standingsResult,\n  fullRecord: `${standingsResult.wins}-${standingsResult.losses}`,\n  standingSummary: standingsResult.summary\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1100, 400],
      "id": "process-mlb",
      "name": "Process MLB Data"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a Catholic spiritual director deeply familiar with the Rule of St. Benedict and Benedictine spirituality. Create a warm, thoughtful daily reflection.\n\nToday is {{ $('Readings Lookup').item.json.dateInfo.dayOfWeek }} with the Benedictine theme: {{ $('Readings Lookup').item.json.dateInfo.theme }}\n\nToday's readings are:\nFirst Reading: {{ $('Readings Lookup').item.json.firstReading }}\nPsalm: {{ $('Readings Lookup').item.json.psalm }}\n{{ $('Readings Lookup').item.json.secondReading ? 'Second Reading: ' + $('Readings Lookup').item.json.secondReading + '\\n' : '' }}Gospel: {{ $('Readings Lookup').item.json.gospel }}\n\nSaint of the day: {{ $('Saints Lookup').item.json.name }}\nSaint info: {{ $('Saints Lookup').item.json.intro }}\n\nPlease provide ALL of the following in valid JSON format:\n\n{\n  \"readingsContext\": [\n    {\"reading\": \"First Reading\", \"reference\": \"{{ $('Readings Lookup').item.json.firstReading }}\", \"historicalContext\": \"2-3 sentences about historical context of this scripture\", \"catholicInterpretation\": \"2-3 sentences on Catholic doctrinal understanding and spiritual meaning of these verses\"},\n    {\"reading\": \"Gospel\", \"reference\": \"{{ $('Readings Lookup').item.json.gospel }}\", \"historicalContext\": \"2-3 sentences about historical context of this scripture\", \"catholicInterpretation\": \"2-3 sentences on Catholic doctrinal understanding and spiritual meaning of these verses\"}\n  ],\n  \"saintIntro\": \"3-5 sentences about {{ $('Saints Lookup').item.json.name }}: their life, significance, and why they're celebrated today\",\n  \"reflection\": \"3-4 sentences connecting today's readings to the Benedictine theme of {{ $('Readings Lookup').item.json.dateInfo.theme }}\",\n  \"challenge\": \"2 sentences with a practical spiritual challenge for today based on the Rule of St. Benedict\",\n  \"prayer\": \"A brief prayer incorporating the saint and readings (4-6 lines)\",\n  \"historicalFacts\": [\n    {\"year\": \"1972 or 1992\", \"fact\": \"An interesting historical event from this date\"},\n    {\"year\": \"YYYY\", \"fact\": \"Another historical event from this date\"},\n    {\"year\": \"YYYY\", \"fact\": \"Third historical event from this date\"}\n  ]\n}\n\nReturn ONLY the JSON object, no other text.",
        "messages": {
          "messageValues": [
            {
              "message": "Generate the spiritual reflection content as requested."
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [700, 200],
      "id": "ai-reflection",
      "name": "AI Spiritual Reflection"
    },
    {
      "parameters": {
        "model": "grok-4-0709",
        "options": {
          "maxTokens": 2000,
          "temperature": 0.7
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatXAiGrok",
      "typeVersion": 1,
      "position": [700, 100],
      "id": "xai-model",
      "name": "xAI Grok Model",
      "credentials": {
        "xAiApi": {
          "id": "your-xai-credential-id",
          "name": "xAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Create default MLB data when no game to check\nconst scheduleData = $('Schedule Check').item.json;\nconst dateInfo = scheduleData.dateInfo;\n\nreturn {\n  dataType: 'mlb',\n  dateInfo: dateInfo,\n  game: { \n    score: 'No game scheduled yesterday', \n    gameUrl: 'https://www.mlb.com/dodgers' \n  },\n  standings: { wins: 0, losses: 0 },\n  fullRecord: '0-0',\n  standingSummary: 'Standings unavailable'\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1100, 500],
      "id": "no-game-data",
      "name": "No Game Data"
    },
    {
      "parameters": {
        "mode": "waitForAll"
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [1200, 300],
      "id": "data-merge",
      "name": "Data Merge"
    },
    {
      "parameters": {
        "jsCode": "// Compile Final Email - Process merged data from both paths\nconst items = $input.all();\nconsole.log('Received items:', items.length);\n\n// Find AI and MLB data from the merged inputs\nlet aiData = null;\nlet mlbData = null;\nlet saintData = null;\nlet readingsData = null;\nlet dateInfo = null;\n\n// Process all input items to find the data we need\nfor (const item of items) {\n  const data = item.json;\n  \n  if (data.dataType === 'mlb') {\n    // This is from Process MLB Data\n    mlbData = data;\n    console.log('Found MLB data');\n  } else if (data.text || data.message || data.output) {\n    // This is from AI Spiritual Reflection\n    aiData = data;\n    console.log('Found AI data');\n  }\n}\n\n// Get supporting data from other nodes\ntry {\n  saintData = $('Saints Lookup').item?.json || { name: 'Daily Saint', intro: 'Saint information unavailable' };\n  readingsData = $('Readings Lookup').item?.json || { \n    firstReading: 'Scripture reading', \n    gospel: 'Gospel reading', \n    psalm: 'Psalm',\n    usccbLink: 'https://bible.usccb.org'\n  };\n  dateInfo = readingsData.dateInfo || mlbData?.dateInfo || { today: 'Today', theme: 'Prayer', dayOfWeek: 'Today' };\n} catch (nodeError) {\n  console.log('Error accessing supporting data:', nodeError.message);\n  // Use fallback data\n  dateInfo = { today: 'Today', theme: 'Prayer', dayOfWeek: 'Today' };\n  saintData = { name: 'Daily Saint', intro: 'Saint information unavailable' };\n  readingsData = { \n    firstReading: 'Scripture reading', \n    gospel: 'Gospel reading', \n    psalm: 'Psalm',\n    usccbLink: 'https://bible.usccb.org'\n  };\n}\n\n// Create fallback MLB data if not received\nif (!mlbData) {\n  console.log('No MLB data received, using fallback');\n  mlbData = {\n    dateInfo: dateInfo,\n    game: { score: 'Game data unavailable', gameUrl: 'https://www.mlb.com/dodgers' },\n    standings: { wins: 0, losses: 0 },\n    fullRecord: '0-0',\n    standingSummary: 'Standings unavailable'\n  };\n}\n\n// Create fallback AI data if not received\nif (!aiData) {\n  console.log('No AI data received, using fallback');\n  aiData = { fallback: true };\n}\n\n// Parse AI spiritual content\nlet spiritual = {};\ntry {\n  const aiText = aiData?.text || aiData?.message || aiData?.output || '';\n  \n  if (aiText && !aiData.fallback) {\n    const cleanText = aiText.replace(/```json\\n?/g, \"\").replace(/```\\n?/g, \"\").trim();\n    spiritual = JSON.parse(cleanText);\n    console.log('Successfully parsed AI spiritual content');\n  } else {\n    throw new Error('No AI content available');\n  }\n} catch (parseError) {\n  console.log('Using fallback spiritual content:', parseError.message);\n  spiritual = {\n    readingsContext: [{reading: \"Scripture\", reference: \"See USCCB\", historicalContext: \"Historical context unavailable\", catholicInterpretation: \"Catholic interpretation unavailable\"}],\n    saintIntro: saintData.intro || 'Saint information available in database',\n    reflection: `Today's theme is ${dateInfo.theme}. Take time to reflect on this Benedictine virtue.`,\n    challenge: 'Spend 10 minutes in silent prayer today, listening for God\\'s voice.',\n    prayer: 'Lord, help us follow the example of the saints and grow in holiness. Amen.',\n    historicalFacts: [{year: \"2024\", fact: \"Historical facts unavailable\"}]\n  };\n}\n\n// Ensure prayer exists and is a string\nif (!spiritual.prayer || typeof spiritual.prayer !== 'string') {\n  spiritual.prayer = 'Lord, bless this day and help us grow closer to You. Amen.';\n}\n\n// Format the subject line\nconst subject = `Daily Reflection - ${dateInfo.today || 'Today'}`;\n\n// Build the comprehensive HTML email\nconst html = `\n<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n  <meta charset=\"UTF-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n  <title>${subject}</title>\n</head>\n<body style=\"margin: 0; padding: 0; font-family: Georgia, 'Times New Roman', serif; background-color: #f5f5f0;\">\n  <div style=\"max-width: 600px; margin: 0 auto; background-color: #ffffff; box-shadow: 0 0 20px rgba(0,0,0,0.1);\">\n    \n    <!-- Header -->\n    <div style=\"background: linear-gradient(135deg, #667eea 0%, #764ba2 100%); color: white; padding: 30px 20px; text-align: center;\">\n      <h1 style=\"margin: 0; font-size: 28px; font-weight: normal; letter-spacing: 1px;\">Daily Reflection</h1>\n      <p style=\"margin: 10px 0 0 0; font-size: 18px; opacity: 0.95;\">${dateInfo.today || 'Today'}</p>\n      <p style=\"margin: 5px 0 0 0; font-size: 14px; opacity: 0.9;\">Theme: ${dateInfo.theme || 'Prayer'}</p>\n    </div>\n    \n    <!-- Main Content -->\n    <div style=\"padding: 30px 25px;\">\n      \n      <!-- Saint of the Day -->\n      ${saintData.name !== 'Weekday in Ordinary Time' ? `\n      <div style=\"margin-bottom: 35px;\">\n        <h2 style=\"color: #4a5568; font-size: 20px; border-bottom: 2px solid #e2e8f0; padding-bottom: 8px; margin-bottom: 15px;\">\n          ✝️ Saint of the Day\n        </h2>\n        <div style=\"background-color: #fef5e7; border-radius: 8px; padding: 15px;\">\n          <h3 style=\"margin: 0 0 10px 0; color: #764ba2; font-size: 18px;\">${saintData.name || 'Daily Saint'}</h3>\n          <p style=\"margin: 0 0 12px 0; color: #4a5568; line-height: 1.7; font-size: 14px;\">\n            ${spiritual.saintIntro || saintData.intro || 'Saint information unavailable'}\n          </p>\n          ${saintData.quote ? `<p style=\"margin: 0 0 12px 0; color: #553c9a; font-style: italic; font-size: 14px;\">\"${saintData.quote}\"</p>` : ''}\n        </div>\n      </div>\n      ` : ''}\n      \n      <!-- Readings Section -->\n      <div style=\"margin-bottom: 35px;\">\n        <h2 style=\"color: #4a5568; font-size: 20px; border-bottom: 2px solid #e2e8f0; padding-bottom: 8px; margin-bottom: 15px;\">\n          📖 Today's Readings\n        </h2>\n        <div style=\"background-color: #f7fafc; border-radius: 8px; padding: 20px;\">\n          <ul style=\"margin: 0; padding: 0; list-style: none;\">\n            <li style=\"margin-bottom: 12px; color: #4a5568; font-size: 16px;\">\n              <strong style=\"color: #2d3748;\">First Reading:</strong> ${readingsData.firstReading || 'Scripture reading'}\n            </li>\n            <li style=\"margin-bottom: 12px; color: #4a5568; font-size: 16px;\">\n              <strong style=\"color: #2d3748;\">Responsorial Psalm:</strong> ${readingsData.psalm || 'Psalm'}\n            </li>\n            ${readingsData.secondReading ? `\n            <li style=\"margin-bottom: 12px; color: #4a5568; font-size: 16px;\">\n              <strong style=\"color: #2d3748;\">Second Reading:</strong> ${readingsData.secondReading}\n            </li>` : ''}\n            <li style=\"margin-bottom: 0; color: #4a5568; font-size: 16px;\">\n              <strong style=\"color: #2d3748;\">Gospel:</strong> ${readingsData.gospel || 'Gospel reading'}\n            </li>\n          </ul>\n        </div>\n        \n        <p style=\"margin-top: 20px; text-align: center;\">\n          <a href=\"${readingsData.usccbLink || 'https://bible.usccb.org'}\" \n             style=\"display: inline-block; background-color: #667eea; color: white; padding: 12px 25px; border-radius: 6px; text-decoration: none; font-size: 16px; font-weight: 600;\">\n            Read Full Texts at USCCB.org →\n          </a>\n        </p>\n      </div>\n      \n      <!-- Benedictine Reflection -->\n      <div style=\"margin-bottom: 35px;\">\n        <h2 style=\"color: #4a5568; font-size: 20px; border-bottom: 2px solid #e2e8f0; padding-bottom: 8px; margin-bottom: 15px;\">\n          🕊️ Benedictine Reflection: ${dateInfo.theme || 'Prayer'}\n        </h2>\n        <div style=\"background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%); border-radius: 8px; padding: 20px;\">\n          <p style=\"margin: 0 0 15px 0; color: #4a5568; line-height: 1.7; font-size: 14px;\">\n            ${spiritual.reflection || 'Take time to reflect on today\\'s spiritual theme.'}\n          </p>\n          <div style=\"background-color: rgba(255,255,255,0.7); border-radius: 6px; padding: 12px;\">\n            <h4 style=\"margin: 0 0 8px 0; color: #764ba2; font-size: 14px; text-transform: uppercase; letter-spacing: 1px;\">\n              Today's Challenge\n            </h4>\n            <p style=\"margin: 0; color: #4a5568; line-height: 1.6; font-size: 14px; font-weight: 500;\">\n              ${spiritual.challenge || 'Spend time in prayer and reflection today.'}\n            </p>\n          </div>\n        </div>\n      </div>\n      \n      <!-- Prayer -->\n      <div style=\"margin-bottom: 35px;\">\n        <h2 style=\"color: #4a5568; font-size: 20px; border-bottom: 2px solid #e2e8f0; padding-bottom: 8px; margin-bottom: 15px;\">\n          🙏 Prayer for Today\n        </h2>\n        <div style=\"text-align: center; padding: 20px; background-color: #faf5ff; border-radius: 8px;\">\n          <p style=\"margin: 0; color: #553c9a; line-height: 1.8; font-size: 15px; font-style: italic;\">\n            ${spiritual.prayer.replace(/\\n/g, '<br/>')}\n          </p>\n        </div>\n      </div>\n      \n      <!-- Historical Facts -->\n      ${spiritual.historicalFacts && spiritual.historicalFacts.length > 0 ? `\n      <div style=\"margin-bottom: 35px;\">\n        <h2 style=\"color: #4a5568; font-size: 20px; border-bottom: 2px solid #e2e8f0; padding-bottom: 8px; margin-bottom: 15px;\">\n          📅 On This Day in History\n        </h2>\n        <ul style=\"margin: 0; padding: 0; list-style: none;\">\n          ${spiritual.historicalFacts.map(h => `\n          <li style=\"margin-bottom: 10px; padding-left: 60px; position: relative; color: #4a5568; line-height: 1.6; font-size: 14px;\">\n            <span style=\"position: absolute; left: 0; color: #667eea; font-weight: bold; width: 50px;\">${h.year}:</span>\n            ${h.fact}\n          </li>`).join('')}\n        </ul>\n      </div>\n      ` : ''}\n      \n      <!-- Dodgers Update -->\n      <div style=\"margin-bottom: 30px;\">\n        <h2 style=\"color: #4a5568; font-size: 20px; border-bottom: 2px solid #e2e8f0; padding-bottom: 8px; margin-bottom: 15px;\">\n          ⚾ Dodgers Update\n        </h2>\n        <div style=\"background: linear-gradient(135deg, #005a9c 0%, #003d6b 100%); color: white; border-radius: 8px; padding: 20px;\">\n          <div style=\"margin-bottom: 15px;\">\n            <h3 style=\"margin: 0 0 10px 0; font-size: 16px; opacity: 0.9;\">Yesterday's Game</h3>\n            <p style=\"margin: 0; font-size: 16px;\">${mlbData.game.score || 'Game data unavailable'}</p>\n          </div>\n          \n          ${mlbData.standings && mlbData.standings.wins > 0 ? `\n          <div style=\"margin-bottom: 15px;\">\n            <h3 style=\"margin: 0 0 10px 0; font-size: 16px; opacity: 0.9;\">Current Record</h3>\n            <div style=\"font-size: 24px; font-weight: bold;\">\n              ${mlbData.fullRecord || '0-0'}\n            </div>\n            <div style=\"font-size: 16px;\">\n              ${mlbData.standingSummary || 'Standings unavailable'}\n            </div>\n          </div>\n          ` : ''}\n          \n          <div style=\"text-align: center; margin-top: 18px;\">\n            <a href=\"${mlbData.game.gameUrl || 'https://www.mlb.com/dodgers'}\" \n               style=\"display: inline-block; background-color: white; color: #005a9c; padding: 10px 25px; border-radius: 25px; text-decoration: none; font-weight: 600; font-size: 14px;\">\n              View More →\n            </a>\n          </div>\n        </div>\n      </div>\n      \n    </div>\n    \n    <!-- Footer -->\n    <div style=\"background-color: #f7fafc; padding: 25px; text-align: center; border-top: 1px solid #e2e8f0;\">\n      <p style=\"margin: 0; color: #718096; font-size: 16px; font-style: italic; line-height: 1.6;\">\n        \"Always we begin again\"<br/>\n        <span style=\"font-size: 14px; font-style: normal;\">- St. Benedict</span>\n      </p>\n      <p style=\"margin: 15px 0 0 0; color: #a0aec0; font-size: 12px;\">\n        Daily Reflection • Catholic Spirituality • Static Data Workflow\n      </p>\n    </div>\n    \n  </div>\n</body>\n</html>\n`;\n\nconsole.log('Email compilation complete. Subject:', subject);\nconsole.log('AI data available:', !!aiData && !aiData.fallback);\nconsole.log('MLB data available:', !!mlbData && mlbData.dataType === 'mlb');\n\nreturn {\n  subject: subject,\n  html: html,\n  text: subject\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1400, 300],
      "id": "email-compiler",
      "name": "Email Compiler"
    },
    {
      "parameters": {
        "sendTo": "cpbjr@mac.com",
        "subject": "={{ $json.subject }}",
        "message": "={{ $json.html }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [1600, 300],
      "id": "gmail-send",
      "name": "Send Gmail",
      "credentials": {
        "gmailOAuth2": {
          "id": "your-gmail-credential-id",
          "name": "Gmail account"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Date Formatter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date Formatter": {
      "main": [
        [
          {
            "node": "Saints Lookup",
            "type": "main",
            "index": 0
          },
          {
            "node": "Readings Lookup",
            "type": "main",
            "index": 0
          },
          {
            "node": "Schedule Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Saints Lookup": {
      "main": [
        [
          {
            "node": "Readings Lookup",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Readings Lookup": {
      "main": [
        [
          {
            "node": "AI Spiritual Reflection",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Check": {
      "main": [
        [
          {
            "node": "Game Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Game Check": {
      "main": [
        [
          {
            "node": "MLB Games API",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Game Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MLB Games API": {
      "main": [
        [
          {
            "node": "MLB Standings API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MLB Standings API": {
      "main": [
        [
          {
            "node": "Process MLB Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process MLB Data": {
      "main": [
        [
          {
            "node": "Data Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "No Game Data": {
      "main": [
        [
          {
            "node": "Data Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "AI Spiritual Reflection": {
      "main": [
        [
          {
            "node": "Data Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "xAI Grok Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Spiritual Reflection",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Data Merge": {
      "main": [
        [
          {
            "node": "Email Compiler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email Compiler": {
      "main": [
        [
          {
            "node": "Send Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "timezone": "America/Denver"
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "tags": ["daily-reflection", "static-data", "catholic", "dodgers"]
}