Prior attemps/daily-summary-linear-clean.json
{
  "name": "Daily Summary - Linear Clean",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 4
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [100, 300],
      "id": "schedule-trigger",
      "name": "Schedule Trigger",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Date Formatter - Calculate all date formats needed for the workflow\n// Force Mountain Time calculation\nconst now = new Date();\nconst mountainTime = new Date(now.toLocaleString(\"en-US\", {timeZone: \"America/Denver\"}));\nconst yesterday = new Date(mountainTime.getTime() - 24*60*60*1000);\n\ntry {\n  // Create all date formats we'll need using Mountain Time\n  const output = {\n    // Display formats\n    today: mountainTime.toLocaleDateString('en-US', { \n      weekday: 'long', \n      year: 'numeric', \n      month: 'long', \n      day: 'numeric' \n    }),\n    dayOfWeek: mountainTime.toLocaleDateString('en-US', { weekday: 'long' }),\n    \n    // USCCB format (MMDDYY) for verification links\n    usccbDate: [\n      String(mountainTime.getMonth() + 1).padStart(2, '0'),\n      String(mountainTime.getDate()).padStart(2, '0'), \n      String(mountainTime.getFullYear()).slice(-2)\n    ].join(''),\n    \n    // MLB API format (YYYY-MM-DD)\n    yesterdayMLB: yesterday.toISOString().split('T')[0],\n    todayMLB: mountainTime.toISOString().split('T')[0],\n    \n    // Lookup formats for our static databases\n    monthDay: `${mountainTime.getMonth() + 1}/${mountainTime.getDate()}`,\n    yesterdayMonthDay: `${yesterday.getMonth() + 1}/${yesterday.getDate()}`,\n    \n    // Benedictine theme for the day\n    theme: {\n      'Sunday': 'Worship & Community',\n      'Monday': 'Humility & Simplicity',\n      'Tuesday': 'Stability',\n      'Wednesday': 'Listening',\n      'Thursday': 'Hospitality & Kindness',\n      'Friday': 'Sacrifice & Repentance',\n      'Saturday': 'Rest & Beauty'\n    }[mountainTime.toLocaleDateString('en-US', { weekday: 'long' })]\n  };\n  \n  console.log('Date formatting complete:', output.today);\n  console.log('Month/Day format:', output.monthDay);\n  console.log('Benedictine theme:', output.theme);\n  \n  return [{ json: output }];\n  \n} catch (error) {\n  console.error('Date formatting error:', error.message);\n  return {\n    today: 'Date unavailable',\n    dayOfWeek: 'Today',\n    theme: 'Prayer',\n    monthDay: '1/1',\n    usccbDate: '010125'\n  };\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [300, 300],
      "id": "date-formatter",
      "name": "Date Formatter",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Saints Lookup - Use existing saints database\nconst dateInfo = $json;\n\ntry {\n  // Saints and Feast Days Database for Catholic Liturgical Calendar\n  const saintsDatabase = {\n    // January\n    '1/1': { name: 'Mary, Mother of God', type: 'Solemnity', quote: 'My soul proclaims the greatness of the Lord.', intro: 'The Solemnity of Mary, the Holy Mother of God, celebrates Mary\\'s divine motherhood and her role in salvation history.' },\n    '1/2': { name: 'Basil the Great and Gregory Nazianzen', type: 'Memorial', quote: 'We must prefer nothing whatever to Christ.', intro: 'These two fourth-century bishops and theologians were close friends who defended the divinity of Christ against the Arian heresy.' },\n    '1/4': { name: 'Elizabeth Ann Seton', type: 'Memorial', quote: 'The first end I propose in our daily work is to do the will of God.', intro: 'First native-born American saint, she founded the first American religious community for women and Catholic schools in America.' },\n    '1/17': { name: 'Anthony, Abbot', type: 'Memorial', quote: 'Our life and our death is with our neighbor.', intro: 'Father of Christian monasticism who spent 20 years alone in the Egyptian desert.' },\n    '1/21': { name: 'Agnes', type: 'Memorial', quote: 'Christ is my spouse; he has chosen me.', intro: 'Virgin martyr who died at age 12 or 13 for refusing to marry, choosing consecration to Christ.' },\n    '1/25': { name: 'Conversion of Paul', type: 'Feast', quote: 'It is no longer I who live, but Christ who lives in me.', intro: 'Celebrates Paul\\'s dramatic conversion on the road to Damascus from persecutor to apostle.' },\n    '1/28': { name: 'Thomas Aquinas', type: 'Memorial', quote: 'To one who has faith, no explanation is necessary. To one without faith, no explanation is possible.', intro: 'Dominican priest, Doctor of the Church, greatest medieval theologian and philosopher.' },\n    '1/31': { name: 'John Bosco', type: 'Memorial', quote: 'Run, jump, shout, but do not sin.', intro: 'Founded the Salesians to educate poor youth, pioneering preventive system of education.' },\n    \n    // Add key dates from your existing database\n    '8/24': { name: 'Bartholomew', type: 'Feast', quote: 'Rabbi, you are the Son of God! You are the King of Israel!', intro: 'One of the twelve apostles, also called Nathanael, traditionally martyred in Armenia.' },\n    '8/26': { name: 'Daily Weekday', type: 'Weekday', quote: 'Be it done unto me according to your word.', intro: 'Today we focus on living out our baptismal call in ordinary circumstances.' },\n    '8/27': { name: 'Monica', type: 'Memorial', quote: 'Nothing is far from God.', intro: 'Mother of St. Augustine, she prayed for her son\\'s conversion for many years before seeing it fulfilled.' }\n  };\n  \n  // Get the saint/feast for the current date\n  const currentDate = dateInfo.monthDay;\n  const todaySaint = saintsDatabase[currentDate] || null;\n  \n  // If no specific saint, check if it's a Sunday\n  let result = {};\n  if (todaySaint) {\n    result = todaySaint;\n  } else if (dateInfo.dayOfWeek === 'Sunday') {\n    result = {\n      name: `${dateInfo.dayOfWeek} in Ordinary Time`,\n      type: 'Sunday',\n      intro: 'The Lord\\'s Day, when we gather as a community to celebrate the Eucharist and commemorate Christ\\'s resurrection.'\n    };\n  } else {\n    result = {\n      name: 'Weekday in Ordinary Time',\n      type: 'Weekday',\n      intro: 'A day to grow in holiness through ordinary work and prayer.'\n    };\n  }\n  \n  // Add date info for downstream nodes - MERGE THE DATA\n  const combinedResult = {\n    ...dateInfo,  // Pass through all date information\n    saint: result  // Add saint information\n  };\n  \n  console.log(`Saint for ${currentDate}:`, result.name);\n  \n  return combinedResult;\n  \n} catch (error) {\n  console.error('Saints lookup error:', error.message);\n  return {\n    ...dateInfo,\n    saint: {\n      name: 'Daily Saint',\n      type: 'Weekday',\n      intro: 'Saint information unavailable'\n    }\n  };\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [500, 300],
      "id": "saints-lookup",
      "name": "Saints Lookup",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Readings Lookup - Use static liturgical readings database\nconst data = $json;\nconst dateInfo = data;\n\ntry {\n  // Liturgical readings database\n  const readingsDatabase = {\n    '1/1': { \n      firstReading: 'Numbers 6:22-27', \n      psalm: 'Psalm 67:2-3, 5, 6, 8', \n      secondReading: 'Galatians 4:4-7', \n      gospel: 'Luke 2:16-21',\n      season: 'Christmas'\n    },\n    '8/24': { \n      firstReading: 'Revelation 21:9b-14', \n      psalm: 'Psalm 145:10-11, 12-13, 17-18', \n      gospel: 'John 1:45-51',\n      season: 'Ordinary Time'\n    },\n    '8/26': { \n      firstReading: 'Ephesians 4:1-7, 11-13', \n      psalm: 'Psalm 19:2-3, 4-5', \n      gospel: 'Matthew 23:8-12',\n      season: 'Ordinary Time'\n    },\n    '8/27': { \n      firstReading: '1 Thessalonians 2:9-13', \n      psalm: 'Psalm 139:1-3, 13-14, 17-18', \n      gospel: 'Matthew 23:27-32',\n      season: 'Ordinary Time'\n    },\n    '12/25': { \n      firstReading: 'Isaiah 52:7-10', \n      psalm: 'Psalm 98:1, 2-3, 3-4, 5-6', \n      secondReading: 'Hebrews 1:1-6', \n      gospel: 'John 1:1-18',\n      season: 'Christmas'\n    }\n  };\n  \n  // Fallback readings for days not specifically listed\n  const ordinaryTimeReadings = {\n    'Monday': {\n      firstReading: 'Hebrews 11:32-40',\n      psalm: 'Psalm 31:20, 21, 22, 24',\n      gospel: 'Mark 5:1-20',\n      season: 'Ordinary Time'\n    },\n    'Tuesday': {\n      firstReading: '1 Thessalonians 2:1-8',\n      psalm: 'Psalm 139:1-3, 13-14, 17-18',\n      gospel: 'Matthew 23:23-26',\n      season: 'Ordinary Time'\n    },\n    'Wednesday': {\n      firstReading: '1 Thessalonians 2:9-13',\n      psalm: 'Psalm 139:7-10, 13-14, 17-18',\n      gospel: 'Matthew 23:27-32',\n      season: 'Ordinary Time'\n    },\n    'Thursday': {\n      firstReading: '1 Thessalonians 3:7-13',\n      psalm: 'Psalm 90:3-4, 12-13, 14, 17',\n      gospel: 'Matthew 24:42-51',\n      season: 'Ordinary Time'\n    },\n    'Friday': {\n      firstReading: '1 Thessalonians 4:1-8',\n      psalm: 'Psalm 97:1, 2, 5-6, 10, 11-12',\n      gospel: 'Matthew 25:1-13',\n      season: 'Ordinary Time'\n    },\n    'Saturday': {\n      firstReading: '1 Thessalonians 4:9-11',\n      psalm: 'Psalm 98:1, 7-8, 9',\n      gospel: 'Matthew 25:14-30',\n      season: 'Ordinary Time'\n    },\n    'Sunday': {\n      firstReading: 'Isaiah 55:10-11',\n      psalm: 'Psalm 65:10, 11, 12-13, 14',\n      secondReading: 'Romans 8:18-23',\n      gospel: 'Matthew 13:1-23',\n      season: 'Ordinary Time'\n    }\n  };\n  \n  // Get readings for the current date\n  const currentDate = dateInfo.monthDay;\n  let todayReadings = readingsDatabase[currentDate];\n  \n  // If no specific readings found, use ordinary time defaults\n  if (!todayReadings) {\n    todayReadings = ordinaryTimeReadings[dateInfo.dayOfWeek] || ordinaryTimeReadings['Sunday'];\n  }\n  \n  // Add verification link\n  todayReadings.usccbLink = `https://bible.usccb.org/bible/readings/${dateInfo.usccbDate}.cfm`;\n  \n  console.log(`Readings for ${currentDate}:`, todayReadings.firstReading, todayReadings.gospel);\n  \n  // Merge all data together\n  const combinedResult = {\n    ...data,  // Pass through all previous data (date + saint)\n    readings: todayReadings  // Add readings information\n  };\n  \n  return combinedResult;\n  \n} catch (error) {\n  console.error('Readings lookup error:', error.message);\n  return {\n    ...data,\n    readings: {\n      firstReading: 'Scripture reading unavailable',\n      gospel: 'Gospel reading unavailable',\n      psalm: 'Psalm unavailable',\n      usccbLink: 'https://bible.usccb.org'\n    }\n  };\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [700, 300],
      "id": "readings-lookup",
      "name": "Readings Lookup",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Simple MLB Info - Static for now, could be enhanced later\nconst data = $json;\n\ntry {\n  // Simple static MLB info - you can expand this later if needed\n  const mlbInfo = {\n    team: 'Los Angeles Dodgers',\n    record: 'Check mlb.com for current record',\n    nextGame: 'See schedule at mlb.com/dodgers',\n    gameUrl: 'https://www.mlb.com/dodgers'\n  };\n  \n  // Add MLB info to the data package\n  const combinedResult = {\n    ...data,  // Pass through all previous data\n    mlb: mlbInfo  // Add MLB information\n  };\n  \n  console.log('MLB info added to data package');\n  \n  return combinedResult;\n  \n} catch (error) {\n  console.error('MLB info error:', error.message);\n  return {\n    ...data,\n    mlb: {\n      team: 'Los Angeles Dodgers',\n      record: 'Information unavailable',\n      gameUrl: 'https://www.mlb.com/dodgers'\n    }\n  };\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300],
      "id": "mlb-info",
      "name": "MLB Info",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a Catholic spiritual director deeply familiar with the Rule of St. Benedict and Benedictine spirituality. Create a warm, thoughtful daily reflection.\n\nToday is {{ $json.dayOfWeek }} with the Benedictine theme: {{ $json.theme }}\n\nToday's readings are:\nFirst Reading: {{ $json.readings.firstReading }}\nPsalm: {{ $json.readings.psalm }}\n{{ $json.readings.secondReading ? 'Second Reading: ' + $json.readings.secondReading + '\\n' : '' }}Gospel: {{ $json.readings.gospel }}\n\nSaint of the day: {{ $json.saint.name }}\nSaint info: {{ $json.saint.intro }}\n\nPlease provide ALL of the following in valid JSON format:\n\n{\n  \"readingsContext\": [\n    {\"reading\": \"First Reading\", \"reference\": \"{{ $json.readings.firstReading }}\", \"historicalContext\": \"2-3 sentences about historical context of this scripture\", \"catholicInterpretation\": \"2-3 sentences on Catholic doctrinal understanding and spiritual meaning of these verses\"},\n    {\"reading\": \"Gospel\", \"reference\": \"{{ $json.readings.gospel }}\", \"historicalContext\": \"2-3 sentences about historical context of this scripture\", \"catholicInterpretation\": \"2-3 sentences on Catholic doctrinal understanding and spiritual meaning of these verses\"}\n  ],\n  \"saintIntro\": \"3-5 sentences about {{ $json.saint.name }}: their life, significance, and why they're celebrated today\",\n  \"reflection\": \"3-4 sentences connecting today's readings to the Benedictine theme of {{ $json.theme }}\",\n  \"challenge\": \"2 sentences with a practical spiritual challenge for today based on the Rule of St. Benedict\",\n  \"prayer\": \"A brief prayer incorporating the saint and readings (4-6 lines)\",\n  \"historicalFacts\": [\n    {\"year\": \"1972 or 1992\", \"fact\": \"An interesting historical event from this date\"},\n    {\"year\": \"YYYY\", \"fact\": \"Another historical event from this date\"},\n    {\"year\": \"YYYY\", \"fact\": \"Third historical event from this date\"}\n  ]\n}\n\nReturn ONLY the JSON object, no other text.",
        "messages": {
          "messageValues": [
            {
              "message": "Generate the spiritual reflection content as requested."
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [1100, 300],
      "id": "ai-reflection",
      "name": "AI Spiritual Reflection",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "model": "grok-2-1212",
        "options": {
          "maxTokens": 2000,
          "temperature": 0.7
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatXAiGrok",
      "typeVersion": 1,
      "position": [1100, 200],
      "id": "xai-model",
      "name": "xAI Grok Model",
      "credentials": {
        "xAiApi": {
          "id": "your-xai-credential-id",
          "name": "xAi account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Final Email Compiler - All data available in single object\nconst allData = $json;\n\ntry {\n  // All data is now merged in the single input object\n  const dateInfo = {\n    today: allData.today || 'Today',\n    dayOfWeek: allData.dayOfWeek || 'Today',\n    theme: allData.theme || 'Prayer'\n  };\n  \n  const saintData = allData.saint || {\n    name: 'Daily Saint',\n    intro: 'Saint information unavailable'\n  };\n  \n  const readingsData = allData.readings || {\n    firstReading: 'Scripture reading',\n    gospel: 'Gospel reading',\n    psalm: 'Psalm',\n    usccbLink: 'https://bible.usccb.org'\n  };\n  \n  const mlbData = allData.mlb || {\n    record: 'Information unavailable',\n    gameUrl: 'https://www.mlb.com/dodgers'\n  };\n  \n  // Get AI data from the previous node\n  const aiInput = $input.all();\n  const aiData = aiInput[0]?.json || {};\n  \n  // Parse AI spiritual content\n  let spiritual = {};\n  try {\n    const aiText = aiData?.text || aiData?.message || aiData?.output || '';\n    \n    if (aiText) {\n      const cleanText = aiText.replace(/```json\\n?/g, \"\").replace(/```\\n?/g, \"\").trim();\n      spiritual = JSON.parse(cleanText);\n      console.log('Successfully parsed AI spiritual content');\n    } else {\n      throw new Error('No AI content available');\n    }\n  } catch (parseError) {\n    console.log('Using fallback spiritual content:', parseError.message);\n    spiritual = {\n      readingsContext: [{reading: \"Scripture\", reference: \"See USCCB\", historicalContext: \"Historical context unavailable\", catholicInterpretation: \"Catholic interpretation unavailable\"}],\n      saintIntro: saintData.intro || 'Saint information available in database',\n      reflection: `Today's theme is ${dateInfo.theme}. Take time to reflect on this Benedictine virtue.`,\n      challenge: 'Spend 10 minutes in silent prayer today, listening for God\\'s voice.',\n      prayer: 'Lord, help us follow the example of the saints and grow in holiness. Amen.',\n      historicalFacts: [{year: \"2024\", fact: \"Historical facts unavailable\"}]\n    };\n  }\n  \n  // Ensure prayer exists and is a string\n  if (!spiritual.prayer || typeof spiritual.prayer !== 'string') {\n    spiritual.prayer = 'Lord, bless this day and help us grow closer to You. Amen.';\n  }\n  \n  // Format the subject line\n  const subject = `Daily Reflection - ${dateInfo.today}`;\n  \n  // Build the comprehensive HTML email\n  const html = `\n<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n  <meta charset=\"UTF-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n  <title>${subject}</title>\n</head>\n<body style=\"margin: 0; padding: 0; font-family: Georgia, 'Times New Roman', serif; background-color: #f5f5f0;\">\n  <div style=\"max-width: 600px; margin: 0 auto; background-color: #ffffff; box-shadow: 0 0 20px rgba(0,0,0,0.1);\">\n    \n    <!-- Header -->\n    <div style=\"background: linear-gradient(135deg, #667eea 0%, #764ba2 100%); color: white; padding: 30px 20px; text-align: center;\">\n      <h1 style=\"margin: 0; font-size: 28px; font-weight: normal; letter-spacing: 1px;\">Daily Reflection</h1>\n      <p style=\"margin: 10px 0 0 0; font-size: 18px; opacity: 0.95;\">${dateInfo.today}</p>\n      <p style=\"margin: 5px 0 0 0; font-size: 14px; opacity: 0.9;\">Theme: ${dateInfo.theme}</p>\n    </div>\n    \n    <!-- Main Content -->\n    <div style=\"padding: 30px 25px;\">\n      \n      <!-- Saint of the Day -->\n      ${saintData.name !== 'Weekday in Ordinary Time' ? `\n      <div style=\"margin-bottom: 35px;\">\n        <h2 style=\"color: #4a5568; font-size: 20px; border-bottom: 2px solid #e2e8f0; padding-bottom: 8px; margin-bottom: 15px;\">\n          ✝️ Saint of the Day\n        </h2>\n        <div style=\"background-color: #fef5e7; border-radius: 8px; padding: 15px;\">\n          <h3 style=\"margin: 0 0 10px 0; color: #764ba2; font-size: 18px;\">${saintData.name}</h3>\n          <p style=\"margin: 0 0 12px 0; color: #4a5568; line-height: 1.7; font-size: 14px;\">\n            ${spiritual.saintIntro || saintData.intro}\n          </p>\n          ${saintData.quote ? `<p style=\"margin: 0 0 12px 0; color: #553c9a; font-style: italic; font-size: 14px;\">\"${saintData.quote}\"</p>` : ''}\n        </div>\n      </div>\n      ` : ''}\n      \n      <!-- Readings Section -->\n      <div style=\"margin-bottom: 35px;\">\n        <h2 style=\"color: #4a5568; font-size: 20px; border-bottom: 2px solid #e2e8f0; padding-bottom: 8px; margin-bottom: 15px;\">\n          📖 Today's Readings\n        </h2>\n        <div style=\"background-color: #f7fafc; border-radius: 8px; padding: 20px;\">\n          <ul style=\"margin: 0; padding: 0; list-style: none;\">\n            <li style=\"margin-bottom: 12px; color: #4a5568; font-size: 16px;\">\n              <strong style=\"color: #2d3748;\">First Reading:</strong> ${readingsData.firstReading}\n            </li>\n            <li style=\"margin-bottom: 12px; color: #4a5568; font-size: 16px;\">\n              <strong style=\"color: #2d3748;\">Responsorial Psalm:</strong> ${readingsData.psalm}\n            </li>\n            ${readingsData.secondReading ? `\n            <li style=\"margin-bottom: 12px; color: #4a5568; font-size: 16px;\">\n              <strong style=\"color: #2d3748;\">Second Reading:</strong> ${readingsData.secondReading}\n            </li>` : ''}\n            <li style=\"margin-bottom: 0; color: #4a5568; font-size: 16px;\">\n              <strong style=\"color: #2d3748;\">Gospel:</strong> ${readingsData.gospel}\n            </li>\n          </ul>\n        </div>\n        \n        <p style=\"margin-top: 20px; text-align: center;\">\n          <a href=\"${readingsData.usccbLink}\" \n             style=\"display: inline-block; background-color: #667eea; color: white; padding: 12px 25px; border-radius: 6px; text-decoration: none; font-size: 16px; font-weight: 600;\">\n            Read Full Texts at USCCB.org →\n          </a>\n        </p>\n      </div>\n      \n      <!-- Benedictine Reflection -->\n      <div style=\"margin-bottom: 35px;\">\n        <h2 style=\"color: #4a5568; font-size: 20px; border-bottom: 2px solid #e2e8f0; padding-bottom: 8px; margin-bottom: 15px;\">\n          🕊️ Benedictine Reflection: ${dateInfo.theme}\n        </h2>\n        <div style=\"background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%); border-radius: 8px; padding: 20px;\">\n          <p style=\"margin: 0 0 15px 0; color: #4a5568; line-height: 1.7; font-size: 14px;\">\n            ${spiritual.reflection}\n          </p>\n          <div style=\"background-color: rgba(255,255,255,0.7); border-radius: 6px; padding: 12px;\">\n            <h4 style=\"margin: 0 0 8px 0; color: #764ba2; font-size: 14px; text-transform: uppercase; letter-spacing: 1px;\">\n              Today's Challenge\n            </h4>\n            <p style=\"margin: 0; color: #4a5568; line-height: 1.6; font-size: 14px; font-weight: 500;\">\n              ${spiritual.challenge}\n            </p>\n          </div>\n        </div>\n      </div>\n      \n      <!-- Prayer -->\n      <div style=\"margin-bottom: 35px;\">\n        <h2 style=\"color: #4a5568; font-size: 20px; border-bottom: 2px solid #e2e8f0; padding-bottom: 8px; margin-bottom: 15px;\">\n          🙏 Prayer for Today\n        </h2>\n        <div style=\"text-align: center; padding: 20px; background-color: #faf5ff; border-radius: 8px;\">\n          <p style=\"margin: 0; color: #553c9a; line-height: 1.8; font-size: 15px; font-style: italic;\">\n            ${spiritual.prayer.replace(/\\n/g, '<br/>')}\n          </p>\n        </div>\n      </div>\n      \n      <!-- Historical Facts -->\n      ${spiritual.historicalFacts && spiritual.historicalFacts.length > 0 ? `\n      <div style=\"margin-bottom: 35px;\">\n        <h2 style=\"color: #4a5568; font-size: 20px; border-bottom: 2px solid #e2e8f0; padding-bottom: 8px; margin-bottom: 15px;\">\n          📅 On This Day in History\n        </h2>\n        <ul style=\"margin: 0; padding: 0; list-style: none;\">\n          ${spiritual.historicalFacts.map(h => `\n          <li style=\"margin-bottom: 10px; padding-left: 60px; position: relative; color: #4a5568; line-height: 1.6; font-size: 14px;\">\n            <span style=\"position: absolute; left: 0; color: #667eea; font-weight: bold; width: 50px;\">${h.year}:</span>\n            ${h.fact}\n          </li>`).join('')}\n        </ul>\n      </div>\n      ` : ''}\n      \n      <!-- Dodgers Update -->\n      <div style=\"margin-bottom: 30px;\">\n        <h2 style=\"color: #4a5568; font-size: 20px; border-bottom: 2px solid #e2e8f0; padding-bottom: 8px; margin-bottom: 15px;\">\n          ⚾ Dodgers Update\n        </h2>\n        <div style=\"background: linear-gradient(135deg, #005a9c 0%, #003d6b 100%); color: white; border-radius: 8px; padding: 20px;\">\n          <div style=\"margin-bottom: 15px;\">\n            <h3 style=\"margin: 0 0 10px 0; font-size: 16px; opacity: 0.9;\">Team Info</h3>\n            <p style=\"margin: 0; font-size: 16px;\">${mlbData.record}</p>\n          </div>\n          \n          <div style=\"text-align: center; margin-top: 18px;\">\n            <a href=\"${mlbData.gameUrl}\" \n               style=\"display: inline-block; background-color: white; color: #005a9c; padding: 10px 25px; border-radius: 25px; text-decoration: none; font-weight: 600; font-size: 14px;\">\n              View More →\n            </a>\n          </div>\n        </div>\n      </div>\n      \n    </div>\n    \n    <!-- Footer -->\n    <div style=\"background-color: #f7fafc; padding: 25px; text-align: center; border-top: 1px solid #e2e8f0;\">\n      <p style=\"margin: 0; color: #718096; font-size: 16px; font-style: italic; line-height: 1.6;\">\n        \"Always we begin again\"<br/>\n        <span style=\"font-size: 14px; font-style: normal;\">- St. Benedict</span>\n      </p>\n      <p style=\"margin: 15px 0 0 0; color: #a0aec0; font-size: 12px;\">\n        Daily Reflection • Catholic Spirituality • Linear Clean\n      </p>\n    </div>\n    \n  </div>\n</body>\n</html>\n`;\n  \n  console.log('Email compilation complete. Subject:', subject);\n  \n  return {\n    subject: subject,\n    html: html,\n    text: subject\n  };\n  \n} catch (error) {\n  console.error('Email compilation error:', error.message);\n  return {\n    subject: 'Daily Reflection - Error',\n    html: '<p>Error compiling daily reflection. Please check the workflow.</p>',\n    text: 'Error compiling daily reflection'\n  };\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1300, 300],
      "id": "email-compiler",
      "name": "Email Compiler",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "sendTo": "cpbjr@mac.com",
        "subject": "={{ $json.subject }}",
        "message": "={{ $json.html }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [1500, 300],
      "id": "gmail-send",
      "name": "Send Gmail",
      "credentials": {
        "gmailOAuth2": {
          "id": "your-gmail-credential-id",
          "name": "Gmail account"
        }
      },
      "onError": "continueRegularOutput"
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Date Formatter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date Formatter": {
      "main": [
        [
          {
            "node": "Saints Lookup",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Saints Lookup": {
      "main": [
        [
          {
            "node": "Readings Lookup",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Readings Lookup": {
      "main": [
        [
          {
            "node": "MLB Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MLB Info": {
      "main": [
        [
          {
            "node": "AI Spiritual Reflection",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Spiritual Reflection": {
      "main": [
        [
          {
            "node": "Email Compiler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "xAI Grok Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Spiritual Reflection",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Email Compiler": {
      "main": [
        [
          {
            "node": "Send Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "timezone": "America/Denver"
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "tags": ["daily-reflection", "linear-clean", "fixed-execution"]
}