Prior attemps/Daily Email - Preview Mode.json
{
  "name": "Daily Email - Preview Mode",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -700,
        0
      ],
      "id": "manual-trigger-1",
      "name": "Manual Trigger"
    },
    {
      "parameters": {
        "jsCode": "// Generate mock data for email testing\nconst today = new Date();\nconst dayNames = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'];\nconst monthNames = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'];\n\nconst dayOfWeek = dayNames[today.getDay()];\nconst month = monthNames[today.getMonth()];\nconst dayOfMonth = today.getDate();\nconst year = today.getFullYear();\n\n// Benedictine themes\nconst themes = {\n  'Sunday': 'Worship & Community',\n  'Monday': 'Humility & Simplicity', \n  'Tuesday': 'Stability',\n  'Wednesday': 'Listening',\n  'Thursday': 'Hospitality & Kindness',\n  'Friday': 'Sacrifice & Repentance',\n  'Saturday': 'Rest & Beauty'\n};\n\n// Mock readings data\nconst mockReadings = {\n  first: 'Ephesians 4:1-7, 11-13',\n  psalm: 'Psalm 19:2-3, 4-5',\n  gospel: 'Matthew 9:9-13',\n  season: 'Ordinary Time'\n};\n\n// Mock saint data  \nconst mockSaint = {\n  name: 'Saint Matthew, Apostle and Evangelist',\n  biography: 'Saint Matthew was a tax collector who became one of the twelve apostles. He is the author of the first Gospel and is patron saint of accountants, bankers, and tax collectors.',\n  feast: 'September 21'\n};\n\nreturn {\n  today: `${dayOfWeek}, ${month} ${dayOfMonth}, ${year}`,\n  dayOfWeek: dayOfWeek,\n  theme: themes[dayOfWeek] || 'Prayer',\n  readings: mockReadings,\n  saint: mockSaint,\n  hasSaint: true,\n  usccbLink: 'https://bible.usccb.org/bible/readings/092125.cfm'\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -500,
        0
      ],
      "id": "generate-mock-data",
      "name": "Generate Mock Data"
    },
    {
      "parameters": {
        "jsCode": "// Build HTML using EXACT template from working Daily Email workflow\n// Mock data structure to match your production workflow\nconst spiritualFocus = 'Today we are called to embrace the Benedictine virtue of ' + $input.first().json.theme + ', finding God in the ordinary moments of our day through contemplation and service.';\nconst liturgicalReadings = 'These readings invite us to deepen our spiritual practice through prayer, reflection, and community, following the ancient wisdom of Saint Benedict who taught us to find the sacred in daily life.';\nconst saintOfTheDay = $input.first().json.hasSaint ? $input.first().json.saint.name : null;\nconst saintBiography = $input.first().json.hasSaint ? $input.first().json.saint.biography : null;\nconst saintWikipediaLink = null; // Could add this later if needed\nconst reflection = 'In today\\'s readings, we see a call to live authentically as followers of Christ. The Benedictine tradition teaches us that every moment is an opportunity for prayer and growth. Let us embrace this call with open hearts.';\nconst practicalChallenge = 'Take five minutes of silence today to listen deeply to God\\'s voice in your heart, following Saint Benedict\\'s counsel to \"listen with the ear of your heart.\"';\nconst prayer = 'Loving God, help us to live each day with the wisdom of Saint Benedict, finding You in our work, our relationships, and our quiet moments of prayer. Guide us to be instruments of Your peace and love in the world. Amen.';\n\n// Get the mock data we generated\nconst data = $input.first().json;\n\n// Create date info structure to match production\nconst dateInfo = {\n  today: data.today,\n  theme: data.theme\n};\n\n// Create readings data structure to match production  \nconst readingsData = {\n  readings: {\n    firstReading: data.readings.first,\n    psalm: data.readings.psalm,\n    secondReading: null, // Add if needed\n    gospel: data.readings.gospel\n  },\n  season: data.readings.season,\n  usccbLink: data.usccbLink\n};\n\n// Build second reading line\nconst secondReadingLine = readingsData.readings.secondReading ?\n  '<strong>Second Reading:</strong> ' + readingsData.readings.secondReading + '<br>' : '';\n\n// Handle saint section with biography and Wikipedia link (no highlighted background)\nconst saintSection = saintOfTheDay ?\n  '<div style=\"margin-bottom: 35px;\"><h3 style=\"color: #2980b9; font-size: 1.3em; margin-bottom: 15px; text-transform: uppercase; letter-spacing: 1px; font-weight: normal;\">Saint of the Day</h3><h4 style=\"color: #34495e; font-size: 1.1em; margin-bottom: 10px; font-weight: bold;\">' + saintOfTheDay + '</h4><p style=\"line-height: 1.8; font-size: 16px; color: #34495e; margin-bottom: 15px;\">' + saintBiography + '</p>' + (saintWikipediaLink ? '<p><a href=\"' + saintWikipediaLink + '\" style=\"color: #3498db; text-decoration: none;\">Read more about ' + saintOfTheDay.split(',')[0] + ' on Wikipedia →</a></p>' : '') + '</div>' : '';\n\n// Build HTML content - EXACT copy from working Daily Email workflow\n// Calculate liturgical calendar day (simple version for now, can enhance later)
const today = new Date();
const dayOfWeek = today.getDay(); // 0 = Sunday, 1 = Monday, etc.
const weekNames = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'];
const dayName = weekNames[dayOfWeek];

// Simple liturgical week calculation (this is approximate - we can make it more accurate later)
const startOfYear = new Date(today.getFullYear(), 0, 1);
const dayOfYear = Math.floor((today - startOfYear) / (24 * 60 * 60 * 1000));
const weekOfYear = Math.floor(dayOfYear / 7) + 1;

// During Ordinary Time (rough approximation)
let liturgicalDay = '';
if (weekOfYear >= 6 && weekOfYear <= 32) {
  // Approximate ordinary time weeks - this is a simple version
  const ordinaryWeekNum = Math.floor((weekOfYear - 5));
  if (dayOfWeek === 0) {
    liturgicalDay = `${dayName} of the ${getOrdinalNumber(ordinaryWeekNum)} Week in Ordinary Time`;
  } else {
    liturgicalDay = `${dayName} of the ${getOrdinalNumber(ordinaryWeekNum)} Week in Ordinary Time`;
  }
} else {
  // Fallback for other seasons (Advent, Christmas, Lent, Easter)
  liturgicalDay = `${dayName} in ${readingsData.season}`;
}

// Helper function for ordinal numbers
function getOrdinalNumber(n) {
  const ordinals = ['', 'First', 'Second', 'Third', 'Fourth', 'Fifth', 'Sixth', 'Seventh', 'Eighth', 'Ninth', 'Tenth',
    'Eleventh', 'Twelfth', 'Thirteenth', 'Fourteenth', 'Fifteenth', 'Sixteenth', 'Seventeenth', 'Eighteenth', 
    'Nineteenth', 'Twentieth', 'Twenty-first', 'Twenty-second', 'Twenty-third', 'Twenty-fourth', 'Twenty-fifth',
    'Twenty-sixth', 'Twenty-seventh', 'Twenty-eighth', 'Twenty-ninth', 'Thirtieth', 'Thirty-first', 'Thirty-second', 'Thirty-third', 'Thirty-fourth'];
  return ordinals[n] || (n + 'th');
}

const htmlContent = '<!DOCTYPE html><html><head><meta charset=\"utf-8\"><meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\"><title>Daily Benedictine Reflection</title></head><body style=\"margin: 0; padding: 0; font-family: Georgia, Times New Roman, serif; background-color: #f8f9fa; color: #2c3e50;\"><div style=\"max-width: 800px; margin: 0 auto; background-color: #ffffff; box-shadow: 0 2px 10px rgba(0,0,0,0.1);\"><div style=\"background: linear-gradient(135deg, #34495e 0%, #2c3e50 100%); color: white; padding: 40px 20px; text-align: center;\"><h1 style=\"margin: 0; font-size: 2.5em; font-weight: normal; letter-spacing: 2px;\">Daily Benedictine Reflection</h1></div><div style=\"background-color: #ecf0f1; padding: 20px; text-align: center; border-bottom: 1px solid #bdc3c7;\"><div style=\"display: inline-flex; align-items: center; gap: 30px;\"><span style=\"color: #7f8c8d; font-size: 14px; text-transform: uppercase; letter-spacing: 1px;\">' + liturgicalDay + '</span></div></div><div style=\"padding: 40px;\"><div style=\"text-align: center; margin-bottom: 40px;\"><h2 style=\"font-size: 1.8em; color: #2c3e50; margin: 0; font-weight: normal;\">' + readingsData.season + '</h2><div style=\"width: 60px; height: 3px; background-color: #3498db; margin: 20px auto;\"></div></div><div style=\"margin-bottom: 35px;\"><h3 style=\"color: #2980b9; font-size: 1.3em; margin-bottom: 15px; text-transform: uppercase; letter-spacing: 1px; font-weight: normal;\">Today\\'s Spiritual Focus</h3><p style=\"line-height: 1.8; font-size: 16px; color: #34495e;\">' + spiritualFocus + '</p><p style=\"line-height: 1.8; font-size: 16px; color: #34495e; margin-top: 15px;\"><strong style=\"color: #2980b9;\">Today\\'s Theme:</strong> ' + dateInfo.theme + '</p></div><div style=\"margin-bottom: 35px; background-color: #f8f9fa; padding: 25px; border-left: 4px solid #3498db;\"><h3 style=\"color: #2980b9; font-size: 1.3em; margin-bottom: 15px; text-transform: uppercase; letter-spacing: 1px; font-weight: normal;\">Today\\'s Readings</h3><div style=\"margin-bottom: 15px;\"><strong>First Reading:</strong> ' + readingsData.readings.firstReading + '<br><strong>Psalm:</strong> ' + readingsData.readings.psalm + '<br>' + secondReadingLine + '<strong>Gospel:</strong> ' + readingsData.readings.gospel + '</div><p style=\"line-height: 1.8; font-size: 16px; color: #34495e; margin-top: 20px;\">' + liturgicalReadings + '</p></div>' + saintSection + '<div style=\"margin-bottom: 35px;\"><h3 style=\"color: #2980b9; font-size: 1.3em; margin-bottom: 15px; text-transform: uppercase; letter-spacing: 1px; font-weight: normal;\">Reflection & Challenge</h3><p style=\"line-height: 1.8; font-size: 16px; color: #34495e;\">' + reflection + '</p><p style=\"line-height: 1.8; font-size: 16px; color: #34495e; margin-top: 20px;\"><strong style=\"font-weight: bold; color: #2980b9;\">Practical Spiritual Challenge:</strong> ' + practicalChallenge + '</p></div><div style=\"background: linear-gradient(135deg, #f8f9fa 0%, #ecf0f1 100%); padding: 30px; border-radius: 8px; text-align: center; border: 1px solid #bdc3c7;\"><h3 style=\"color: #2980b9; font-size: 1.3em; margin-bottom: 15px; text-transform: uppercase; letter-spacing: 1px; font-weight: normal;\">Daily Prayer</h3><p style=\"line-height: 1.8; font-size: 16px; color: #34495e; font-style: italic;\">' + prayer + '</p></div></div><div style=\"background-color: #34495e; color: #ecf0f1; padding: 30px; text-align: center;\"><p style=\"margin: 0; font-size: 14px;\">Ora et Labora<br><a href=\"' + readingsData.usccbLink + '\" style=\"color: #3498db; text-decoration: none;\">View Today\\'s Official Readings</a></p></div></div></body></html>';\n\nreturn {\n  html: htmlContent,\n  subject: 'Daily Benedictine Reflection - ' + dateInfo.today,\n  preview_info: {\n    date: dateInfo.today,\n    theme: dateInfo.theme,\n    has_saint: saintOfTheDay ? true : false,\n    saint_name: saintOfTheDay || 'None'\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -300,
        0
      ],
      "id": "build-html-email",
      "name": "Build HTML Email"
    },
    {
      "parameters": {
        "url": "http://172.17.0.1:8081/webhook/html",
        "method": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "text/html"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "text/html",
        "body": "={{ $json.html }}"
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -100,
        0
      ],
      "id": "send-to-preview",
      "name": "Send to Preview"
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Generate Mock Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Mock Data": {
      "main": [
        [
          {
            "node": "Build HTML Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build HTML Email": {
      "main": [
        [
          {
            "node": "Send to Preview",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "test-1.0",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "id": "daily-email-preview",
  "tags": [
    {
      "createdAt": "2025-09-11T21:20:00.000Z",
      "updatedAt": "2025-09-11T21:20:00.000Z",
      "id": "email-testing",
      "name": "email-testing"
    }
  ]
}