Prior attemps/New Daily Summary.json
{
  "name": "New Daily Summary",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 4
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "a0ddfc6b-37b8-4221-b97c-bdcc345d3919",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "jsCode": "// Get data from the trigger\nconst triggerData = $input.item.json;\n\n// Extract the date components we need\nconst dayOfWeek = triggerData['Day of week'];\nconst year = triggerData.Year;\nconst month = triggerData.Month;\nconst dayOfMonth = triggerData['Day of month'];\n\n// Create readable today format\nconst today = `${dayOfWeek}, ${month} ${parseInt(dayOfMonth)}, ${year}`;\n\n// Create month/day format for database lookups\nconst monthDay = `${new Date(`${month} 1, ${year}`).getMonth() + 1}/${parseInt(dayOfMonth)}`;\n\n// Create API date format (MM-DD) for Catholic Readings API\nconst monthNum = (new Date(`${month} 1, ${year}`).getMonth() + 1).toString().padStart(2, '0');\nconst dayNum = dayOfMonth.padStart(2, '0');\nconst apiDateFormat = `${monthNum}-${dayNum}`;\n\n// Benedictine themes by day of week\nconst themes = {\n  'Sunday': 'Worship & Community',\n  'Monday': 'Humility & Simplicity',\n  'Tuesday': 'Stability',\n  'Wednesday': 'Listening',\n  'Thursday': 'Hospitality & Kindness',\n  'Friday': 'Sacrifice & Repentance',\n  'Saturday': 'Rest & Beauty'\n};\n\n// Create USCCB date format (MMDDYY)\nconst yearShort = year.slice(-2);\nconst usccbDate = `${monthNum}${dayNum}${yearShort}`;\n\nconsole.log(`Processing date: ${today}`);\nconsole.log(`Month/Day format: ${monthDay}`);\nconsole.log(`API format: ${apiDateFormat}`);\nconsole.log(`USCCB format: ${usccbDate}`);\n\nreturn {\n  today: today,\n  dayOfWeek: dayOfWeek,\n  monthDay: monthDay,\n  apiDateFormat: apiDateFormat,\n  theme: themes[dayOfWeek] || 'Prayer',\n  usccbLink: `https://bible.usccb.org/bible/readings/${usccbDate}.cfm`,\n  year: year,\n  month: month,\n  dayOfMonth: dayOfMonth\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        0
      ],
      "id": "36f04f6b-54be-4dd4-9350-1984da7aa77d",
      "name": "Format Date"
    },
    {
      "parameters": {
        "url": "=https://cpbjr.github.io/catholic-readings-api/readings/2025/{{ $json.apiDateFormat }}.json",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        416,
        0
      ],
      "id": "6172747c-a727-42ec-b205-0dac2be64dcd",
      "name": "Get Readings"
    },
    {
      "parameters": {
        "url": "=https://cpbjr.github.io/catholic-readings-api/saints/2025/{{ $('Format Date').item.json.apiDateFormat }}.json",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        624,
        0
      ],
      "id": "ff4691d1-79ab-42c8-8609-d3181aa2910b",
      "name": "Get Saint",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "mode": "rules",
        "rules": {
          "values": [
            {
              "conditions": {
                "string": [
                  {
                    "value1": "={{ $json.data }}",
                    "operation": "contains",
                    "value2": "saint"
                  }
                ]
              },
              "renameOutput": "Saint Found"
            },
            {
              "conditions": {
                "string": [
                  {
                    "value1": "={{ $json.data }}",
                    "operation": "contains",
                    "value2": "Page not found"
                  }
                ]
              },
              "renameOutput": "No Saint"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        832,
        0
      ],
      "id": "8f2a1b5c-9d4e-6f7g-8h9i-0j1k2l3m4n5o",
      "name": "Route Saints Data"
    },
    {
      "parameters": {
        "jsCode": "// Merge readings with saint data\nconst readings = $('Get Readings').item.json;\nconst saints = $input.item.json;\nconst dateInfo = $('Format Date').item.json;\n\nreturn {\n  ...dateInfo,\n  readings: readings.readings,\n  season: readings.season,\n  usccbLink: readings.usccbLink,\n  saint: saints.saint,\n  hasSaint: true\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1040,
        -100
      ],
      "id": "9g3b2c6d-0e5f-7a8h-9i1j-2k3l4m5n6o7p",
      "name": "Merge with Saint"
    },
    {
      "parameters": {
        "jsCode": "// Continue with readings only (no saint for today)\nconst readings = $('Get Readings').item.json;\nconst dateInfo = $('Format Date').item.json;\n\nreturn {\n  ...dateInfo,\n  readings: readings.readings,\n  season: readings.season,\n  usccbLink: readings.usccbLink,\n  saint: null,\n  hasSaint: false\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1040,
        100
      ],
      "id": "1h4c3d7e-2f6g-8b9i-0j2k-3l4m5n6o7p8q",
      "name": "Continue without Saint"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1248,
        0
      ],
      "id": "2i5d4e8f-3g7h-9c0j-1k3l-4m5n6o7p8q9r",
      "name": "Merge Paths"
    },
    {
      "parameters": {
        "model": "grok-beta",
        "options": {
          "systemMessage": "You are a Catholic spiritual director creating daily reflections. Generate a beautiful, contemplative daily summary that includes:\n\n1. TODAY'S SPIRITUAL FOCUS: Based on the Benedictine theme\n2. LITURGICAL READINGS: Reference the provided readings with brief spiritual insight\n3. SAINT OF THE DAY: Include saint information if provided, otherwise focus on the readings\n4. REFLECTION: A paragraph connecting today's theme with the readings\n5. PRAYER: A short, personal prayer for the day\n\nKeep the tone warm, spiritual, and encouraging. Aim for 200-300 words total."
        }
      },
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1.3,
      "position": [
        1456,
        0
      ],
      "id": "3j6e5f9g-4h8i-0d1k-2l4m-5n6o7p8q9r0s",
      "name": "Generate Daily Summary"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Format Date",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Date": {
      "main": [
        [
          {
            "node": "Get Readings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Readings": {
      "main": [
        [
          {
            "node": "Get Saint",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Saint": {
      "main": [
        [
          {
            "node": "Route Saints Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route Saints Data": {
      "main": [
        [
          {
            "node": "Merge with Saint",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Continue without Saint",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge with Saint": {
      "main": [
        [
          {
            "node": "Merge Paths",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Continue without Saint": {
      "main": [
        [
          {
            "node": "Merge Paths",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Paths": {
      "main": [
        [
          {
            "node": "Generate Daily Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "3edb8663-8f6e-40d7-88d5-22c1d2cf0b67",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "98b4c83c8e4d45627da8cde541a1e8f02de67544faf97337b7e11c0f3b417f84"
  },
  "id": "G2L0dtZPueT5IkdI",
  "tags": []
}