Prior attemps/New Daily Summary - Buggy.json
{
  "name": "New Daily Summary - Buggy",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 4
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1168,
        176
      ],
      "id": "68dfc29b-4bab-4089-a412-e3624590fd97",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "jsCode": "// Get data from the trigger\nconst triggerData = $input.item.json;\n\n// Extract the date components we need\nconst dayOfWeek = triggerData['Day of week'];\nconst year = triggerData.Year;\nconst month = triggerData.Month;\nconst dayOfMonth = triggerData['Day of month'];\n\n// Create readable today format\nconst today = `${dayOfWeek}, ${month} ${parseInt(dayOfMonth)}, ${year}`;\n\n// Create month/day format for database lookups\nconst monthDay = `${new Date(`${month} 1, ${year}`).getMonth() + 1}/${parseInt(dayOfMonth)}`;\n\n// Create API date format (MM-DD) for Catholic Readings API\nconst monthNum = (new Date(`${month} 1, ${year}`).getMonth() + 1).toString().padStart(2, '0');\nconst dayNum = dayOfMonth.padStart(2, '0');\nconst apiDateFormat = `${monthNum}-${dayNum}`;\n\n// Benedictine themes by day of week\nconst themes = {\n  'Sunday': 'Worship & Community',\n  'Monday': 'Humility & Simplicity',\n  'Tuesday': 'Stability',\n  'Wednesday': 'Listening',\n  'Thursday': 'Hospitality & Kindness',\n  'Friday': 'Sacrifice & Repentance',\n  'Saturday': 'Rest & Beauty'\n};\n\n// Create USCCB date format (MMDDYY)\nconst yearShort = year.slice(-2);\nconst usccbDate = `${monthNum}${dayNum}${yearShort}`;\n\nconsole.log(`Processing date: ${today}`);\nconsole.log(`Month/Day format: ${monthDay}`);\nconsole.log(`API format: ${apiDateFormat}`);\nconsole.log(`USCCB format: ${usccbDate}`);\n\nreturn {\n  today: today,\n  dayOfWeek: dayOfWeek,\n  monthDay: monthDay,\n  apiDateFormat: apiDateFormat,\n  theme: themes[dayOfWeek] || 'Prayer',\n  usccbLink: `https://bible.usccb.org/bible/readings/${usccbDate}.cfm`,\n  year: year,\n  month: month,\n  dayOfMonth: dayOfMonth\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1008,
        176
      ],
      "id": "c2b9b6a1-17b1-459c-9cd1-1fa6b936aa74",
      "name": "Format Date"
    },
    {
      "parameters": {
        "url": "=https://cpbjr.github.io/catholic-readings-api/readings/2025/{{ $json.apiDateFormat }}.json",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -816,
        176
      ],
      "id": "3c1d0fcb-0b6f-499c-a1d3-8819639514d8",
      "name": "Get Readings"
    },
    {
      "parameters": {
        "url": "=https://cpbjr.github.io/catholic-readings-api/saints/2025/{{ $('Format Date').item.json.apiDateFormat }}.json",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -608,
        176
      ],
      "id": "cd75ee6e-8d6f-4995-b805-47e63de2ebd1",
      "name": "Get Saint",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// Merge readings with saint data - get data from the correct sources\n  const readings = $('Get Readings').first().json;\n  const saints = $input.first().json;\n  const dateInfo = $('Format Date').first().json;\n\n  console.log('Readings data:', readings);\n  console.log('Saints data:', saints);\n  console.log('Date info:', dateInfo);\n\n  return {\n    ...dateInfo,\n    readings: readings.readings,\n    season: readings.season,\n    usccbLink: readings.usccbLink,\n    saint: saints.saint,\n    hasSaint: true\n  };\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -192,
        272
      ],
      "id": "c59c11a3-bbec-4968-ba4a-c3d64639f0a3",
      "name": "Merge with Saint"
    },
    {
      "parameters": {
        "jsCode": "// Continue with readings only (no saint for today)\nconst readings = $('Get Readings').item.json;\nconst dateInfo = $('Format Date').item.json;\n\nreturn {\n  ...dateInfo,\n  readings: readings.readings,\n  season: readings.season,\n  usccbLink: readings.usccbLink,\n  saint: null,\n  hasSaint: false\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -192,
        112
      ],
      "id": "9e623132-b4c3-4f33-9f63-09c837ed199c",
      "name": "Continue without Saint"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.data }}",
                    "rightValue": "Page not found",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "33282f06-d9c9-4ca1-ab81-aca62c5a8d6a"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "No Saint"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "0c6d3d38-b30e-4bc5-9e7c-e3b3804b1010",
                    "leftValue": "={{ $json.saint.name }}",
                    "rightValue": "saint",
                    "operator": {
                      "type": "string",
                      "operation": "notEmpty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Saint Found"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -416,
        176
      ],
      "id": "7c8e86f6-8176-44e8-bdfa-128bea93fa44",
      "name": "Switch"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Create today's Benedictine daily summary using this data:\n\n  **Date & Theme:**\n  - Today: {{ $json.today }}\n  - Day: {{ $json.dayOfWeek }}\n  - Benedictine Theme: {{ $json.theme }}\n\n  **Liturgical Information:**\n  - Season: {{ $json.season }}\n  - First Reading: {{ $json.readings.firstReading }}\n  - Psalm: {{ $json.readings.psalm }}\n  {{ $json.readings.secondReading ? '- Second Reading: ' + $json.readings.secondReading : '' }}\n  - Gospel: {{ $json.readings.gospel }}\n  - USCCB Link: {{ $json.usccbLink }}\n\n  **Saint Information:**\n  - Has Saint Today: {{ $json.hasSaint }}\n  {{ $json.saint ? '- Saint: ' + $json.saint.name + ' (' + $json.saint.type + ')' : '' }}\n  {{ $json.saint ? '- Quote: \"' + $json.saint.quote + '\"' : '' }}\n  {{ $json.saint ? '- Description: ' + $json.saint.description : '' }}\n\n  Generate the spiritual reflection following the structured format, integrating the Benedictine theme with today's readings and saint (if present). Include a practical spiritual challenge related to {{ $json.theme }}.",
        "options": {
          "systemMessage": "You are an AI assistant generating structured spiritual content for an n8n workflow. Your response MUST be a native JavaScript object with direct, named properties, NOT a stringified JSON or text string. Do NOT wrap the output in quotes, backticks, or any JSON string format. The output should be a structured JavaScript object that can be accessed directly in n8n (e.g., output.spiritualFocus). Return the object with the following fields:\n\n- spiritualFocus: string (a brief focus for spiritual growth)\n- liturgicalReadings: string (relevant liturgical readings for the day)\n- saintOfTheDay: string or null (name and brief description of the saint of the day, or null if none)\n- reflection: string (a short spiritual reflection)\n- practicalChallenge: string (a practical action for the day)\n- prayer: string (a short prayer)\n\nExample of REQUIRED output format:\n{\n  spiritualFocus: \"Cultivating patience\",\n  liturgicalReadings: \"John 3:16-21\",\n  saintOfTheDay: \"St. John Bosco, patron of youth\",\n  reflection: \"Reflect on God's unending patience with us.\",\n  practicalChallenge: \"Practice patience in a challenging situation today.\",\n  prayer: \"Lord, grant me the grace to be patient and kind.\"\n}\n\nUnder NO circumstances return a string, JSON string, or text containing curly braces or quotes around the object. The output must be a native JavaScript object with accessible properties."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        16,
        176
      ],
      "id": "516fef97-2e3f-4c68-9e71-7a2f98706bfc",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "grok-4-0709",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatXAiGrok",
      "typeVersion": 1,
      "position": [
        -80,
        464
      ],
      "id": "d479de71-7ed6-4c86-8bc6-668bd4b705bf",
      "name": "xAI Grok Chat Model",
      "credentials": {
        "xAiApi": {
          "id": "7oPPlHxdf6c1gi7K",
          "name": "xAi account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "cpbjr@mac.com",
        "subject": "=Daily Spiritual Email for {{ $('Format Date').item.json.today }}",
        "message": "={{ $json.htmlContent }}",
        "options": {
          "senderName": "Saint Benedict"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        976,
        176
      ],
      "id": "cad8b527-a143-4205-8206-b85cb9b7d8f6",
      "name": "Send a message",
      "webhookId": "d6913533-2c28-4854-93c6-b3d15a293c62",
      "credentials": {
        "gmailOAuth2": {
          "id": "P3gXB3MLpafPjc7x",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Format the AI output into beautiful HTML email\n  const aiOutput = JSON.parse($input.first().json.output);\n  const dateInfo = $('Format Date').first().json;\n  const readingsData = $('Get Readings').first().json;\n\n  // Build second reading line\n  const secondReadingLine = readingsData.readings.secondReading ?\n    '<strong>Second Reading:</strong> ' + readingsData.readings.secondReading + '<br>' : '';\n\n  // Handle saint section - adapt to current AI output format\n  const saintSection = aiOutput.saintOfTheDay ?\n    '<div style=\"margin-bottom: 35px; background-color: #fff3cd; padding: 25px; border-left: 4px\n   solid #f39c12;\"><h3 style=\"color: #d68910; font-size: 1.3em; margin-bottom: 15px; \n  text-transform: uppercase; letter-spacing: 1px; font-weight: normal;\">Saint of the Day</h3><p \n  style=\"line-height: 1.8; font-size: 16px; color: #34495e;\">' + aiOutput.saintOfTheDay +\n  '</p></div>' : '';\n\n  // Build HTML content using string concatenation to avoid template literal issues\n  const htmlContent = '<!DOCTYPE html><html><head><meta charset=\"utf-8\"><meta name=\"viewport\" \n  content=\"width=device-width, initial-scale=1.0\"><title>Daily Benedictine \n  Reflection</title></head><body style=\"margin: 0; padding: 0; font-family: Georgia, Times New \n  Roman, serif; background-color: #f8f9fa; color: #2c3e50;\"><div style=\"max-width: 800px; \n  margin: 0 auto; background-color: #ffffff; box-shadow: 0 2px 10px rgba(0,0,0,0.1);\"><div \n  style=\"background: linear-gradient(135deg, #34495e 0%, #2c3e50 100%); color: white; padding: \n  40px 20px; text-align: center;\"><h1 style=\"margin: 0; font-size: 2.5em; font-weight: normal; \n  letter-spacing: 2px;\">Daily Benedictine Reflection</h1></div><div style=\"background-color: \n  #ecf0f1; padding: 20px; text-align: center; border-bottom: 1px solid #bdc3c7;\"><div \n  style=\"display: inline-flex; align-items: center; gap: 30px;\"><span style=\"color: #7f8c8d; \n  font-size: 14px; text-transform: uppercase; letter-spacing: 1px;\">' + dateInfo.today +\n  '</span></div></div><div style=\"padding: 40px;\"><div style=\"text-align: center; margin-bottom:\n   40px;\"><h2 style=\"font-size: 1.8em; color: #2c3e50; margin: 0; font-weight: normal;\">' +\n  readingsData.season + ' • ' + dateInfo.theme + '</h2><div style=\"width: 60px; height: 3px; \n  background-color: #3498db; margin: 20px auto;\"></div></div><div style=\"margin-bottom: \n  35px;\"><h3 style=\"color: #2980b9; font-size: 1.3em; margin-bottom: 15px; text-transform: \n  uppercase; letter-spacing: 1px; font-weight: normal;\">Today\\'s Spiritual Focus</h3><p \n  style=\"line-height: 1.8; font-size: 16px; color: #34495e;\">' + aiOutput.spiritualFocus +\n  '</p></div><div style=\"margin-bottom: 35px; background-color: #f8f9fa; padding: 25px; \n  border-left: 4px solid #3498db;\"><h3 style=\"color: #2980b9; font-size: 1.3em; margin-bottom: \n  15px; text-transform: uppercase; letter-spacing: 1px; font-weight: normal;\">Today\\'s \n  Readings</h3><div style=\"margin-bottom: 15px;\"><strong>First Reading:</strong> ' +\n  readingsData.readings.firstReading + '<br><strong>Psalm:</strong> ' +\n  readingsData.readings.psalm + '<br>' + secondReadingLine + '<strong>Gospel:</strong> ' +\n  readingsData.readings.gospel + '</div><p style=\"line-height: 1.8; font-size: 16px; color: \n  #34495e; margin-top: 20px;\">' + (aiOutput.liturgicalReadings || aiOutput.liturgicalInsight) +\n  '</p></div>' + saintSection + '<div style=\"margin-bottom: 35px;\"><h3 style=\"color: #2980b9; \n  font-size: 1.3em; margin-bottom: 15px; text-transform: uppercase; letter-spacing: 1px; \n  font-weight: normal;\">Reflection & Challenge</h3><p style=\"line-height: 1.8; font-size: 16px; \n  color: #34495e;\">' + aiOutput.reflection + '</p><p style=\"line-height: 1.8; font-size: 16px; \n  color: #34495e; margin-top: 20px;\"><strong>Practical Spiritual Challenge:</strong> ' +\n  aiOutput.practicalChallenge + '</p></div><div style=\"background: linear-gradient(135deg, \n  #f8f9fa 0%, #ecf0f1 100%); padding: 30px; border-radius: 8px; text-align: center; border: 1px \n  solid #bdc3c7;\"><h3 style=\"color: #2980b9; font-size: 1.3em; margin-bottom: 15px; \n  text-transform: uppercase; letter-spacing: 1px; font-weight: normal;\">Daily Prayer</h3><p \n  style=\"line-height: 1.8; font-size: 16px; color: #34495e; font-style: italic;\">' +\n  aiOutput.prayer + '</p></div></div><div style=\"background-color: #34495e; color: #ecf0f1; \n  padding: 30px; text-align: center;\"><p style=\"margin: 0; font-size: 14px;\">Ora et Labora<br><a\n   href=\"' + readingsData.usccbLink + '\" style=\"color: #3498db; text-decoration: none;\">View \n  Today\\'s Official Readings</a></p></div></div></body></html>';\n\n  return {\n    htmlContent: htmlContent,\n    subject: 'Daily Benedictine Reflection - ' + dateInfo.today,\n    aiOutput: aiOutput,\n    dateInfo: dateInfo\n  };\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        176
      ],
      "id": "7c84fd8b-ab20-4c74-a844-3657425ba6d2",
      "name": "Build HTML"
    },
    {
      "parameters": {
        "jsCode": "// Parse AI Agent JSON output with proper error handling\n  const rawOutput = $input.first().json.output;\n\n  // Clean the escaped characters step by step\n  let cleanedOutput = rawOutput\n    .replace(/\\\\n/g, '\\n')      // Convert literal \\n to actual newlines\n    .replace(/\\\\\"/g, '\"')       // Convert escaped quotes to regular quotes\n    .replace(/\\\\\\\\/g, '\\\\');    // Handle double-escaped backslashes\n\n  // Parse the JSON with error handling\n  let parsedOutput;\n  try {\n    parsedOutput = JSON.parse(cleanedOutput);\n  } catch (error) {\n    // If that fails, try replacing newlines with spaces instead\n    cleanedOutput = rawOutput\n      .replace(/\\\\n/g, ' ')     // Replace newlines with spaces\n      .replace(/\\\\\"/g, '\"')     // Convert escaped quotes\n      .replace(/\\\\\\\\/g, '\\\\');  // Handle escaped backslashes\n\n    try {\n      parsedOutput = JSON.parse(cleanedOutput);\n    } catch (secondError) {\n      // If still failing, return error info for debugging\n      return {\n        error: 'JSON parsing failed',\n        rawOutput: rawOutput,\n        cleanedOutput: cleanedOutput,\n        parseError: secondError.message\n      };\n    }\n  }\n\n  // Return clean, parsed fields\n  return {\n    spiritualFocus: parsedOutput.spiritualFocus || 'No spiritual focus available',\n    liturgicalReadings: parsedOutput.liturgicalReadings || parsedOutput.liturgicalInsight || 'No\n   liturgical insight available',\n    saintOfTheDay: parsedOutput.saintOfTheDay || null,\n    reflection: parsedOutput.reflection || 'No reflection available',\n    practicalChallenge: parsedOutput.practicalChallenge || 'No practical challenge available',\n    prayer: parsedOutput.prayer || 'No prayer available'\n  };\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        368,
        176
      ],
      "id": "b7637a95-bb26-4ecf-8a71-b7e3baac26d8",
      "name": "Code"
    }
  ],
  "pinData": {
    "AI Agent": [
      {
        "json": {
          "output": "{\n  spiritualFocus: \"Embracing Stability in Faith\",\n  liturgicalReadings: \"Colossians 2:6-15; Psalm 145:1b-2, 8-9, 10-11; Luke 6:12-19\",\n  saintOfTheDay: \"St. Peter Claver, Jesuit who ministered to African slaves in Colombia, known as 'Slave of the slaves forever.'\",\n  reflection: \"In today's readings, St. Paul urges us to be rooted and built up in Christ, much like the Benedictine vow of stability calls us to persevere in our commitments. Jesus' selection of the apostles in Luke reminds us of the stability found in community and vocation. St. Peter Claver exemplified this by steadfastly serving the marginalized, remaining 'rooted' in his mission despite hardships. Let us seek stability in our spiritual lives, grounded in God's unwavering love as praised in the Psalm.\",\n  practicalChallenge: \"Practice stability today by committing to one daily routine or task without distraction, such as a set time for prayer or work, and resist the urge to multitask or flee from challenges.\",\n  prayer: \"Lord, root us firmly in Your love and grant us the grace of stability, like St. Peter Claver, to remain faithful in our vocations. Amen.\"\n}"
        }
      }
    ]
  },
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Format Date",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Date": {
      "main": [
        [
          {
            "node": "Get Readings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Readings": {
      "main": [
        [
          {
            "node": "Get Saint",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Saint": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge with Saint": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Continue without Saint": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Continue without Saint",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge with Saint",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "xAI Grok Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build HTML": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Build HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "timeSavedPerExecution": 30
  },
  "versionId": "da10d9d0-8658-4b4d-bb19-7dc2a4d156c9",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "98b4c83c8e4d45627da8cde541a1e8f02de67544faf97337b7e11c0f3b417f84"
  },
  "id": "G2L0dtZPueT5IkdI",
  "tags": []
}